{% extends request.ajax ? 'layout_blank.html.twig' : 'layout_default.html.twig' %}

{% import 'macro_functions.html.twig' as mf %}

{% block meta_title %}{{ 'Invoice'|trans }} {{ invoice.serie }}{{ "%05s"|format(invoice.nr) }}{% endblock %}

{% set active_menu = 'invoice' %}

{% block breadcrumbs %}
<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="{{ '/'|alink }}">
            <svg class="icon">
                <use xlink:href="#home" />
            </svg>
        </a>    
    </li>
    <li class="breadcrumb-item">
        <a href="{{ 'invoice'|alink }}">{{ 'Invoices'|trans }}</a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">{{ invoice.serie }}{{ '%05s'|format(invoice.nr) }}</li>
</ol>
{% endblock %}

{% block content %}
<div class="card mb-3">
    <div class="card-header">
        <h5 class="mb-0">{{ 'Invoice'|trans }} #{{ invoice.id }}&nbsp;&nbsp;</h5> 
        {% if invoice.status == 'paid' %}
            <span class="badge bg-success text-white">
        {% endif %}
        {% if invoice.status == 'unpaid' %}
            <span class="badge bg-danger text-white">
        {% endif %}
        {% if invoice.status == 'refunded' %}
            <span class="badge bg-warning text-white">
        {% endif %}
        {% if invoice.status == 'canceled' %}
            <span class="badge bg-secondary text-white">
        {% endif %}
        {% if invoice.status == 'revoked' %}
            <span class="badge bg-danger text-white">
        {% endif %}
        {{ mf.status_name(invoice.status) }}
        </span>
    </div>

    <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item" role="presentation">
            <a class="nav-link active" href="#tab-info" data-bs-toggle="tab">{{ 'Details'|trans }}</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" href="#tab-manage" data-bs-toggle="tab">{{ 'Manage'|trans }}</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" href="#tab-texts" data-bs-toggle="tab">{{ 'Texts'|trans }}</a>
        </li>
    </ul>

    <div class="tab-content">
        <div class="tab-pane fade show active" id="tab-info" role="tabpanel">
            <table class="table card-table table-vcenter table-striped text-nowrap">
                <tbody>
                    <tr>
                        <td class="w-10 text-start"><b>{{ 'Invoice Details'|trans }}:</b></td>
                        <td></td>
                        <td class="w-15 text-start"><b>{{ 'Client Details'|trans }}</b></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td class="w-10 text-start">{{ 'ID'|trans }}:</td>
                        <td>#{{ invoice.id }}</td>
                        <td class="w-15 text-start">{{ 'First name'|trans }}:</td>
                        <td>{{ invoice.buyer.first_name }}</td>
                    </tr>
                    <tr>
                        <td class="w-15 text-start">{{ 'Number'|trans }}:</td>
                        <td>{{ invoice.serie }}{{ "%05s"|format(invoice.nr) }}</td>
                        <td class="w-15 text-start">{{ 'Last name'|trans }}:</td>
                        <td>{{ invoice.buyer.last_name  }}</td>
                    </tr>
                    <tr>
                        <td class="text-start">{{ 'Client'|trans }}:</td>
                        <td><a href="{{ 'client/manage'|alink }}/{{ invoice.client.id }}">{{ invoice.client.first_name }} {{ invoice.client.last_name }}</a></td>
                        <td class="w-15 text-start">{{ 'Company'|trans }}:</td>
                        <td>{{ invoice.buyer.company }}</td>
                    </tr>
                    <tr>
                        <td class="text-start">{{ 'Currency'|trans }}:</td>
                        <td>{{ invoice.currency }}</td>
                        <td class="w-15 text-start">{{ 'Company VAT'|trans }} / {{ 'Company No'|trans }}:</td>
                        <td>{{ invoice.buyer.company_vat }} / {{ invoice.buyer.company_number }}</td>
                    </tr>
                    <tr>
                        <td class="text-start">{{ 'Invoice Date'|trans }}:</td>
                        <td>{{ invoice.created_at|format_datetime }}</td>
                        <td class="w-15 text-start">{{ 'Address'|trans }}:</td>
                        <td>{{ invoice.buyer.address  }}</td>                            
                    </tr>
                    <tr>
                        <td class="text-start">{{ 'Due Date'|trans }}:</td>
                        <td>{{ invoice.due_at|format_datetime }}</td>
                        <td class="w-15 text-start">{{ 'Zip'|trans }}, {{ 'City'|trans }}:</td>
                        <td>{{ invoice.buyer.zip }}, {{ invoice.buyer.city }}</td>
                    </tr>
                    <tr>
                        <td class="text-start">{{ 'Paid Date'|trans }}:</td>
                        <td>{% if invoice.paid_at %}{{ invoice.paid_at|format_datetime }}{% else %}-{% endif %}</td>
                        <td class="w-15 text-start">{{ 'State'|trans }}:</td>
                        <td>{{ invoice.buyer.state  }}</td>
                    </tr>
                    <tr>
                        <td class="text-start">{{ 'Last Reminded'|trans }}:</td>
                        {% if invoice.reminded_at %}<td title={{ invoice.reminded_at|format_datetime }}>{{ invoice.reminded_at|timeago }} {{ 'ago'|trans }}</td>{% else %}<td>-</td>{% endif %}
                        <td class="w-15 text-start">{{ 'Country'|trans }}:</td>
                        <td>{{ invoice.buyer.country  }}</td>
                    </tr>
                    <tr>
                        {% if invoice.tax %}
                        <td class="text-start">{{ invoice.taxname }} {{ invoice.taxrate }}%:</td>
                        <td>{{ mf.currency_format(invoice.tax, invoice.currency) }}</td>
                        {% else %}
                        <td class="text-start">{{ 'Total'|trans }}:</td>
                        <td>{{ mf.currency_format(invoice.total, invoice.currency) }}</td>
                    {% endif %}
                        <td class="w-15 text-start">{{ 'Phone'|trans }}:</td>
                        <td>+{{ invoice.buyer.phone  }}</td>
                    </tr>
                    <tr>
                        {% if invoice.tax %}
                        <td class="text-start">{{ 'Total'|trans }}:</td>
                        <td>{{ mf.currency_format(invoice.total, invoice.currency) }}</td>
                        {% else %}
                        <td></td>
                        <td></td>
                        {% endif %}
                        <td class="w-15 text-start">{{ 'Email'|trans }}:</td>
                        <td>{{ invoice.buyer.email  }}</td>
                    </tr>
                    {% if invoice.notes %}
                    <tr>
                        <td class="text-start">{{ 'Notes'|trans }}:</td>
                        <td>{{ invoice.notes|markdown }}</td>
                    </tr>
                    {% endif %}
                </tbody>
            </table>
            <div class="card-footer text-center">
                <a href="{{ 'invoice'|link }}/{{ invoice.hash }}" class="btn btn-primary" target="_blank">
                    <svg class="icon" width="24" height="24">
                        <use xlink:href="#eye" />
                    </svg>
                    <span>{{ 'View as client'|trans }}</span>
                </a>
                {% if invoice.status == 'unpaid' %}
                <a href="{{ 'api/admin/invoice/revoke'|link({ 'id': invoice.id, 'CSRFToken': CSRFToken }) }}" class="btn btn-primary api-link" data-api-confirm="{{ 'Are you sure?'|trans }}" data-api-redirect="{{ 'invoice'|alink }}">
                    <svg class="icon" width="24" height="24">
                        <use xlink:href="#close" />
                    </svg>
                    <span>{{ 'Revoke'|trans }}</span>
                </a>
                {% endif %}
                {% if invoice.status == 'unpaid' %}
                <a href="{{ 'api/admin/invoice/update_client_address'|link({ 'id': invoice.id, 'CSRFToken': CSRFToken}) }}" class="btn btn-primary api-link" data-api-msg="Adress data Updated">
                    <svg class="icon" width="24" height="24">
                        <use xlink:href="#refresh" />
                    </svg>
                    <span>{{ 'Update Data'|trans }}</span>
                </a>
                <a href="{{ 'api/admin/invoice/send_reminder'|link({ 'id': invoice.id, 'CSRFToken': CSRFToken}) }}" class="btn btn-primary api-link" data-api-msg="Payment reminder was sent">
                    <svg class="icon" width="24" height="24">
                        <use xlink:href="#mail" />
                    </svg>
                    <span>{{ 'Send reminder'|trans }}</span>
                </a>
                <a href="#" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#transactionModal">
                    <svg class="icon" width="24" height="24">
                        <use xlink:href="#check" />
                    </svg>
                    <span>{{ 'Mark as paid'|trans }}</span>
                </a>
                <div class="modal fade" id="transactionModal" tabindex="-1" aria-labelledby="transactionModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <form class="modal-content api-form" method="post" action="{{ 'api/admin/invoice/mark_as_paid'|link({ 'id': invoice.id, 'execute': 1, 'CSRFToken': CSRFToken }) }}" name="transactionForm" data-api-reload="1">
                            <div class="modal-header">
                                <h5 class="modal-title" id="transactionModalLabel">{{ 'Enter Custom Transaction ID'|trans }}:</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <input type="hidden" name="CSRFToken" value="{{ CSRFToken }}">
                                <input type="hidden" name="id" value="{{ invoice.id }}">
                                <div class="mb-3 row">
                                    <label class="col-md-3 col-form-label" for="transaction-id">{{ 'Transaction ID'|trans }}:</label>
                                    <div class="col">
                                        <input class="form-control" type="text" name="transactionId" id="transaction-id">
                                    </div>
                                </div>
                                <div class="mb-3 row">
                                    <div class="col">
                                        {{ 'Add the transaction ID of the payment to mark the invoice as paid.' |trans }}<br />
                                        {{ 'This should be the transaction ID you use to reconcile your bank statement.' |trans }}
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <a href="#" class="btn btn-link link-secondary" data-bs-dismiss="modal">{{ 'Cancel'|trans }}</a>
                                <input type="submit" class="btn btn-primary" value="{{ 'Submit'|trans }}">
                            </div>
                        </form>
                    </div>
                </div>
                {% endif %}
                {% if invoice.status == 'paid' %}
                <a href="{{ 'api/admin/invoice/refund'|link({ 'id': invoice.id, 'CSRFToken': CSRFToken }) }}" class="btn btn-primary api-link" data-api-confirm="{{ 'Are you sure?'|trans }}" data-api-redirect="{{ 'invoice'|alink }}">
                    <svg class="icon" width="24" height="24">
                        <use xlink:href="#receipt-refund" />
                    </svg>
                    <span>{{ 'Refund'|trans }}</span>
                </a>
                {% endif %}
                <a href="{{ 'invoice/pdf'|link }}/{{ invoice.hash }}" class="btn btn-primary" target="_blank">
                    <svg class="icon" width="24" height="24">
                        <use xlink:href="#download" />
                    </svg>
                    <span>{{ 'PDF'|trans }}</span>
                </a>
            </div>
        </div>
        <div class="tab-pane fade" id="tab-manage" role="tabpanel">
            <form action="{{ 'api/admin/invoice/update'|link }}" method="post" class="api-form" data-api-reload="{{ 'Invoice updated'|trans }}">
                <div class="card-body">
                    <input type="hidden" name="CSRFToken" value="{{ CSRFToken }}"/>
                    {% if invoice.status == 'unpaid' %}
                    <div class="mb-3 row">
                        <div class="mb-3 row">
                            <div class="col">
                                <label class="form-label col-3 col-form-label">{{ 'Approved'|trans }}:</label>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" id="radioApprovedYes" type="radio" name="approved" value="1"{% if invoice.approved  %} checked{% endif %}>
                                    <label class="form-check-label" for="radioApprovedYes">{{ 'Yes'|trans }}</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" id="radioApprovedNo" type="radio" name="approved" value="0"{% if not invoice.approved %} checked{% endif %}>
                                    <label class="form-check-label" for="radioApprovedNo">{{ 'No'|trans }}</label>
                                </div>
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <div class="col">
                                <label class="form-label col-3 col-form-label">{{ 'Payment method'|trans }}:</label>
                                {{ mf.selectbox('gateway_id', guest.invoice_gateways({ "format": "pairs" }), invoice.gateway_id, 0, 'Select payment method') }}
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <div class="col">
                                <label class="form-label col-3 col-form-label" for="created_at">{{ 'Invoice Date'|trans }}:</label>
                                <div class="input-group">
                                    <div class="input-icon w-100">
                                        <input class="form-control datepicker" id="created_at" value="{{ invoice.created_at|format_date }}" name="created_at">
                                        <span class="input-icon-addon">
                                            <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                                <path d="M4 5m0 2a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2z"></path>
                                                <path d="M16 3l0 4"></path>
                                                <path d="M8 3l0 4"></path>
                                                <path d="M4 11l16 0"></path>
                                                <path d="M11 15l1 0"></path>
                                                <path d="M12 15l0 3"></path>
                                            </svg>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <div class="col">
                            <label class="form-label col-3 col-form-label" for="due_at">{{ 'Due Date'|trans }}:</label>
                            <div class="input-group">
                                <div class="input-icon w-100">
                                    <input class="form-control datepicker" id="due_at" value="{% if invoice.due_at %}{{ invoice.due_at|format_date }}{% endif %}" name="due_at">
                                    <span class="input-icon-addon">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                            <path d="M4 5m0 2a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2z"></path>
                                            <path d="M16 3l0 4"></path>
                                            <path d="M8 3l0 4"></path>
                                            <path d="M4 11l16 0"></path>
                                            <path d="M11 15l1 0"></path>
                                            <path d="M12 15l0 3"></path>
                                        </svg>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <div class="col">
                            <label class="form-label col-3 col-form-label" for="paid_at">{{ 'Paid Date'|trans }}:</label>
                            <div class="input-group">
                                <div class="input-icon w-100">
                                    <input class="form-control datepicker" id="paid_at" value="{% if invoice.paid_at %}{{ invoice.paid_at|format_date }}{% endif %}" name="paid_at">
                                    <span class="input-icon-addon">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                            <path d="M4 5m0 2a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2z"></path>
                                            <path d="M16 3l0 4"></path>
                                            <path d="M8 3l0 4"></path>
                                            <path d="M4 11l16 0"></path>
                                            <path d="M11 15l1 0"></path>
                                            <path d="M12 15l0 3"></path>
                                        </svg>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    <!-- Table with paid invoice data -->
                    <table class="table card-table table-vcenter table-striped text-nowrap">
                        <tbody>
                            <tr>
                                <td class="w-10 text-start"><b>{{ 'Invoice Details'|trans }}:</b></td>
                                <td></td>
                            </tr>
                            {% if invoice.status == 'paid' %}
                                <tr>
                                    <td class="w-10 text-start">{{ 'Invoice Date'|trans }}:</td>
                                    <td>{{ invoice.created_at|format_date}}</td>
                                </tr>
                                <tr>
                                    <td class="w-15 text-start">{{ 'Due Date'|trans }}:</td>
                                    <td>{{ invoice.due_at |format_date }}</td>
                                </tr>
                                <tr>
                                    <td class="text-start">{{ 'Paid Date'|trans }}:</td>
                                    <td>{{ invoice.paid_at|format_date }}</td>
                                </tr>
                                <tr>
                                    <td class="text-start">{{ 'Notes'|trans }}:</td>
                                    <td class="text-start"><textarea class="form-control" name="notes" rows="6">{{ invoice.notes }}</textarea></td>
                                </tr>
                            {% endif %}
                        </tbody>
                    </table>
                    
                    <input type="hidden" name="id" value="{{ invoice.id }}">
                    <input type="submit" value="{{ 'Update'|trans }}" class="btn btn-primary w-100">
                </div>
            </form>
        </div>
        <div class="tab-pane fade" id="tab-texts" role="tabpanel">
            <div class="card-body">
                {% if invoice.status == 'unpaid' %}
                <form action="{{ 'api/admin/invoice/update'|link }}" method="post" class="api-form" data-api-msg="{{ 'Invoice updated'|trans }}">
                    <input type="hidden" name="CSRFToken" value="{{ CSRFToken }}"/>
                    <div class="mb-3 row">
                        <label class="form-label col-3 col-form-label">{{ 'Text before invoice items'|trans }}:</label>
                        <div class="col">
                            <textarea class="form-control bb-textarea" name="text_1" rows="6">{{ invoice.text_1 }}</textarea>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label class="form-label col-3 col-form-label">{{ 'Text after invoice items'|trans }}:</label>
                        <div class="col">
                            <textarea class="form-control bb-textarea" name="text_2" rows="6">{{ invoice.text_2 }}</textarea>
                        </div>
                    </div>

                    <input type="hidden" name="id" value="{{ invoice.id }}">
                    <button class="btn btn-primary w-100" type="submit">{{ 'Update'|trans }}</button>
                </form>
                {% else %}
                <div class="mb-3 row">
                    <label class="form-label col-3 col-form-label"><b>{{ 'Text before invoice items'|trans }}:</b></label><br />
                    {{ invoice.text_1 }}
                </div>
                <div class="mb-3 row">
                    <label class="form-label col-3 col-form-label"><b>{{ 'Text after invoice items'|trans }}:</b></label><br />
                    {{ invoice.text_2 }}
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
<div class="card mb-3">
    <div class="card-body">
        <h5>{{ 'Invoice items'|trans }}</h5>
    </div>

    {% if not invoice.approved %}
    <form action="{{ 'api/admin/invoice/update'|link }}" method="post" class="api-form" data-api-reload="1">
        <input type="hidden" name="CSRFToken" value="{{ CSRFToken }}"/>
        <table class="table card-table table-vcenter table-striped text-nowrap">
            <thead>
                <tr>
                    <th>{{ 'Title'|trans }}</th>
                    <th class="text-center w-10">{{ 'Quantity'|trans }}</th>
                    <th class="text-center w-25">{{ 'Price'|trans }}</th>
                    <th class="w-1">{{ 'Tax'|trans }}</th>
                    <th class="w-1"></th>
                </tr>
            </thead>
            <tbody>
                {% for i, item in invoice.lines %}
                <tr>
                    <td>
                        <input class="form-control" type="text" name="items[{{ item.id }}][title]" value="{{ item.title }}">
                    </td>
                    <td>
                        <input class="form-control text-center" type="number" name="items[{{ item.id }}][quantity]" value="{{ item.quantity }}" min="1" max="1000" required>
                    </td>
                    <td>
                        <div class="input-group">
                            <input class="form-control" type="text" name="items[{{ item.id }}][price]" value="{{ item.price }}">
                            <span class="input-group-text">{{ invoice.currency }}</span>
                        </div>
                    </td>
                    <td class="text-center">
                        <input class="form-check-input m-0 align-middle" type="checkbox" name="items[{{ item.id }}][taxed]" value="1"{% if item.taxed %} checked{% endif %}>
                    </td>
                    <td>
                        <a class="btn btn-icon api-link"
                        href="{{ 'api/admin/invoice/item_delete'|link({ 'id': item.id, 'CSRFToken': CSRFToken }) }}"
                        data-api-confirm="{{ 'Are you sure?'|trans }}"
                        data-api-reload="1">
                            <svg class="icon">
                                <use xlink:href="#delete" />
                            </svg>
                        </a>
                    </td>
                </tr>
                {% endfor %}
                <tr>
                    <td>
                        <input class="form-control" type="text" name="new_item[title]" oninput="this.form['new_item[quantity]'].required = this.value.trim() !== ''">
                    </td>
                    <td>
                        <input class="form-control text-center" type="number" name="new_item[quantity]" min="1" max="1000">
                    </td>
                    <td class="text-center">
                        <div class="input-group">
                            <input class="form-control" type="text" name="new_item[price]" oninput="this.form['new_item[quantity]'].required = this.value.trim() !== ''">
                            <span class="input-group-text">{{ invoice.currency }}</span>
                        </div>
                    </td>
                    <td class="text-center">
                        <input class="form-check-input m-0 align-middle" type="checkbox" name="new_item[taxed]" value="1">
                    </td>
                    <td></td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="4" class="currency">
                    {{ 'Subtotal'|trans }}: {{ mf.currency_format(invoice.subtotal, invoice.currency) }}
                    </td>
                </tr>
                <tr>
                    <td colspan="4" class="currency">
                    {{ invoice.taxname }} {{ invoice.taxrate }}%: {{ mf.currency_format(invoice.tax, invoice.currency) }}
                    </td>
                </tr>
                <tr>
                    <td colspan="4" class="currency">
                    {{ 'Total'|trans }}: {{ mf.currency_format(invoice.total, invoice.currency) }}
                    </td>
                </tr>
            </tfoot>
        </table>
        <input type="hidden" name="id" value="{{ invoice.id }}">
        <input type="submit" value="{{ 'Update'|trans }}" class="btn btn-primary w-25">
    </form>
    {% else %}
    <div class="card-footer d-flex gap-2">
    {% if not invoice.approved %}
    <a class="btn btn-success w-100 api-link" href="{{ 'api/admin/invoice/approve'|link({ 'id': invoice.id, 'CSRFToken': CSRFToken }) }}" data-api-reload="{{ 'invoices'|alink }}">
        <svg class="icon">
            <use xlink:href="#check" />
        </svg>
        {{ 'Approve'|trans }}
    </a>
    {% endif %}
    {% endif %}
</div>
<div class="card mb-3">
    <table class="table card-table table-vcenter table-striped text-nowrap">
        <thead>
            <tr>
                <th class="w-1"></th>
                <th class="w-1"></th>
                <th>{{ 'Title'|trans }}</th>
                <th class="text-center">{{ 'Tax'|trans }}</th>
                <th class="text-end w-1">{{ 'Total'|trans }}</th>
            </tr>
        </thead>
        <tbody>
        {% for i, item in invoice.lines %}
            <tr>
                <td>{{ i + 1 }}</td>
                <td class="d-flex">
                    <div class="bull task {{ item.status }}" title="Task status: {{ mf.status_name(item.status) }}"></div>
                    <div class="bull charge {{ item.charged ? 'yes' : 'no' }}" title="{{ item.charged ? 'Charged from client balance' : 'Not charged from client balance' }}"></div>
                </td>
                <td>
                    {% if item.order_id %}
                    <a href="{{ 'order/manage'|alink }}/{{ item.order_id }}">{{ item.title }} {% if item.quantity > 1 %} x {{ item.quantity }} {# item.unit #}{% endif %}</a>
                    {% else %}
                    {{ item.title }} {% if item.quantity > 1 %} x {{ item.quantity }} {# item.unit #}{% endif %}
                    {% endif %}
                </td>
                <td class="text-center">{{ mf.currency_format(item.tax, invoice.currency) }}</td>
                <td class="fw-bold text-end">{{ mf.currency_format( item.total, invoice.currency) }}</td>
            </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td colspan="5" class="text-end fw-bold">
                Subtotal: {{ mf.currency_format(invoice.subtotal, invoice.currency) }}
                </td>
            </tr>
            <tr>
                <td colspan="5" class="text-end fw-bold">
                {{ invoice.taxname }} {{ invoice.taxrate }}%: {{ mf.currency_format(invoice.tax, invoice.currency) }}
                </td>
            </tr>
            <tr>
                <td colspan="5" class="text-end fw-bold">
                Total: {{ mf.currency_format(invoice.total, invoice.currency) }}
                </td>
            </tr>
        </tfoot>
    </table>
</div>

{% set transactions = admin.invoice_transaction_get_list({ 'invoice_id': invoice.id, 'per_page': 100 }).list %}
{% if transactions|length > 0 %}
<div class="card overflow-auto">
    <div class="card-body">
    <h5>{{ 'Transactions'|trans }}</h5>
    <table class="table card-table table-vcenter table-striped text-nowrap">
        <thead>
            <tr>
                <th>{{ 'ID'|trans }}</th>
                <th>{{ 'Type'|trans }}</th>
                <th>{{ 'Gateway'|trans }}</th>
                <th>{{ 'Amount'|trans }}</th>
                <th>{{ 'Status'|trans }}</th>
                <th>{{ 'Date'|trans }}</th>
                <th class="w-1"></th>
            </tr>
        </thead>
        <tbody>
            {% for i, tx in transactions %}
            <tr>
                <td>{{ tx.txn_id }}</td>
                <td>{{ tx.type }}</td>
                <td>{{ tx.gateway }}</td>
                <td>{{ mf.currency_format( tx.amount, tx.currency) }}</td>
                <td>{{ mf.status_name(tx.status) }}</td>
                <td>{{ tx.created_at|format_datetime }}</td>
                <td>
                    <a class="btn btn-icon" href="{{ '/invoice/transaction'|alink }}/{{ tx.id }}">
                        <svg class="icon">
                            <use xlink:href="#edit" />
                        </svg>
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endif %}
{% endblock %}

{% block sidebar2 %}
<div class="widget">
    <div class="head">
        <h2 class="dark-icon i-services">{{ 'Actions'|trans }}</h2>
    </div>
    <div class="block">
        <button class="btn btn-primary" type="button" onclick="window.print()">
        <span class="dark-icon i-print"></span> {{ 'Print'|trans }}</button>
        {% if invoice.status == 'unpaid' %}
        <a class="btn btn-primary api-link" href="{{ 'api/client/invoice/delete'|link({ 'hash': invoice.hash, 'CSRFToken': CSRFToken }) }}" data-api-confirm="{{ 'Are you sure?'|trans }}" data-api-redirect="{{ 'invoice'|alink }}">
            <span class="dark-icon i-bin"></span> {{ 'Delete'|trans }}
        </a>
        {% endif %}
    </div>
</div>
{% endblock %}

{% block head %}{{ mf.bb_editor('.bb-textarea') }}{% endblock %}

{% block js %}
{% autoescape "js" %}
<script>
    $(function() {
        $('input[name=gateway]:first').attr('checked', true);
        $('#pay-now-button').on('click', function() {
        var link = $('input[name=gateway]:checked').val();
        bb.redirect(link);
        return false;
        });
    });
</script>
{% endautoescape %}
{% endblock %}
