{% block subject %}[{{ guest.system_company.name }}] {{ order.title|default('') }} Activated{% endblock %}
{% block content %}
{% set order = order|default({}) %}
{% set service = service|default({}) %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<style type="text/css">
		body {
			font-family: Arial, sans-serif;
			font-size: 14px;
			color: #333333;
		}

		h1 {
			font-size: 24px;
			font-weight: bold;
			margin: 0 0 20px;
		}

        h2 {
			font-size: 20px;
			font-weight: bold;
			margin: 0 0 20px;
		}

		p {
			margin: 0 0 10px;
		}

		strong {
			font-weight: bold;
		}

		.signature {
			font-style: italic;
			color: #999999;
			margin-top: 20px;
			border-top: 1px solid #cccccc;
			padding-top: 10px;
		}
	</style>
</head>
<body>
	<h1>Order Activated</h1>
	<p>Hello {{ c.first_name|default('') }} {{ c.last_name|default('') }},</p>
	<p>Thank you for ordering with us! Your hosting account has now been set up. This email contains all the information you will need in order to begin using your service.</p>
    <p>Please keep in mind that if you ordered a domain, it may not be visible online instantly due to the propagation process which can take up to 48 hours. </p>

    <h2>{{ order.title|default('') }}</h2>

    <ul>
        <li><strong>Activated:</strong> {{ order.activated_at|default('')|format_date }}</li>
        {% if order.expires_at|default(false) %}<li><strong>Expires:</strong> {{ order.expires_at|default('')|format_date }}</li>{% endif %}
        {% if order.period|default(false) %}<li><strong>Billing period:</strong> {{ order.total|default(0)|format_currency(order.currency|default(default_currency)) }} every {{ order.period|default('')|period_title }}</li>{% endif %}
    </ul>

    <p>Account information:<p>
    <ul>
        <li><strong>Hosting Package:</strong> {{ service.hosting_plan.name|default('') }}</li>
        <li><strong>Domain:</strong> {{ service.domain|default('') }}</li>
        <li><strong>IP Address:</strong> {{ service.server.ip|default('') }}</li>
    </ul>

    <p>Control panel login details:<p>
    <ul>
        <li><strong>Username:</strong> {{ service.username|default('') }}</li>
        <li><strong>Control Panel URL:</strong> {{ service.server.cpanel_url|default('') }}</li>
    </ul>

    <p>For security reasons, hosting passwords are not included in email. You can log in to the client area to open the control panel directly or set a new hosting password there.</p>

    <p>Server information:<p>
    <ul>
        <li><strong>Server Name:</strong> {{ service.server.name|default('') }}</li>
        <li><strong>Server IP:</strong> {{ service.server.ip|default('') }}</li>
        <li><strong>Control Panel URL:</strong> {{ service.server.cpanel_url|default('') }}</li>
        <li><strong>Nameserver 1:</strong> {{ service.server.ns1|default('') }}</li>
        <li><strong>Nameserver 2:</strong> {{ service.server.ns2|default('') }}</li>
        {% if  service.server.ns3|default('') %}<li><strong>Nameserver 3:</strong> {{ service.server.ns3|default('') }}</li>{% endif %}
        {% if  service.server.ns4|default('') %}<li><strong>Nameserver 4:</strong> {{ service.server.ns4|default('') }}</li>{% endif %}
    </ul>

    <p>FTP information:<p>
    <ul>
        <li><strong>Temporary FTP Hostname:</strong> {{ service.server.ip|default('') }}  </li>
        <li><strong>Full FTP Hostname:</strong> {{ service.domain|default('') }}</li>
        <li><strong>FTP Username:</strong> {{ service.username|default('') }}</li>
    </ul>

    <p>You may <a href="{{ 'login'|url(query: { 'email': c.email|default('') }, area: 'client') }}" target="_blank">login</a> or <a href='{{ "servicedownloadable/get-file/#{order.id|default('')}"|url(area: 'client') }}' target="_blank">download your order now.</a>

	<p class="signature">{{ guest.system_company.signature }}</p>
</body>
</html>
{% endblock %}
