{% block subject %}[{{ guest.system_company.name }}] {{ order.title }} Activated{% endblock %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<style type="text/css">
		body {
			font-family: Arial, sans-serif;
			font-size: 14px;
			color: #333333;
		}

		h1 {
			font-size: 24px;
			font-weight: bold;
			margin: 0 0 20px;
		}

        h2 {
			font-size: 20px;
			font-weight: bold;
			margin: 0 0 20px;
		}

		p {
			margin: 0 0 10px;
		}

		strong {
			font-weight: bold;
		}

		.signature {
			font-style: italic;
			color: #999999;
			margin-top: 20px;
			border-top: 1px solid #cccccc;
			padding-top: 10px;
		}
	</style>
</head>
<body>
	<h1>Order activated</h1>
	<p>Hello {{ c.first_name }} {{ c.last_name }},</p>
	<p>Thank you for ordering with us! Your hosting account has now been set up. This email contains all the information you will need in order to begin using your service.</p>
    <p>Please keep in mind that if you ordered a domain, it may not be visible online instantly due to the propagation process which can take up to 48 hours. </p>

    <h2>{{ order.title }}</h2>

    <ul>
        <li><strong>Activated:</strong> {{ order.activated_at|format_date }}</li>
        {% if order.expires_at %}<li><strong>Expires:</strong> {{ order.expires_at|format_date }}</li>{% endif %}
        {% if order.period %}<li><strong>Billing period:</strong> {{ order.total | money(order.currency) }} every {{ order.period | period_title }}</li>{% endif %}
    </ul>

    <p>Account information:<p>
    <ul>
        <li><strong>Hosting package:</strong> {{ service.hosting_plan.name }}</li>
        <li><strong>Domain:</strong> {{ service.domain }}</li>
        <li><strong>IP address:</strong> {{ service.server.ip }}</li>
    </ul>

    <p>Control panel login details:<p>
    <ul>
        <li><strong>Username:</strong> {{ service.username }}</li>
        <li><strong>Password:</strong> {{ password }}</li>
        <li><strong>Control panel URL:</strong> {{ service.server.cpanel_url }}</li>
    </ul>

    <p>Server information:<p>
    <ul>
        <li><strong>Server Name:</strong> {{ service.server.name }}</li>
        <li><strong>Server IP:</strong> {{ service.server.ip }}</li>
        <li><strong>Control panel URL:</strong> {{ service.server.cpanel_url }}</li>
        <li><strong>Nameserver 1:</strong> {{ service.server.ns1 }}</li>
        <li><strong>Nameserver 2:</strong> {{ service.server.ns2 }}</li>
        {% if  service.server.ns3 %}<li><strong>Nameserver 4:</strong> {{ service.server.ns3 }}</li>{% endif %}
        {% if  service.server.ns3 %}<li><strong>Nameserver 4:</strong> {{ service.server.ns4 }}</li>{% endif %}
    </ul>

    <p>FTP information:<p>
    <ul>
        <li><strong>Temporary FTP Hostname:</strong> {{ service.server.ip }}  </li>
        <li><strong>Full FTP Hostname:</strong> {{ service.domain }}</li>
        <li><strong>FTP Username:</strong> {{ service.username }}</li>
        <li><strong>FTP Password:</strong> {{ password }}</li>
    </ul>

    <p>You may <a href="{{'login'|link({'email' : c.email }) }}" target="_blank">login</a> or <a href="{{ 'servicedownloadable/get-file'|link }}/{{ order.id }}" target="_blank">download your order now.</a>

	<p class="signature">{{ guest.system_company.signature }}</p>
</body>
</html>
{% endblock %}
