{% extends "layout_default.html.twig" %}

{% set active_menu = 'extensions' %}

{% block meta_title %} {{ 'Edit Custom Page'|trans }} {% endblock %}

{% set page = admin.custompages_get_page({ page_id }|merge(request)) %}

{% block breadcrumbs %}
<ul class="breadcrumb">
    <li class="breadcrumb-item">
        <svg class="icon">
            <use xlink:href="#home" />
        </svg>
    </li>
    <li class="breadcrumb-item">
        <a href="{{ 'custompages'|url }}">{{ 'Custom Pages'|trans }}</a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">{{ page.title }}</li>
</ul>
{% endblock %}

{% block content %}
    {% if page.id > 0 %}

<div class="card">
    <div class="card-header">
        <div>
            <h3 class="card-title">{{ page.title }}</h3>
            <p class="card-subtitle">{{ 'Update custom page content, metadata, and the client-facing URL for this page.'|trans }}</p>
        </div>
    </div>
    <form method="post" action="{{ 'custompages/update'|api_url }}" {{ fb_api_form({message: 'Custom Page Updated'|trans}) }}>
        <div class="card-body">
            <input type="hidden" name="id" value="{{ page.id }}">
            <div class="row g-3">
                <div class="col-lg-6">
                    <label class="form-label">{{ 'Title'|trans }}</label>
                    <input class="form-control" type="text" name="title" value="{{ page.title }}" required="required" placeholder="{{ 'Enter page title here.'|trans }}">
                </div>
                <div class="col-lg-6">
                    <label class="form-label">{{ 'Slug'|trans }}</label>
                    <input class="form-control" type="text" name="slug" value="{{ page.slug }}" required="required" placeholder="{{ 'Enter page slug here.'|trans }}">
                </div>
                <div class="col-12">
                    <label class="form-label">{{ 'Meta Description'|trans }}</label>
                    <input class="form-control" type="text" name="description" value="{{ page.description }}" required="required" placeholder="{{ 'Enter page meta description here.'|trans }}">
                </div>
                <div class="col-12">
                    <label class="form-label">{{ 'Meta Keywords'|trans }}</label>
                    <input class="form-control" type="text" name="keywords" value="{{ page.keywords }}" required="required" placeholder="{{ 'Enter page meta keywords here.'|trans }}">
                </div>
                <div class="col-12">
                    <label class="form-label">{{ 'Content'|trans }}</label>
                    <textarea class="editor-textarea" name="content" cols="5" rows="5" required="required" placeholder="{{ 'Enter page content here.'|trans }}">{{ page.content }}</textarea>
                </div>
            </div>
        </div>
        <div class="card-footer d-flex justify-content-end">
            <button class="btn btn-primary" type="submit">{{ 'Update'|trans }}</button>
        </div>
    </form>
</div>
{% else %}
<script>
    window.location.href = "{{ 'custompages'|url }}"
</script>
{% endif %}
{% endblock %}

{% block head %}{{ wysiwyg('.editor-textarea') }}{% endblock %}
