{% block subject %}[{{ guest.system_company.name }}] {{ticket.subject}}{% endblock %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<style type="text/css">
		body {
			font-family: Arial, sans-serif;
			font-size: 14px;
			color: #333333;
		}

		h1 {
			font-size: 24px;
			font-weight: bold;
			margin: 0 0 20px;
		}

		p {
			margin: 0 0 10px;
		}

		strong {
			font-weight: bold;
		}

		.signature {
			font-style: italic;
			color: #999999;
			margin-top: 20px;
			border-top: 1px solid #cccccc;
			padding-top: 10px;
		}
	</style>
</head>
<body>
	<h1>Ticket opened</h1>

    <p>Hi {{ c.first_name }} {{ c.last_name }},</p>

    <p>{{ticket.messages[0].content}}</p>

    <p>Ticket info</p>
    <ul>
        <li><strong>Ticket ID:</strong> #{{ticket.id}}</li>
        <li><strong>Department:</strong> {{ticket.helpdesk.name}}</li>
        <li><strong>Status:</strong> {{ticket.status|title}}</li>
    </ul>

    <a href="{{'support/ticket'|link}}/{{ ticket.id }}" target="_blank">Reply<a>
    
    <p>Please do not reply to this email directly. Use the link provided above.</p>

    <p>You may <a href="{{'admin/staff/login'|link({'email' : c.email }) }}" target="_blank">login</a> or <a href="{{'admin/staff/profile'|link}}" target="_blank">edit your profile.</a>

	<p class="signature">{{ guest.system_company.signature }}</p>
</body>
</html>
{% endblock %}
