{% extends request.ajax ? "layout_blank.html.twig" : "layout_default.html.twig" %}

{% block meta_title %}{{ 'Email'|trans }}{% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item" aria-current="page"><a href="{{ 'email'|link }}">{{ 'Emails'|trans }}</a></li>
<li class="breadcrumb-item active" aria-current="page">{{ email.subject }}</li>
{% endblock %}
{% block body_class %}email-email{% endblock %}
{% block content %}
<div class="row">
    <div class="card ml-0 ml-md-3 w-100">
        <div class="card-header">
            <p><strong>{{ 'From:'|trans }}</strong> {{ email.sender }}</p>
            <p><strong>{{ 'To:'|trans }}</strong> {{ email.recipients }}</p>
            <p><strong>{{ 'Created at:'|trans }}</strong> {{ email.created_at|format_date }}</p>
        </div>
        <div class="card-body">
            <h3>{{ email.subject }}</h3>
            <p>{{ email.content_html | raw }}</p>
        </div>
        <div class="card-footer">
            <a class="btn btn-primary email-resend" href="#" mail-id="{{ email.id }}">{{ 'Resend'|trans }}</a>
            <a class="btn btn-danger email-delete" href="#" mail-id="{{ email.id }}">{{ 'Delete'|trans }}</a>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
{% autoescape "js" %}
<script type="text/javascript">
    $(function() {
        $('.email-resend').on('click', function(e) {
            e.preventDefault();
            $('.wait').show();

            var email_id = $(this).attr('mail-id');

            bb.post(
                'client/email/resend',
                { id: email_id, CSRFToken: "{{ CSRFToken }}" },
                function(result) {
                    $('.wait').hide();
                    bb.msg('Email resent');

                    return false;
                }
            );
        });
        $('.email-delete').on('click', function(e){
            e.preventDefault();

            if (confirm('Are you sure?')){
                $('.wait').show();

                var email_id = $(this).attr('mail-id');

                bb.post(
                    'client/email/delete',
                    { id: email_id, CSRFToken: "{{ CSRFToken }}" },
                    function(result) {
                        bb.msg('Email deleted');
                        bb.redirect('{{ 'email'|link }}');

                        return false;
                    }
                );
            };
        });

    });
</script>
{% endautoescape %}
{% endblock %}
