{% extends request.ajax ? 'layout_blank.html.twig' : 'layout_default.html.twig' %}

{% import 'macro_functions.html.twig' as mf %}

{% set active_menu = 'support' %}
{% set has_filter_panel = true %}
{% set filter_panel_id = 'page-search-filters' %}
{% set filter_panel_open = request_has_filters %}
{% set new_canned_response_action %}
    <a class="btn btn-primary" href="#tab-new" data-bs-toggle="tab" role="button">
        <svg class="icon">
            <use xlink:href="#plus" />
        </svg>
        {{ 'New Response'|trans }}
    </a>
{% endset %}
{% set new_canned_category_action %}
    <a class="btn btn-primary" href="#tab-new-category" data-bs-toggle="tab" role="button">
        <svg class="icon">
            <use xlink:href="#plus" />
        </svg>
        {{ 'New Category'|trans }}
    </a>
{% endset %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{{ '/'|url }}">
                <svg class="icon" width="24">
                    <use xlink:href="#home" />
                </svg>
            </a>
        </li>
        <li class="breadcrumb-item">
            <a href="{{ 'support'|url }}">{{ 'Support'|trans }}</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">{{ 'Canned Responses'|trans }}</li>
    </ol>
{% endblock %}

{% block meta_title %}{{ 'Canned Responses'|trans }}{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-header">
            <div>
                <h3 class="card-title">{{ 'Canned Responses'|trans }}</h3>
                <p class="card-subtitle">{{ 'Manage reusable support responses and organize them into categories.'|trans }}</p>
            </div>
        </div>
        <div class="card-body pt-3 pb-0 px-0">
            <div class="card border-0 shadow-none rounded-0">
                <div class="card-header bg-transparent px-3 pt-0 pb-3 border-0 d-flex flex-column flex-lg-row align-items-stretch align-items-lg-center justify-content-between gap-3">
                    <ul class="nav nav-pills card-header-pills">
                        <li class="nav-item">
                            <a class="nav-link active" href="#tab-index" data-bs-toggle="tab">{{ 'Canned Responses'|trans }}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#tab-categories" data-bs-toggle="tab">{{ 'Manage Categories'|trans }}</a>
                        </li>
                    </ul>
                    <div class="d-flex justify-content-end flex-wrap gap-2" data-tab-action-container>
                        <div data-tab-action="tab-index tab-new">
                            {{ new_canned_response_action|raw }}
                        </div>
                        <div class="d-none" data-tab-action="tab-categories tab-new-category">
                            {{ new_canned_category_action|raw }}
                        </div>
                    </div>
                </div>
                <div class="tab-content border-top">
                    <div class="tab-pane fade show active" id="tab-index" role="tabpanel">
            {{ include('partial_search.html.twig', {
                search_body_class: filter_panel_open ? 'pb-2 border-bottom-0' : ''
            }) }}
            <section id="{{ filter_panel_id }}" class="card-body pt-0 px-3 pb-3 border-bottom collapse{% if filter_panel_open %} show{% endif %}">
                <form method="get" class="border border-top-0 rounded-top-0 rounded-bottom-3 bg-body-tertiary p-3">
                    {% if request.search %}
                        <input type="hidden" name="search" value="{{ request.search }}">
                    {% endif %}
                    <div class="row g-3">
                        <div class="col-md-6 col-xl-4">
                            <div>
                                <label class="form-label text-muted small mb-1" for="canned-response-id">{{ 'ID'|trans }}</label>
                                <input class="form-control" type="text" id="canned-response-id" name="id" value="{{ request.id }}" placeholder="{{ 'Response ID'|trans }}">
                            </div>
                        </div>
                        <div class="col-md-6 col-xl-8">
                            <div>
                                <label class="form-label text-muted small mb-1" for="canned-response-category">{{ 'Category'|trans }}</label>
                                {{ mf.selectbox('category_id', admin.support_canned_category_pairs, request.category_id, 0, 'All Categories'|trans) }}
                            </div>
                        </div>
                    </div>
                    <div class="d-flex justify-content-end gap-2 mt-3">
                        <a class="btn btn-outline-secondary" href="{{ request_path|url }}">{{ 'Reset'|trans }}</a>
                        <button class="btn btn-primary" type="submit">
                            <svg class="icon">
                                <use xlink:href="#filter" />
                            </svg>
                            {{ 'Apply Filters'|trans }}
                        </button>
                    </div>
                </form>
            </section>
            <div class="table-responsive">
                <table class="table card-table table-vcenter table-striped text-nowrap sortable">
                <thead>
                    <tr>
                        <th>{{ 'Title'|trans }}</th>
                        <th class="text-center">{{ 'Category'|trans }}</th>
                        <th class="w-1 no-sort"></th>
                    </tr>
                </thead>
                <tbody>
                {% set responses = admin.support_canned_get_list({ 'per_page': 25, 'page': request.page }|merge(request)) %}
                {% for i, response in responses.list %}
                <tr>
                    <td>
                        <a href='{{ "support/canned/#{response.id}"|url }}'>{{ response.title }}</a>
                    </td>
                    <td class="text-center">
                        <a href='{{ "support/canned-category/#{response.category.id}"|url }}'>{{ response.category.title }}</a>
                    </td>
                    <td>
                        <a class="btn btn-icon" href='{{ "support/canned/#{response.id}"|url }}'>
                            <svg class="icon">
                                <use xlink:href="#edit" />
                            </svg>
                        </a>
                        <a class="btn btn-icon" href="{{ 'support/canned_delete'|api_url(query: { 'id': response.id }) }}"
                            {{ fb_api_link({modal: {type: 'confirm', title: 'Are you sure?'|trans}, redirect: 'support/canned-responses'|url}) }}>
                            <svg class="icon">
                                <use xlink:href="#delete" />
                            </svg>
                        </a>
                    </td>
                </tr>
                {% else %}
                <tr>
                    <td class="text-muted" colspan="3">{{ 'The list is empty'|trans }}</td>
                </tr>
                {% endfor %}
                </tbody>
                </table>
            </div>
            <div class="card-footer d-flex align-items-center">
                {{ include('partial_pagination.html.twig', { 'list': responses, 'url': 'support/canned-responses', 'split_footer_controls': true }) }}
            </div>
        </div>

        <div class="tab-pane fade" id="tab-new" role="tabpanel">
            <div class="p-3">
                <form method="post" action="{{ 'support/canned_create'|api_url }}" {{ fb_api_form({redirect: 'support/canned-responses'|url}) }}>
                    <div class="mb-3 row">
                        <label class="form-label col-3 col-form-label">{{ 'Category'|trans }}:</label>
                        <div class="col">
                            {{ mf.selectbox('category_id', admin.support_canned_category_pairs, '', 1) }}
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label class="form-label col-3 col-form-label">{{ 'Title'|trans }}:</label>
                        <div class="col">
                            <input class="form-control" type="text" name="title" value="{{ request.title }}" required>
                        </div>
                    </div>

                    <div class="mb-3 row">
                        <label class="form-label col-3 col-form-label">{{ 'Content'|trans }}</label>
                        <div class="col">
                            <textarea class="form-control" name="content" rows="10">{{ request.content }}</textarea>
                        </div>
                    </div>

                    <button class="btn btn-primary w-100" type="submit">{{ 'Create'|trans }}</button>
                </form>
            </div>
        </div>

        <div class="tab-pane fade" id="tab-categories" role="tabpanel">
            <div class="table-responsive">
            <table class="table card-table table-vcenter table-striped text-nowrap">
                <thead>
                    <tr>
                        <th>{{ 'Title'|trans }}</th>
                        <th class="w-1"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for cat_id, cat_title in admin.support_canned_category_pairs %}
                    <tr>
                        <td>
                            <a href='{{ "support/canned-category/#{cat_id}"|url }}'>{{ cat_title }}</a>
                        </td>
                        <td>
                            <a class="btn btn-icon" href='{{ "support/canned-category/#{cat_id}"|url }}'>
                                <svg class="icon">
                                    <use xlink:href="#edit" />
                                </svg>
                            </a>
                            <a class="btn btn-icon" href="{{ 'support/canned_category_delete'|api_url(query: { 'id': cat_id }) }}"
                                {{ fb_api_link({modal: {type: 'confirm', title: 'Are you sure?'|trans}, redirect: 'support/canned-responses'|url}) }}>
                                <svg class="icon">
                                    <use xlink:href="#delete" />
                                </svg>
                            </a>
                        </td>
                    </tr>
                    {% else %}
                    <tr>
                        <td class="text-muted" colspan="3">{{ 'The list is empty'|trans }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            </div>
        </div>

        <div class="tab-pane fade" id="tab-new-category" role="tabpanel">
            <div class="p-3">
                <form method="post" action="{{ 'support/canned_category_create'|api_url }}" {{ fb_api_form({redirect: 'support/canned-responses'|url}) }}>
                    <div class="mb-3 row">
                        <label class="form-label col-3 col-form-label">{{ 'Title'|trans }}:</label>
                        <div class="col">
                            <input class="form-control" type="text" name="title" value="{{ request.title }}" required>
                        </div>
                    </div>

                    <input type="submit" value="{{ 'Create'|trans }}" class="btn btn-primary w-100">
                </form>
            </div>
        </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
