{% extends 'layout_default.html.twig' %}

{% import 'macro_functions.html.twig' as mf %}

{% block meta_title %}{{ category.title }}{% endblock %}

{% set active_menu = 'support' %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{{ '/'|url }}">
                <svg class="icon">
                    <use href="#home" />
                </svg>
            </a>
        </li>
        <li class="breadcrumb-item">
            <a href="{{ 'support'|url }}">{{ 'Support'|trans }}</a>
        </li>
        <li class="breadcrumb-item">
            <a href="{{ 'support/kb'|url }}">{{ 'Knowledge Base'|trans }}</a>
        </li>
        <li class="breadcrumb-item">
            <a href="{{ 'support/kb'|url }}#tab-categories">{{ 'Categories'|trans }}</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">{{ category.title }}</li>
    </ol>
{% endblock %}

{% block content %}
<div class="card">
    <form method="post" action="{{ 'support/kb_category_update'|api_url }}" {{ fb_api_form({ message: 'Category Updated'|trans }) }}>
        {% embed 'partial_admin_form_card.html.twig' with {
            title: category.title,
            subtitle: 'Update the category details used to organize knowledge base articles.'|trans,
            body_class: 'pt-4',
            footer_align: 'between'
        } %}
            {% block form_content %}
                <div class="row g-3">
                    <div class="col-lg-6">
                        <label class="form-label">{{ 'Title'|trans }}</label>
                        <input class="form-control" type="text" name="title" value="{{ category.title }}" required>
                    </div>
                    <div class="col-lg-6">
                        <label class="form-label">{{ 'Slug'|trans }}</label>
                        <input class="form-control" type="text" name="slug" value="{{ category.slug }}" required>
                    </div>
                    <div class="col-12">
                        <label class="form-label">{{ 'Description'|trans }}</label>
                        <textarea class="form-control" name="description" rows="1">{{ category.description }}</textarea>
                    </div>
                </div>
                <input type="hidden" name="id" value="{{ category.id }}">
            {% endblock %}

            {% block form_actions %}
                <a href="{{ 'support/kb'|url }}" class="btn btn-secondary">
                    <svg class="icon">
                        <use href="#arrow-left" />
                    </svg>
                    {{ 'Go Back'|trans }}
                </a>
                <button class="btn btn-primary" type="submit">{{ 'Update'|trans }}</button>
            {% endblock %}
        {% endembed %}
    </form>
</div>

<div class="card mt-3">
    <div class="card-header">
        <div>
            <h3 class="card-title">{{ 'Articles'|trans }}</h3>
            <p class="card-subtitle">{{ 'Manage articles assigned to this category.'|trans }}</p>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table card-table table-vcenter table-striped text-nowrap">
            <thead>
                <tr>
                    <th>{{ 'Title'|trans }}</th>
                    <th>{{ 'Status'|trans }}</th>
                    <th class="text-center">{{ 'Views'|trans }}</th>
                    <th>{{ 'Updated'|trans }}</th>
                    <th class="w-1"></th>
                </tr>
            </thead>
            <tbody>
                {% for article in category.articles %}
                    <tr>
                        <td>
                            <a href='{{ "support/kb/article/#{article.id}"|url }}'>{{ article.title }}</a>
                        </td>
                        <td>{{ mf.status_badge(article.status, 'post') }}</td>
                        <td class="text-center">{{ article.views }}</td>
                        <td class="text-muted">{% if article.updated_at %}{{ '%time% ago'|trans({ '%time%': article.updated_at|timeago }) }}{% else %}-{% endif %}</td>
                        <td>
                            {% if article.status == 'active' %}
                                <a class="btn btn-icon" href='{{ "support/kb/#{category.slug}/#{article.slug}"|url(area: 'client') }}' target="_blank" rel="noreferrer" data-bs-toggle="tooltip" data-bs-title="{{ 'View'|trans }}">
                                    <svg class="icon">
                                        <use href="#eye" />
                                    </svg>
                                </a>
                            {% endif %}
                            <a class="btn btn-icon" href='{{ "support/kb/article/#{article.id}"|url }}' data-bs-toggle="tooltip" data-bs-title="{{ 'Edit'|trans }}">
                                <svg class="icon">
                                    <use href="#edit" />
                                </svg>
                            </a>
                            <a class="btn btn-icon" href="{{ 'support/kb_article_delete'|api_url(query: { 'id': article.id }) }}"
                                data-bs-toggle="tooltip" data-bs-title="{{ 'Delete'|trans }}"
                                {{ fb_api_link({modal: {type: 'danger', title: 'Are you sure?'|trans, button: 'Delete'|trans}, redirect: "support/kb/category/#{category.id}"|url }) }}>
                                <svg class="icon">
                                    <use href="#trash" />
                                </svg>
                            </a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td class="text-muted" colspan="5">{{ 'No articles in this category yet.'|trans }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}
