{% extends request.ajax ? 'layout_blank.html.twig' : 'layout_default.html.twig' %}

{% import 'macro_functions.html.twig' as mf %}

{% block meta_title %}{{ 'Proforma invoice'|trans }}{% endblock %}

{% block content_before %}
    {% if invoice.status == 'unpaid' %}
        {% include "partial_steps.html.twig" with {'selected': 4} %}
    {% endif%}
{% endblock %}

{% block content %}
    {% set nr = invoice.serie ~ "%05s"|format(invoice.nr) %}
    {% set seller = invoice.seller %}
    {% set buyer = invoice.buyer %}
    {% set company = guest.system_company %}

<div class="h-block" id="invoice-block">
    <div class="h-block-header">
        <div class="icon"><span class="big-light-icon i-invoice"></span></div>
        {% if invoice.status == 'unpaid' %}
        <h2>{{ 'Proforma Invoice'|trans }}</h2>
        <p>{{ 'Please choose payment type and pay for your chosen products.'|trans }}</p>
        {% else %}
        <h2>{{ 'Invoice'|trans }} {{ nr }}</h2>
        <p>{{ 'Invoice is paid'|trans }}</p>
        {% endif %}
    </div>
    <div class="block">
        <div id="invoice-header">

        <div class="grid_6 alpha">
            <div class="box">
                <div class="block">
                    {% if company.logo_url %}
                    <img src="{{company.logo_url}}" alt="{{company.name}}" style="max-width: 100%; max-height: 100%"/>
                    {% else %}
                    <img src=" {{ 'images/logo.svg' | asset_url }}" alt="{{company.name}}" style="max-width: 100%; max-height: 100%"/>
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="grid_6 omega">
            <div class="box">
                <div class="block" style="text-align: right;">
                    <h2>{{ 'Invoice'|trans }} {{ invoice.serie_nr }}</h2>
                    <p>
                        {% if invoice.paid_at %}
                            {{ invoice.paid_at | bb_date }}
                        {% else %}
                            {{ invoice.created_at | bb_date }}
                        {% endif %}
                    </p>

                    <h2 class="invoice_{{invoice.status }}">{% if invoice.status == 'unpaid' %}{{ 'Unpaid'|trans }}{% else %}{{ 'Paid'|trans }}{% endif %}</h2>
                </div>
            </div>
        </div>

        <div class="clear"></div>

        <div class="grid_6 alpha">
            <table class="seller">
                {% if seller.company %}
                <tr>
                    <td><b>{{ seller.company }}</b></td>
                </tr>
                {% endif %}

                {% if seller.address %}
                <tr>
                    <td>{{ seller.address }}</td>
                </tr>
                {% endif %}

                {% if seller.phone %}
                <tr>
                    <td>{{ seller.phone }}</td>
                </tr>
                {% endif %}

                {% if seller.email %}
                <tr>
                    <td>{{ seller.email }}</td>
                </tr>
                {% endif %}
                
                {% if company.account_number %}
                <tr>
                    <td>{{ 'Account'|trans }}: {{ company.account_number }}</td>
                </tr>
                {% endif %}

                {% if company.number %}
                <tr>
                    <td>{{ 'Company number'|trans }}: {{ company.number }}</td>
                </tr>
                {% endif %}

                {% if company.vat_number %}
                <tr>
                    <td>{{ 'VAT'|trans }}: {{ company.vat_number }}</td>
                </tr>
                {% endif %}

                {# Company note #}
                {# if company.note %}
                <tr>
                    <td>{{ company.note }}</td>
                </tr>
                {% endif #}
            </table>
        </div>

        <div class="grid_6 omega">
            <table class="buyer">
                {% if buyer.company %}
                <tr>
                    <td><b>{{ buyer.company }}</b></td>
                </tr>
                {% endif %}

                {% if buyer.first_name or buyer.last_name %}
                <tr>
                    <td><b>{{ buyer.first_name }} {{ buyer.last_name }}</b></td>
                </tr>
                {% endif %}

                {% if buyer.email %}
                <tr>
                    <td>{{ buyer.email }}</td>
                </tr>
                {% endif %}

                {% if buyer.address %}
                <tr>
                    <td>{{ buyer.address }} {{ buyer.city }} {{ buyer.state }} {{ buyer.postcode }} {{ buyer.country }}</td>
                </tr>
                {% endif %}
                
                {% if buyer.phone %}
                <tr>
                    <td>{{ buyer.phone }}</td>
                </tr>
                {% endif %}

            </table>
        </div>

        {% if invoice.text_1 %}
        <div class="grid_12 alpha omega">
            <div class="box">
                {{ invoice.text_1|markdown }}
            </div>
        </div>
        {% endif %}

        <div class="clear"></div>
        </div>

        <table class="with-border">
            <thead>
                <tr>
                    <th>#</th>
                    <th>{{ 'Title'|trans }}</th>
                    <th class="currency">{{ 'Price'|trans }}</th>
                    <th class="currency">{{ 'Total'|trans }}</th>
                </tr>
            </thead>

            <tbody>
                {% for i, item in invoice.lines %}

                <tr class="{{ cycle(['odd', 'even'], i) }}">
                    <td>{{ i+1 }}.</td>
                    <td>
                        {% if item.order_id%}
                        <a href="{{ '/order/service'|link }}/manage/{{item.order_id}}">{{ item.title }}</a>
                        {% else %}
                        {{ item.title }}
                        {% endif %}
                        {% if item.quantity > 1 %}
                        x {{ item.quantity }} {{ item.unit }}
                        {% endif %}
                    </td>
                    <td class="currency">
                        {{ item.price | money(invoice.currency) }}
                    </td>
                    <td class="currency">{{ item.total | money(invoice.currency) }}</td>
                </tr>

                {% endfor %}
            </tbody>

            <tfoot>
            {% if invoice.tax > 0 %}
                <tr>
                    <th colspan="3">{{ invoice.taxname }} {{ invoice.taxrate }}%</th>
                    <th class="currency">{{ invoice.tax | money(invoice.currency) }}</th>
                </tr>
            {% endif %}
            
            {% if invoice.discount > 0 %}
                <tr>
                    <th colspan="3">{{ 'Discount'|trans }}</th>
                    <th class="currency">{{ invoice.discount | money(invoice.currency) }}</th>
                </tr>
            {% endif %}
                <tr class="total">
                    <th colspan="3">{{ 'Total'|trans }}</th>
                    <th class="currency">{{ invoice.total | money(invoice.currency) }}</th>
                </tr>
            </tfoot>
        </table>

        {% if invoice.text_2 %}
        <div class="grid_12 alpha omega">
            <div class="box">
                {{ invoice.text_2|markdown }}
            </div>
        </div>
        {% endif %}

    {% if invoice.status == 'unpaid' %}
        {% if invoice.gateway_id and not request.change_payment_method %}
            {# {% set payment = guest.invoice_payment({ "gateway_id": invoice.gateway_id, "hash": invoice.hash, "auto_redirect": request.auto_redirect }) %} #}
        <div class="grid_12 alpha omega">
            <div class="box">
                {% if payment.type == 'html' %}
                    {{ payment.result|raw }}
                {% endif %}
                    {% if payment.type == 'form' %}
                    <h2>{{ 'Redirecting to payment gateway..'|trans }}</h2>
                    <form name="payment_form" action="{{ payment.service_url }}" method="post">
                        {% for key, value in payment.result %}
                        <input type="hidden" name="{{ key }}" value="{{ value }}" />
                        {% endfor %}
                        <input class="btn btn-primary" type="submit" value="{{ 'Please click here to continue if this page does not redirect automatically in 5 seconds'|trans }}" id="payment_button"/>
                    </form>

                    <script type="text/javascript">
                        $(document).ready(function() {
                            document.getElementById('payment_button').style.display = 'none';
                            document.forms["payment_form"].submit();
                        });
                    </script>
                    {% endif %}
            </div>
        </div>

        <div class="clear"></div>
        {% endif %}

        {% if request.change_payment_method %}
        <form method="post" action="{{ 'api/guest/invoice/update'|link }}" class="api-form" data-api-redirect="{{ ('invoice/'~invoice.hash)|link({ 'auto_redirect': 1 }) }}">
            <div class="grid_8 alpha">
                <div class="box">
                    <div class="block pricing">
                        {% for gtw in guest.invoice_gateways %}
                            {% if invoice.currency in gtw.accepted_currencies %}
                            <label class="gateway">
                                <input type="radio" name="gateway_id" value="{{ gtw.id }}"/>
                                {{ 'Pay by'|trans }} {{ gtw.title }}
                            </label>
                            {% endif %}
                        {% endfor %}
                        <div class="clear"></div>
                    </div>
                </div>
            </div>

            <div class="grid_4 omega">
                <div class="box">
                    <div class="block pricing">
                        <p>{{ 'Total:'|trans }}</p>
                        <div class="currency">{{ invoice.total | money(invoice.currency) }}</div>
                        <button class="bb-button bb-button-submit bb-button-big" type="submit">{{ 'Pay now'|trans }}</button>
                    </div>
                </div>
            </div>
            <input type="hidden" name="hash" value="{{ invoice.hash }}"/>
        </form>
        
        {% endif %}
    {% endif %}
        <div class="clear"></div>
    </div>
</div>

{% set transactions = client.invoice_transaction_get_list({ "invoice_id": invoice.id, "type": "payment", "per_page": 100 }).list %}

{% if transactions|length > 0 %}
<div class="widget">
    <div class="head">
        <h2 class="dark-icon i-payment">{{ 'Transactions'|trans }}</h2>
    </div>
    <table>
        <thead>
            <tr>
                <th>{{ 'Transaction Date'|trans }}</th>
                <th>{{ 'Transaction ID'|trans }}</th>
                <th>{{ 'Gateway'|trans }}</th>
                <th>{{ 'Amount'|trans }}</th>
            </tr>
        </thead>
        <tbody>
            {% for i, tx in transactions %}
            <tr class="{{ cycle(['odd', 'even'], i) }}">
                <td>{{tx.created_at|bb_date }}</td>
                <td>{{tx.txn_id}}</td>
                <td>{{tx.gateway|default('-')}}</td>
                <td>{{ tx.amount | money(tx.currency) }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endif %}
{% endblock %}

{% block sidebar2 %}
<div class="widget">
    <div class="head">
        <h2 class="dark-icon i-services">{{ 'Actions'|trans }}</h2>
    </div>
    <div class="block">
        {% if invoice.status == 'unpaid' %}
        <a class="bb-button" href="{{ ('invoice/'~invoice.hash)|link({ 'change_payment_method': 1 }) }}" style="margin-bottom: 10px">{{ 'Change payment method'|trans }}</a>
        {% endif %}
        <a class="bb-button" href="{{ 'invoice/pdf' | link }}/{{ invoice.hash }}">{{ 'Download PDF'|trans }}</a>
    </div>
</div>
{% endblock %}
