{% extends request.ajax ? "layout_blank.html.twig" : "layout_default.html.twig" %}

{% block meta_title %}{{ 'News'|trans }}{% endblock %}

{% block body_class %}news-index{% endblock %}
{% block breadcrumb %}<li class="breadcrumb-item active" aria-current="page">{{ 'News'|trans }}</li>{% endblock %}

{% block content %}
<div class="row">
    <div class="card ml-0 ml-md-3 w-100">
        <div class="card-header">
            <h1>{{ 'News & Announcements'|trans }}</h1>
            <p>{{ 'Track our latest information.'|trans }}</p>
        </div>
        <div class="card-body">
            {% set posts = guest.news_get_list({ "page": request.page, "per_page": 5 }) %}
            {% for i, post in posts.list %}
            <div class="card mb-2">
                <div class="card-body">
                    <span class="row">
                        <h3><a href="{{ '/news'|link }}/{{post.slug}}">{{ post.title }}</a></h3>
                        <div class="float-right ml-4 mt-2 font-weight-light"><h5>{{ post.updated_at|format_datetime }}</h5></div>
                    </span>

                   <section>
                       {% if post.excerpt %}
                            {{ post.excerpt|markdown }}
                       {% else %}
                            {{ post.content|markdown }}
                       {% endif %}
                   </section>
                    <a class="btn btn-primary btn-small read_more" href="{{ '/news'|link }}/{{post.slug}}">{{ 'Read more ...'|trans }}</a>
                </div>
            </div>
            {% else %}
                {{ 'The list is empty'|trans }}
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
