{% extends "layout_default.html.twig" %}

{% set company = guest.system_company %}

{% block meta_title %}{{ 'About us'|trans }}{% endblock %}
{% block meta_description %}{{ (company.note ?? company.signature ?? company.name)|markdown_to_html|striptags|trim|truncate(160) }}{% endblock %}

{% block body_class %}about-us{% endblock %}
{% block breadcrumb %}
    <li class="breadcrumb-item active" aria-current="page">{{ 'About'|trans }}</li>
{% endblock %}

{% block content %}
    <div class="tn-card">
        <div class="tn-card__header">
            <div>
                <span class="tn-card__title">{{ 'About us'|trans }}</span>
                {% if company.signature %}<div class="tn-card__subtitle">{{ company.signature }}</div>{% endif %}
            </div>
        </div>
        <div class="tn-prose">{{ (company.note ?? '')|markdown_to_html }}</div>
    </div>
{% endblock %}
