{% extends "layout_default.html.twig" %}

{% set company = guest.system_company %}

{% block meta_title %}{{ 'Terms and conditions'|trans }}{% endblock %}
{% block meta_description %}{{ 'Review the terms and conditions that apply to your use of %company% services.'|trans({'%company%': company.name}) }}{% endblock %}

{% block body_class %}tos{% endblock %}
{% block breadcrumb %}
    <li class="breadcrumb-item active" aria-current="page">{{ 'Terms'|trans }}</li>
{% endblock %}

{% block content %}
    <div class="tn-card">
        <div class="tn-card__header">
            <div>
                <span class="tn-card__title">{{ company.name }} {{ 'terms and conditions'|trans }}</span>
                {% if company.signature %}<div class="tn-card__subtitle">{{ company.signature }}</div>{% endif %}
            </div>
        </div>
        <div class="tn-prose">{{ (company.tos ?? '')|markdown_to_html }}</div>
    </div>
{% endblock %}
