{% extends "layout_public.html.twig" %}

{% import "macro_functions.html.twig" as mf %}

{% block meta_title %}{{ 'Reset password'|trans }}{% endblock %}
{% block meta_description %}{{ 'Request a password reset link to regain access to your client account securely.'|trans }}{% endblock %}
{% block body_class %}page-password-reset{% endblock %}
{% block body %}
<div class="tn-auth tn-auth--solo">
    <div class="tn-auth__panel">
        <div class="tn-auth__panel-inner">
            {% if settings.login_page_show_logo %}
                {{ include('partial_company_logo.html.twig', {
                    company: company,
                    logo_url: public_logo_url,
                    dark_logo_url: public_dark_logo_url,
                    link_url: settings.login_page_logo_url|default('/'),
                    link_target: '_blank',
                    link_rel: 'noopener noreferrer',
                    image_height: '32px'
                }) }}
            {% endif %}

            <div class="tn-auth__head">
                <h1 class="tn-auth__title">{{ 'Reset password'|trans }}</h1>
                <p class="tn-auth__sub">{{ 'Enter your email and we\'ll send you a link to choose a new one.'|trans }}</p>
            </div>

            <form method="post" action="{{ 'client/reset_password'|api_url(role: 'guest') }}" class="tn-auth__form" {{ fb_api_form({message: 'A password reset confirmation email will be sent to you if we found an account with that email address.'|trans}) }}>
                <div class="tn-field">
                    <label class="tn-field__label" for="email">{{ 'Email'|trans }}</label>
                    <input class="tn-input" id="email" type="text" placeholder="you@company.com" name="email" value="{{ request.email }}" required="required" autofocus>
                </div>
                {{ mf.recaptcha }}
                <button type="submit" class="tn-btn tn-btn--primary tn-btn--lg tn-btn--block">{{ 'Send reset link'|trans }}</button>
            </form>

            <p class="tn-auth__foot">
                <a href="{{ 'login'|url }}">{{ 'Back to sign in'|trans }}</a>
            </p>
        </div>
    </div>
</div>
{% endblock %}
