{% extends request.ajax ? "layout_blank.html.twig" : "layout_default.html.twig" %}

{% import "macro_functions.html.twig" as mf %}

{% block meta_title %}{{ 'SEO settings'|trans }}{% endblock %}

{% set active_menu = 'system' %}

{% block breadcrumbs %}
<ul>
    <li class="firstB"><a href="{{ '/'|alink }}">{{ 'Home'|trans }}</a></li>
    <li><a href="{{ 'system'|alink }}">{{ 'Settings'|trans }}</a></li>
    <li class="lastB">{{ 'SEO settings'|trans }}</li>
</ul>
{% endblock %}

{% block content %}
<div class="widget">
    <div class="head">
        <h5 class="iCog">{{ 'SEO settings'|trans }}</h5>
    </div>

    {% set params = admin.extension_config_get({ "ext": "mod_seo" }) %}
    <form method="post" action="{{ 'api/admin/extension/config_save'|link }}" class="mainForm api-form" data-api-msg="{{ 'Configuration updated'|trans }}">
        <fieldset>
            <legend>Sitemap</legend>
            <div class="rowElem noborder">
                <label>{{ 'Ping sitemap to Google'|trans }}</label>
                <div class="formRight">
                    <input type="radio" name="sitemap_google" value="1" {% if params.sitemap_google == "1" %}checked="checked"{% endif %}/><label>{{ 'Yes'|trans }}</label>
                    <input type="radio" name="sitemap_google" value="0" {% if not params.sitemap_google %}checked="checked"{% endif %}/><label>{{ 'No'|trans }}</label>
                </div>
                <div class="fix"></div>
            </div>
            
            <div class="rowElem">
                <label>{{ 'Ping sitemap to Bing'|trans }}</label>
                <div class="formRight">
                    <input type="radio" name="sitemap_bing" value="1" {% if params.sitemap_bing == "1" %}checked="checked"{% endif %}/><label>{{ 'Yes'|trans }}</label>
                    <input type="radio" name="sitemap_bing" value="0" {% if not params.sitemap_bing %}checked="checked"{% endif %}/><label>{{ 'No'|trans }}</label>
                </div>
                <div class="fix"></div>
            </div>

            <input type="submit" value="{{ 'Update'|trans }}" class="greyishBtn submitForm" />
            <input type="hidden" name="ext" value="mod_seo" />
        </fieldset>
    </form>
</div>
{% endblock %}
