{% extends request.ajax ? 'layout_blank.html.twig' : 'layout_default.html.twig' %}

{% import 'macro_functions.html.twig' as mf %}

{% block meta_title %}{{ 'System settings'|trans }}{% endblock %}

{% set active_menu = 'system' %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{{ '/'|alink }}">
                <svg class="icon">
                    <use xlink:href="#home" />
                </svg>
            </a>
        </li>
        <li class="breadcrumb-item">
            <a href="{{ 'system'|alink }}">{{ 'Settings'|trans }}</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">{{ 'System settings'|trans }}</li>
    </ol>
{% endblock %}

{% block content %}
    {% set new_params = admin.extension_config_get({ 'ext': 'mod_system' }) %}
    {% set params = admin.system_get_params %}
    <div class="card-tabs">
        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item" role="presentation">
                <a class="nav-link active" href="#tab-index" data-bs-toggle="tab" role="tab">{{ 'Company details'|trans }}</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" href="#company-legal" data-bs-toggle="tab" role="tab">{{ 'Company Legal'|trans }}</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" href="#tab-countries" data-bs-toggle="tab" role="tab">{{ 'Countries'|trans }}</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" href="#tab-cache" data-bs-toggle="tab" role="tab">{{ 'Cache'|trans }}</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" href="#tab-about" data-bs-toggle="tab" role="tab">{{ 'About'|trans }}</a>
            </li>
        </ul>

        <div class="card">
            <div class="tab-content">
                <div class="tab-pane fade show active" id="tab-index" role="tabpanel">
                    <form method="post" action="{{ 'api/admin/system/update_params'|link }}" class="api-form" data-api-msg="{{ 'Company updated'|trans }}">
                        <input type="hidden" name="CSRFToken" value="{{ CSRFToken }}">
                        <div class="card-body">
                            <div class="mb-3 row">
                                <label class="col-md-3 col-form-label">{{ 'Name'|trans }}</label>
                                <div class="col-md-6">
                                    <input class="form-control" type="text" name="company_name" value="{{ params.company_name }}">
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label class="col-md-3 col-form-label">{{ 'Email'|trans }}</label>
                                <div class="col-md-6">
                                    <input class="form-control" type="text" name="company_email" value="{{ params.company_email }}">
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label class="col-md-3 col-form-label">{{ 'Phone'|trans }}</label>
                                <div class="col-md-6">
                                    <input class="form-control" type="text" name="company_tel" value="{{ params.company_tel }}">
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label class="col-md-3 col-form-label">{{ 'Address'|trans }}</label>
                                <div class="col-md-6">
                                    <input class="form-control mb-2" type="text" name="company_address_1" value="{{ params.company_address_1 }}" placeholder="{{ 'Address line 1'|trans }}">
                                    <input class="form-control mb-2" type="text" name="company_address_2" value="{{ params.company_address_2 }}" placeholder="{{ 'Address line 2'|trans }}">
                                    <input class="form-control mb-2" type="text" name="company_address_3" value="{{ params.company_address_3 }}" placeholder="{{ 'Address line 3'|trans }}">
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label class="col-md-3 col-form-label">{{ 'Logo URL'|trans }}</label>
                                <div class="col-md-6">
                                    <input class="form-control" type="text" name="company_logo" value="{{ params.company_logo }}">
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label class="col-md-3 col-form-label">{{ 'Logo URL (dark mode)'|trans }}</label>
                                <div class="col-md-6">
                                    <input class="form-control" type="text" name="company_logo_dark" value="{{ params.company_logo_dark }}">
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label class="col-md-3 col-form-label">{{ 'Favicon'|trans }}</label>
                                <div class="col-md-6">
                                    <input class="form-control" type="text" name="company_favicon" value="{{ params.company_favicon }}">
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label class="col-md-3 col-form-label">{{ 'Company number, chamber of commerce number'|trans }}</label>
                                <div class="col-md-6">
                                    <input class="form-control" type="text" name="company_number" value="{{ params.company_number }}">
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label class="col-md-3 col-form-label">{{ 'VAT number'|trans }}</label>
                                <div class="col-md-6">
                                    <input class="form-control" type="text" name="company_vat_number" value="{{ params.company_vat_number }}">
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label class="col-md-3 col-form-label">{{ 'Bank Name'|trans }}</label>
                                <div class="col-md-6">
                                    <input class="form-control" type="text" name="company_bank_name" value="{{ params.company_bank_name }}">
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label class="col-md-3 col-form-label">{{ 'Bank Code / Clearing Code'|trans }}</label>
                                <div class="col-md-6">
                                    <input class="form-control" type="text" name="company_bank_clearing_code" value="{{ params.company_bank_clearing_code }}">
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label class="col-md-3 col-form-label">{{ 'Bank Account number'|trans }}</label>
                                <div class="col-md-6">
                                    <input class="form-control" type="text" name="company_account_number" value="{{ params.company_account_number }}">
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label class="col-md-3 col-form-label">{{ 'Display Bank Account information on Documents?'|trans }}</label>
                                <div class="col-md-6">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="company_display_bank_info" id="display_bank_info_yes" value="1" {% if params.company_display_bank_info == "1" %}checked{% endif %}>
                                        <label class="form-check-label" for="display_bank_info_yes">{{ 'Yes'|trans }}</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="company_display_bank_info" id="display_bank_info_no" value="0" {% if params.company_display_bank_info == "0" %}checked{% endif %}>
                                        <label class="form-check-label" for="display_bank_info_no">{{ 'No'|trans }}</label>
                                    </div>
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label class="form-label col-3 col-form-label">
                                    {{ 'Disallow guest API to fetch FOSSBilling version' | trans }}
                                    <br/>
                                    <small class="text-muted">{{'Enabling this functionality may effect modules that depend on it.' | trans }}</small>
                                </label>
                                <div class="col">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" id="radio_showPublicYes" type="radio" name="hide_version_public" value="1" {% if params.hide_version_public == "1" %}checked{% endif %}>
                                        <label class="form-check-label" for="radio_showPublicYes">
                                            {{ 'Yes' | trans }}
                                        </label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" id="radio_showPublicNo" type="radio" name="hide_version_public" value="0" {% if params.hide_version_public == "0" %}checked{% endif %}>
                                        <label class="form-check-label" for="radio_showPublicNo">
                                            {{ 'No' | trans }}
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label class="form-label col-3 col-form-label">
                                    {{ 'Hide some company information in the guest API' | trans }}
                                    <br/>
                                    <small class="text-muted">{{'Enabling this will hide some information from the "company" guest API endpoint such as the address, phone number, email, VAT number, and more.' | trans }}</small>
                                </label>
                                <div class="col">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" id="radio_showCompanyPublicYes" type="radio" name="hide_company_public" value="1" {% if params.hide_company_public == "1" %}checked{% endif %}>
                                        <label class="form-check-label" for="radio_showCompanyublicYes">
                                            {{ 'Yes' | trans }}
                                        </label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" id="radio_showCompanyPublicNo" type="radio" name="hide_company_public" value="0" {% if params.hide_company_public == "0" %}checked{% endif %}>
                                        <label class="form-check-label" for="radio_showCompanyPublicNo">
                                            {{ 'No' | trans }}
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label class="col-md-3 col-form-label">{{ 'Signature'|trans }}</label>
                                <div class="col-md-6">
                                    <textarea class="form-control" name="company_signature" rows="2">{{ params.company_signature }}</textarea>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer text-end">
                            <button class="btn btn-primary" type="submit">{{ 'Update settings'|trans }}</button>
                        </div>
                    </form>
                </div>

                <div class="tab-pane fade" id="company-legal" role="tabpanel">
                    <form method="post" action="{{ 'api/admin/system/update_params'|link }}" class="api-form" data-api-msg="{{ 'Company updated'|trans }}">
                        <input type="hidden" name="CSRFToken" value="{{ CSRFToken }}">
                        <div class="card-body">
                            <div class="mb-3">
                                <h3>{{ 'Company terms of service, legal regulation'|trans }}</h3>
                                <textarea class="form-control bb-textarea" name="company_tos" rows="5">{{ params.company_tos }}</textarea>
                            </div>
                            <div class="mb-3">
                                <h3>{{ 'Company privacy policy'|trans }}</h3>
                                <textarea class="form-control bb-textarea" name="company_privacy_policy" rows="5">{{ params.company_privacy_policy }}</textarea>
                            </div>
                            <div class="mb-3">
                                <h3>{{ 'Notes'|trans }}</h3>
                                <textarea class="form-control bb-textarea" name="company_note" rows="5">{{ params.company_note }}</textarea>
                            </div>
                        </div>
                        <div class="card-footer text-end">
                            <button class="btn btn-primary" type="submit">{{ 'Update settings'|trans }}</button>
                        </div>
                    </form>
                </div>

                <div class="tab-pane fade" id="tab-countries" role="tabpanel">
                    <form method="post" action="{{ 'api/admin/extension/config_save'|link }}" class="api-form" data-api-msg="{{ 'Countries updated'|trans }}">
                        <input type="hidden" name="CSRFToken" value="{{ CSRFToken }}">
                        <input type="hidden" name="ext" value="mod_system">
                        <div class="card-body">
{% set default_countries %}
AF=Afghanistan
AX=Aland Islands
AL=Albania
DZ=Algeria
AS=American Samoa
AD=Andorra
AO=Angola
AI=Anguilla
AQ=Antarctica
AG=Antigua and Barbuda
AR=Argentina
AM=Armenia
AW=Aruba
AU=Australia
AT=Austria
AZ=Azerbaijan
BS=Bahamas
BH=Bahrain
BD=Bangladesh
BB=Barbados
BY=Belarus
BE=Belgium
BZ=Belize
BJ=Benin
BM=Bermuda
BT=Bhutan
BO=Bolivia
BQ=Bonaire, Sint Eustatius and Saba
BA=Bosnia and Herzegovina
BW=Botswana
BR=Brazil
IO=British Indian Ocean Territory
VG=British Virgin Islands
BN=Brunei
BG=Bulgaria
BF=Burkina Faso
BI=Burundi
CV=Cabo Verde
KH=Cambodia
CM=Cameroon
CA=Canada
KY=Cayman Islands
CF=Central African Republic
TD=Chad
CL=Chile
CN=China
CX=Christmas Island
CC=Cocos (Keeling) Islands
CO=Colombia
KM=Comoros
CD=Congo (Democratic Republic of the)
CG=Congo (Republic of the)
CK=Cook Islands
CR=Costa Rica
CI=Cote D'Ivoire
HR=Croatia
CU=Cuba
CW=Curacao
CY=Cyprus
CZ=Czechia
DK=Denmark
DJ=Djibouti
DM=Dominica
DO=Dominican Republic
EC=Ecuador
EG=Egypt
SV=El Salvador
GQ=Equatorial Guinea
ER=Eritrea
EE=Estonia
SZ=Eswatini
ET=Ethiopia
FK=Falkland Islands (Islas Malvinas)
FO=Faroe Islands
FJ=Fiji
FI=Finland
FR=France
GF=French Guiana
PF=French Polynesia
TF=French Southern Territories
GA=Gabon
GM=Gambia
GE=Georgia
DE=Germany
GH=Ghana
GI=Gibraltar
GR=Greece
GL=Greenland
GD=Grenada
GP=Guadeloupe
GU=Guam
GT=Guatemala
GG=Guernsey
GN=Guinea
GW=Guinea-Bissau
GY=Guyana
HT=Haiti
HN=Honduras
HK=Hong Kong
HU=Hungary
IS=Iceland
IN=India
ID=Indonesia
IR=Iran
IQ=Iraq
IE=Ireland
IM=Isle of Man
IL=Israel
IT=Italy
JM=Jamaica
JP=Japan
JE=Jersey
JO=Jordan
KZ=Kazakhstan
KE=Kenya
KI=Kiribati
KW=Kuwait
KG=Kyrgyzstan
LA=Laos
LV=Latvia
LB=Lebanon
LS=Lesotho
LR=Liberia
LY=Libya
LI=Liechtenstein
LT=Lithuania
LU=Luxembourg
MO=Macau
MG=Madagascar
MW=Malawi
MY=Malaysia
MV=Maldives
ML=Mali
MT=Malta
MH=Marshall Islands
MQ=Martinique
MR=Mauritania
MU=Mauritius
YT=Mayotte
MX=Mexico
FM=Micronesia
MD=Moldova
MC=Monaco
MN=Mongolia
ME=Montenegro
MS=Montserrat
MA=Morocco
MZ=Mozambique
MM=Myanmar (Burma)
NA=Namibia
NR=Nauru
NP=Nepal
NL=Netherlands
NC=New Caledonia
NZ=New Zealand
NI=Nicaragua
NE=Niger
NG=Nigeria
NU=Niue
NF=Norfolk Island
KP=North Korea
MK=North Macedonia
MP=Northern Mariana Islands
NO=Norway
OM=Oman
PK=Pakistan
PW=Palau
PS=Palestine
PA=Panama
PG=Papua New Guinea
PY=Paraguay
PE=Peru
PH=Philippines
PN=Pitcairn Islands
PL=Poland
PT=Portugal
PR=Puerto Rico
QA=Qatar
RE=Reunion
RO=Romania
RU=Russia
RW=Rwanda
BL=Saint Barthelemy
SH=Saint Helena, Ascension and Tristan da Cunha
KN=Saint Kitts And Nevis
LC=Saint Lucia
MF=Saint Martin
VC=Saint Vincent and the Grenadines
PM=Saint Pierre And Miquelon
WS=Samoa
SM=San Marino
ST=Sao Tome And Principe
SA=Saudi Arabia
SN=Senegal
RS=Serbia
SC=Seychelles
SL=Sierra Leone
SG=Singapore
SX=Sint Maarten
SK=Slovakia
SI=Slovenia
SB=Solomon Islands
SO=Somalia
ZA=South Africa
KR=South Korea
ES=Spain
LK=Sri Lanka
SD=Sudan
SR=Suriname
SJ=Svalbard and Jan Mayen
SE=Sweden
CH=Switzerland
SY=Syria
TW=Taiwan
TJ=Tajikistan
TZ=Tanzania
TH=Thailand
TP=Timor-Leste
TG=Togo
TK=Tokelau
TO=Tonga
TT=Trinidad and Tobago
TN=Tunisia
TR=Turkey
TM=Turkmenistan
TC=Turks and Caicos Islands
TV=Tuvalu
UG=Uganda
UA=Ukraine
AE=United Arab Emirates
GB=United Kingdom
US=United States
UM=United States Minor Outlying Islands
UY=Uruguay
UZ=Uzbekistan
VU=Vanuatu
VA=Vatican City
VE=Venezuela
VN=Vietnam
VI=Virgin Islands (U.S.)
WF=Wallis and Futuna
EH=Western Sahara
YE=Yemen
ZM=Zambia
ZW=Zimbabwe
{% endset %}
                            <div class="mb-3 row">
                                <label class="col-md-3 col-form-label">{{ 'List of countries'|trans }}</label>
                                <div class="col-md-6">
                                    <textarea class="form-control" name="countries" rows="25" placeholder="US=United States">{{ new_params.countries|default(default_countries) }}</textarea>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer text-end">
                            <button class="btn btn-primary" type="submit">{{ 'Update settings'|trans }}</button>
                        </div>
                    </form>
                </div>

                <div class="tab-pane fade" id="tab-cache" role="tabpanel">
                    <div class="card-header">
                        <h3 class="card-title">{{ 'Cache control'|trans }}</h3>
                        <div class="card-actions">
                            <form method="post" action="{{ 'api/admin/system/clear_cache'|link }}" class="api-form" data-api-msg="{{ 'Cache directory is cleared'|trans }}">
                                <input type="hidden" name="CSRFToken" value="{{ CSRFToken }}"/>
                                <button class="btn btn-danger" type="submit">{{ 'Invalidate cache'|trans }}</button>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="tab-pane fade" id="tab-about" role="tabpanel">
                    <div class="card-header">
                        <h3 class="card-title">{{ 'About FOSSBilling'|trans }}</h3>
                    </div>
                    <div class="card-body">
                        <div class="datagrid">
                            <div class="datagrid-item">
                                <div class="datagrid-title">FOSSBilling version</div>
                                <div class="datagrid-content">{{ FOSSBillingVersion }}</div>
                            </div>
                            <div class="datagrid-item">
                                <div class="datagrid-title">PHP version</div>
                                <div class="datagrid-content">{{ constant('PHP_VERSION') }}</div>
                            </div>
                            <div class="datagrid-item">
                                <div class="datagrid-title">License</div>
                                <div class="datagrid-content"><a href="https://github.com/FOSSBilling/FOSSBilling/blob/main/LICENSE">Apache 2.0</a></div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}

{% block head %}{{ mf.bb_editor('.bb-textarea') }}{% endblock %}
