<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block meta_title %}{% endblock %}</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="{{ CSRFToken }}">

    <link rel="shortcut icon" href="{{ guest.system_company.favicon_url }}">

    {% include "partial_bb_meta.html.twig" %}

    {{ encore_entry_link_tags('fossbilling') }}
    {{ "Api/API.js" | library_url | script_tag }}
    {{ encore_entry_script_tags('fossbilling') }}
</head>

<body class="border-top-wide border-primary d-flex flex-column" data-bs-theme="dark">
    <script>
        if (localStorage.getItem('theme') === 'dark') {
            document.body.setAttribute("data-bs-theme", localStorage.getItem('theme'));
        } else {
            document.body.removeAttribute("data-bs-theme");
        }
    </script>

    {% block content %}{% endblock %}
    {% block js %}{% endblock %}

    <div class="d-none">
        {% include '../build/symbol/icons-sprite.svg' %}
    </div>
    <div class="toast-container position-fixed bottom-0 end-0 p-3" style="z-index: 1070;">
    </div>
</body>
</html>
