{% macro build_form(elements, values) %}
    {% for name, element in elements %}
    <div class="mb-3 row">
        {% if element[0] == 'select' %}
        <label class="form-label col-3 col-form-label">{{ element[1].label }}{% if element[1].description %} - {{ element[1].description }}{% endif %}</label>
        <div class="col">
            <select class="form-select" name="config[{{ name }}]">
            {% for k, v in element[1].multiOptions %}
                <option value="{{ k }}"{% if k == values[name] %} selected{% endif %}/><label>{{ v }}</label>
            {% endfor %}
            </select>
        </div>
        {% elseif element[0] == 'multiselect' %}
        <label class="form-label col-3 col-form-label">{{ element[1].label }}{% if element[1].description %} - {{ element[1].description }}{% endif %}</label>
        <div class="col">
            <select class="form-select" name="config[{{ name }}]" multiple>
            {% for k, v in element[1].multiOptions %}
                <option value="{{ k }}"{% if k == values[name] %} selected{% endif %}/><label>{{ v }}</label>
            {% endfor %}
            </select>
        </div>
        {% elseif element[0] == 'radio' %}
        <label class="form-label col-3 col-form-label">{{ element[1].label }}{% if element[1].description %} - {{ element[1].description }}{% endif %}</label>
        <div class="col">
            {% for k, v in element[1].multiOptions %}
                <div class="form-check form-check-inline">
                    <input class="form-check-input" id="el-{{ name ~ k }}" type="radio" name="config[{{ name }}]" value="{{ k }}"{% if k == values[name] %}checked{% endif %}>
                    <label class="form-check-label" for="el-{{ name ~ k }}">{{ v }}</label>
                </div>
            {% endfor %}
        </div>
        {% elseif element[0] == 'textarea' %}
        <label class="form-label col-3 col-form-label" for="el-{{ name }}">{{ element[1].label }}{% if element[1].description %} - {{ element[1].description }}{% endif %}</label>
        <div class="col">
            <textarea class="form-control" id="el-{{ name }}" name="config[{{ name }}]" rows="20" required>{{ values[name] }}</textarea>
        </div>
        {% else %}
        <label class="form-label col-3 col-form-label" for="el-{{ name }}">{{ element[1].label }}{% if element[1].description %} - {{ element[1].description }}{% endif %}</label>
        <div class="col">
            <input class="form-control" id="el-{{ name }}" type="{{ element[0] }}" name="config[{{ name }}]" value="{{ values[name] }}"{% if not element[1].required is defined and not element[1].required == 'false' %}required{% endif %}>
        </div>
        {% endif %}
    </div>
    {% endfor %}
{% endmacro build_form %}

{% macro status_name(status) %}
    {% set status = status|replace({'_': " "})|title|trim %}
    {% if status == 'Active' %}
        {{ 'Active'|trans }}
    {% elseif status == 'Pending Setup' %}
        {{ 'Pending Setup'|trans }}
    {% elseif status == 'Failed Setup' %}
        {{ 'Failed Setup'|trans }}
    {% elseif status == 'Failed Renew' %}
        {{ 'Failed Renewal'|trans }}
    {% elseif status == 'Suspended' %}
        {{ 'Suspended'|trans }}
    {% elseif status == 'Canceled' %}
        {{ 'Canceled'|trans }}
    {% elseif status == 'Paid' %}
        {{ 'Paid'|trans }}
    {% elseif status == 'Unpaid' %}
        {{ 'Unpaid'|trans }}
    {% elseif status == 'Refunded' %}
        {{ 'Refunded'|trans }}
    {% else %}
        {{ status|trans }}
    {% endif %}
{% endmacro status_name %}

{% macro ip_lookup_link(ip) %}
    {% if ip is not empty %}
        <a href="{{ 'security/iplookup'|url({'ip': ip }) }}" target="_blank" class='iplookuplink'>{{ ip }}</a>
    {% else %}
        {{ ip }}
    {% endif %}
{% endmacro ip_lookup_link %}

{% macro q(bool) %}
    {% if bool %}
        {{ 'Yes'|trans }}
    {% else %}
        {{ 'No'|trans }}
    {% endif %}
{% endmacro q %}

{% macro selectbox(name, options, selected, required, nullOption) %}
    <select class="form-select" name="{{ name }}" id="{{ name }}"{% if required %}required{% endif%}>
        {% if nullOption %}<option value="">-- {{ nullOption }} --</option>{% endif %}
        {% for val, label in options %}
            <option value="{{ val }}" label="{{ label|e }}" {% if selected == val %}selected="selected"{% endif %}>{{ label|e }}</option>
        {% endfor %}
    </select>
{% endmacro selectbox %}

{% macro selectboxtld(name, options, selected, required) %}
    <select class="form-select" name="{{ name }}"{% if required %}required{% endif %}>
        {% for data in options %}
            <option value="{{ data.tld }}" label="{{ data.tld }}"{% if selected == data.tld %}selected{% endif %}>{{ data.tld }}</option>
        {% endfor %}
    </select>
{% endmacro selectboxtld %}

{% macro wysiwyg(selector) %}
    {% if guest.extension_is_on({"mod":"wysiwyg"}) %}
        {% include "mod_wysiwyg_js.html.twig" with {"class":selector|trim('.#')} %}
    {% else %}
        <!-- No WYSIWYG, no fancy stuff. Enable the WYSIWYG extension for a better management experience. -->
    {% endif %}
{% endmacro %}
