{% extends 'layout_default.html.twig' %}

{% import 'macro_functions.html.twig' as mf %}

{% block meta_title %}{{ 'Dashboard'|trans }}{% endblock %}

{% block content %}
    {% for alert in admin.system_cas_messages() %}
    <div class="alert alert-{{ alert.type }} {{ alert.dismissible ? "alert-dismissible" : "" }}" role="alert">
        <h3 class="mb-1">{{ alert.title }}</h3>
        <p>{{ alert.message }}</p>
        {% if alert.buttons|length > 0 %}
            <div class="btn-list">
            {% for button in alert.buttons %}
                <a href="{{ button.link }}" class="btn {{ button.type ? "btn-" ~ button.type : "" }}">{{ button.text }}</a>
            {% endfor %}
            </div>
        {% endif %}
        {% if alert.dismissible %}
            <a class="btn-close" data-bs-dismiss="alert" aria-label="close"></a>
        {% endif %}
    </div>
    {% endfor %}
    {% for msg in admin.system_messages({ 'type': 'danger' }) %}
    <div class="alert alert-danger alert-dismissible fade show mb-3" role="alert">
        <strong>{{ 'Danger!'|trans }}</strong> {% if msg.url is not empty %}<a href="{{ msg.url }}">{{ msg.text }}</a>{% else %} {{ msg.text }} {% endif %}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
    {% for msg in admin.system_messages({ 'type': 'warning' }) %}
    <div class="alert alert-warning alert-dismissible fade show mb-3" role="alert">
        <strong>{{ 'Warning'|trans }}:</strong> {% if msg.url is not empty %}<a href="{{ msg.url }}">{{ msg.text }}</a>{% else %} {{ msg.text }} {% endif %}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
    {% for msg in admin.system_messages({ 'type': 'info' }) %}
    <div class="alert alert-primary alert-dismissible fade show mb-3" role="alert">
        <strong>{{ 'Information'|trans }}:</strong> {% if msg.url is not empty %}<a href="{{ msg.url }}">{{ msg.text }}</a>{% else %} {{ msg.text }} {% endif %}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}

<div class="row row-deck row-cards">
    {% if admin.system_is_allowed({ 'mod': 'stats' }) %}
        {% set stats = admin.stats_get_summary %}
        {% set income = admin.stats_get_summary_income %}
        {% set client_statuses = admin.client_get_statuses %}
        {% set order_statuses = admin.order_get_statuses %}
        {% set invoice_statuses = admin.invoice_get_statuses %}
        {% set support_statuses = admin.support_ticket_get_statuses %}

        <div class="col-sm-6 col-lg-3">
            <a href="{{ 'client'|alink }}" class="card card-sm">
                <div class="card-body">
                    {% if client_statuses.suspended > 0 %}
                    <span class="position-absolute top-0 translate-middle badge rounded-pill bg-danger text-light">{{ client_statuses.suspended }}</span>
                    {% endif %}
                    <div class="row align-items-center">
                        <div class="col-auto">
                            <span class="bg-blue text-white avatar">
                                <svg class="icon">
                                    <use xlink:href="#contacts" />
                                </svg>
                            </span>
                        </div>
                        <div class="col">
                            <div class="font-weight-medium">{{ stats.clients_total }} {{ 'clients'|trans }}</div>
                            <div class="text-muted">{{ client_statuses.suspended }} {{ 'suspended'|trans }}</div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-sm-6 col-lg-3">
            <a href="{{ 'order'|alink }}" class="card card-sm">
                <div class="card-body">
                    {% if order_statuses.suspended > 0 %}
                    <span class="position-absolute top-0 translate-middle badge rounded-pill bg-danger text-light">{{ order_statuses.suspended }}</span>
                    {% endif %}
                    <div class="row align-items-center">
                        <div class="col-auto">
                        <span class="bg-green text-white avatar">
                            <svg class="icon">
                                <use xlink:href="#orders" />
                            </svg>
                        </span>
                        </div>
                        <div class="col">
                            <div class="font-weight-medium">{{ stats.orders_total }} {{ 'orders'|trans }}</div>
                            <div class="text-muted">{{ order_statuses.suspended }} {{ 'suspended'|trans }}</div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-sm-6 col-lg-3">
            <a href="{{ 'invoice'|alink }}" class="card card-sm">
                <div class="card-body">
                    {% if invoice_statuses.unpaid > 0 %}
                    <span class="position-absolute top-0 translate-middle badge rounded-pill bg-danger text-light">{{ invoice_statuses.unpaid }}</span>
                    {% endif %}
                    <div class="row align-items-center">
                        <div class="col-auto">
                            <span class="bg-danger text-white avatar">
                                <svg class="icon">
                                    <use xlink:href="#currency-dollar" />
                                </svg>
                            </span>
                        </div>
                        <div class="col">
                            <div class="font-weight-medium">{{ stats.invoices_total }} {{ 'invoices'|trans }}</div>
                            <div class="text-muted">{{ invoice_statuses.unpaid }} {{ 'unpaid'|trans }}</div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-sm-6 col-lg-3">
            <a href="{{ 'support'|alink }}" class="card card-sm">
                <div class="card-body">
                    {% if support_statuses.open > 0 %}
                    <span class="position-absolute top-0 translate-middle badge rounded-pill bg-danger text-light">{{ support_statuses.open }}</span>
                    {% endif %}
                    <div class="row align-items-center">
                        <div class="col-auto">
                        <span class="bg-warning text-white avatar">
                            <svg class="icon">
                                <use xlink:href="#support" />
                            </svg>
                        </span>
                        </div>
                        <div class="col">
                            <div class="font-weight-medium">{{ stats.tickets_total }} {{ 'tickets'|trans }}</div>
                            <div class="text-muted">{{ support_statuses.open }} {{ 'waiting for staff reply'|trans }}</div>
                        </div>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-12">
            <div class="card overflow-x-auto">
                <div class="card-header">
                    <h3 class="card-title">{{ 'Statistics'|trans }}</h3>
                </div>
                <div class="table-responsive">
                <table class="table card-table table-vcenter table-striped text-nowrap">
                    <thead>
                        <tr>
                            <th></th>
                            <th class="text-center">{{ 'Today'|trans }}</th>
                            <th class="text-center">{{ 'Yesterday'|trans }}</th>
                            <th class="text-center">{{ 'This month so far'|trans }}</th>
                            <th class="text-center">{{ 'Last month'|trans }}</th>
                            <th class="text-center">{{ 'Total'|trans }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{ 'Income'|trans }}</td>
                            <td class="text-center">
                                <a href="{{ 'invoice'|alink({ 'paid_at': 'now'|date('Y-m-d')}) }}" class="text-danger">{{ mf.currency_format(income.today) }}</a>
                            </td>
                            <td class="text-center">
                                <a href="{{ 'invoice'|alink({ 'paid_at': 'yesterday'|date('Y-m-d')}) }}" class="text-danger">{{ mf.currency_format(income.yesterday) }}</a>
                            </td>
                            <td class="text-center">
                                <a href="{{ 'invoice'|alink }}" class="text-danger">{{ mf.currency_format(income.this_month) }}</a>
                            </td>
                            <td class="text-center">
                                <a href="{{ 'invoice'|alink }}" class="text-danger">{{ mf.currency_format(income.last_month) }}</a>
                            </td>
                            <td class="text-center">
                                <a href="{{ 'invoice'|alink }}" class="text-danger">{{ mf.currency_format(income.total) }}</a>
                            </td>
                        </tr>
                        <tr>
                            <td>{{ 'Clients'|trans }}</td>
                            <td class="text-center">
                                <a href="{{ 'client'|alink({ 'created_at': 'now'|date('Y-m-d')}) }}" class="text-danger">{{ stats.clients_today }}</a>
                            </td>
                            <td class="text-center">
                                <a href="{{ 'client'|alink({ 'created_at': 'yesterday'|date('Y-m-d')}) }}" class="text-danger">{{ stats.clients_yesterday }}</a>
                            </td>
                            <td class="text-center">
                                <a href="{{ 'client'|alink }}" class="text-danger">{{ stats.clients_this_month }}</a>
                            </td>
                            <td class="text-center">
                                <a href="{{ 'client'|alink }}" class="text-danger">{{ stats.clients_last_month }}</a>
                            </td>
                            <td class="text-center">
                                <a href="{{ 'client'|alink }}" class="text-danger">{{ stats.clients_total }}</a>
                            </td>
                        </tr>
                        <tr>
                            <td>{{ 'Orders'|trans }}</td>
                            <td class="text-center">
                                <a href="{{ 'order'|alink({ 'created_at': 'now'|date('Y-m-d')}) }}" class="text-danger">{{ stats.orders_today }}</a>
                            </td>
                            <td class="text-center">
                                <a href="{{ 'order'|alink({ 'created_at': 'yesterday'|date('Y-m-d')}) }}" class="text-danger">{{ stats.orders_yesterday }}</a>
                            </td>
                            <td class="text-center">
                                <a href="{{ 'order'|alink }}" class="text-danger">{{ stats.orders_this_month }}</a>
                            </td>
                            <td class="text-center">
                                <a href="{{ 'order'|alink }}" class="text-danger">{{ stats.orders_last_month }}</a>
                            </td>
                            <td class="text-center">
                                <a href="{{ 'order'|alink }}" class="text-danger">{{ stats.orders_total }}</a>
                            </td>
                        </tr>
                        <tr>
                            <td>{{ 'Invoices'|trans }}</td>
                            <td class="text-center">
                                <a href="{{ 'invoice'|alink({ 'created_at': 'now'|date('Y-m-d')}) }}" class="text-danger">{{ stats.invoices_today }}</a>
                            </td>
                            <td class="text-center">
                                <a href="{{ 'invoice'|alink({ 'created_at': 'yesterday'|date('Y-m-d')}) }}" class="text-danger">{{ stats.invoices_yesterday }}</a>
                            </td>
                            <td class="text-center">
                                <a href="{{ 'invoice'|alink }}" class="text-danger">{{ stats.invoices_this_month }}</a>
                            </td>
                            <td class="text-center">
                                <a href="{{ 'invoice'|alink }}" class="text-danger">{{ stats.invoices_last_month }}</a>
                            </td>
                            <td class="text-center">
                                <a href="{{ 'invoice'|alink }}" class="text-danger">{{ stats.invoices_total }}</a>
                            </td>
                        </tr>
                        <tr>
                            <td>{{ 'Tickets'|trans }}</td>
                            <td class="text-center">
                                <a href="{{ 'support'|alink({ 'created_at': 'now'|date('Y-m-d')}) }}" class="text-danger">{{ stats.tickets_today }}</a>
                            </td>
                            <td class="text-center">
                                <a href="{{ 'support'|alink({ 'created_at': 'yesterday'|date('Y-m-d')}) }}" class="text-danger">{{ stats.tickets_yesterday }}</a>
                            </td>
                            <td class="text-center">
                                <a href="{{ 'support'|alink }}" class="text-danger">{{ stats.tickets_this_month }}</a>
                            </td>
                            <td class="text-center">
                                <a href="{{ 'support'|alink }}" class="text-danger">{{ stats.tickets_last_month }}</a>
                            </td>
                            <td class="text-center">
                                <a href="{{ 'support'|alink }}" class="text-danger">{{ stats.tickets_total }}</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                </div>
            </div>
        </div>
    {% endif %}

    {% set invoicesUnpaid = admin.invoice_get_list({ 'status': 'unpaid' }) %}
    {% if invoicesUnpaid.list|length > 0 %}
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">{{ 'Invoices'|trans }}</h3>
                <div class="card-actions">
                    <a href="{{ '/invoice'|alink }}" class="btn-action">
                        <svg class="icon">
                            <use xlink:href="#dots-vertical" />
                        </svg>
                    </a>
                </div>
            </div>

            <div class="table-responsive">
                <table class="table card-table table-vcenter table-striped text-nowrap">
                    <tbody>
                        {% for invoice in invoicesUnpaid.list %}
                        <tr>
                            <td class="w-1">
                                <a href="{{ '/invoice/manage'|alink }}/{{ invoice.id }}">{{ invoice.serie_nr }}</a>
                            </td>
                            <td class="w-1">
                                <a href="{{ 'client'|alink }}/manage/{{ invoice.client.id }}">
                                    <span class="avatar avatar-xs" style="background-image: url({{ invoice.buyer.email|gravatar }}&size=24"></span>
                                </a>
                            </td>
                            <td>
                                <a href="{{ 'client'|alink }}/manage/{{ invoice.client.id }}">{{ invoice.buyer.first_name }} {{ invoice.buyer.last_name }}</a>
                            </td>
                            <td class="text-center">{{ mf.currency_format(invoice.total, invoice.currency) }}</td>
                            <td class="text-center">{{ invoice.created_at|format_date }}</td>
                            <td>
                                {% if invoice.status == 'paid' %}
                                    <span class="badge bg-success me-1"></span>
                                {% endif %}
                                {% if invoice.status == 'unpaid' %}
                                    <span class="badge bg-danger me-1"></span>
                                {% endif %}
                                {% if invoice.status == 'refunded' %}
                                    <span class="badge bg-warning me-1"></span>
                                {% endif %}
                                {% if invoice.status == 'canceled' %}
                                    <span class="badge bg-secondary me-1"></span>
                                {% endif %}
                                {{ mf.status_name(invoice.status) }}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    {% endif %}

    {% set orders = admin.order_get_list({ 'per_page': '5', 'status': 'active' }) %}
    {% if orders.list|length > 0 %}
        <div class="col-lg-6">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">{{ 'Latest orders'|trans }}</h3>
                    <span class="ms-2 badge bg-success">
                        <a href="{{ 'order'|alink }}" class="text-white">+{{ orders.total }}</a>
                    </span>
                    <div class="card-actions">
                        <a href="{{ '/order'|alink }}" class="btn-action">
                            <svg class="icon">
                                <use xlink:href="#dots-vertical" />
                            </svg>
                        </a>
                    </div>
                </div>

                <div class="table-responsive">
                    <table class="table card-table table-vcenter table-striped text-nowrap">
                        <tbody>
                        {% for order in orders.list %}
                            <tr title="{{ order.created_at|timeago }} {{ 'ago'|trans }}">
                                <td>
                                    <a href="{{ 'client/manage'|alink }}/{{ order.client_id }}">{{ order.client.first_name }} {{ order.client.last_name }}</a>
                                </td>
                                <td>
                                    <a href="{{ 'order/manage'|alink }}/{{ order.id }}">{{ order.title|truncate(35) }}</a>
                                </td>
                            </tr>
                        {% else %}
                        <tr>
                            <td colspan="2" align="center">{{ 'The list is empty'|trans }}</td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        {# <div class="col-lg-6">
            <div class="widget card">
                <div class="head">
                    <h5 class="iGraph">{{ 'Product sales'|trans }}</h5>
                </div>
                <div>
                    <table class="tableStatic wide">
                        <thead>
                            <tr>
                                <td>{{ 'Product/Service'|trans }}</td>
                                <td>{{ 'Orders'|trans }}</td>
                            </tr>
                        </thead>
                        <tbody>
                        {% for p in admin.stats_get_product_summary %}
                            <tr>
                                <td><a href="{{ 'product/manage'|alink }}/{{ p.id }}" title="{{ p.title }}">{{ p.title|truncate(35) }}</a></td>
                                <td align="center">
                                    <a href="{{ 'order'|alink({ 'product_id': p.id }) }}" class="webStatsLink">{{ p.orders }}</a>
                                </td>
                            </tr>
                        {% else %}
                        <tr>
                            <td colspan="2" align="center">{{ 'No active orders available'|trans }}</td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div> #}
    {% endif %}

    {% if admin.system_is_allowed({ 'mod': 'stats' }) %}
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h5>{{ 'Define date interval for graphs'|trans }}</h5>
                <form method="get" action="">
                    <input type="hidden" name="CSRFToken" value="{{ CSRFToken }}"/>
                    <input type="hidden" name="_url" value="{{ request._url }}">
                    <div class="input-group">
                        <div class="input-icon">
                            <input class="form-control datepicker"
                                   style="width: 16rem"
                                   id="graph_interval"
                                   value="{% if request.date_from %}{{ request.date_from|date('Y-m-d') }}{% endif %}{% if request.date_to %} to {{ request.date_to|date('Y-m-d') }}{% endif %}"
                                   data-name-from="date_from"
                                   data-name-to="date_to"
                            >
                            <span class="input-icon-addon">
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                    <path d="M4 5m0 2a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2z"></path>
                                    <path d="M16 3l0 4"></path>
                                    <path d="M8 3l0 4"></path>
                                    <path d="M4 11l16 0"></path>
                                    <path d="M11 15l1 0"></path>
                                    <path d="M12 15l0 3"></path>
                                </svg>
                            </span>
                        </div>
                        <input type="submit" value="{{ 'Update graphs'|trans }}" class="btn btn-primary">
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">{{ 'Income'|trans }}</h3>
            </div>
            <div id="chart-income" style="width: 100%; height: 200px;"></div>
        </div>
    </div>

    <div class="col-sm-6 col-lg-3">
        <div class="card">
            <div class="card-body">
                <div class="subheader">{{ 'Orders'|trans }}</div>
            </div>
            <div id="chart-orders" class="chart-sm" style="min-height: 40px;"></div>
        </div>
    </div>

    <div class="col-sm-6 col-lg-3">
        <div class="card">
            <div class="card-body">
                <div class="subheader">{{ 'Invoices'|trans }}</div>
            </div>
            <div id="chart-invoices" class="chart-sm" style="min-height: 40px;"></div>
        </div>
    </div>

    <div class="col-sm-6 col-lg-3">
        <div class="card">
            <div class="card-body">
                <div class="subheader">{{ 'Clients'|trans }}</div>
            </div>
            <div id="chart-clients" class="chart-sm" style="min-height: 40px;"></div>
        </div>
    </div>

    <div class="col-sm-6 col-lg-3">
        <div class="card">
            <div class="card-body">
                <div class="subheader">{{ 'Tickets'|trans }}</div>
            </div>
            <div id="chart-tickets" class="chart-sm" style="min-height: 40px;"></div>
        </div>
    </div>
    {% endif %}

    {% if admin.system_is_allowed({ 'mod': 'activity' }) %}
    <div class="col-12 d-block">
        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item" role="presentation">
                <a class="nav-link active" href="#tab-index" role="tab" data-bs-toggle="tab">{{ 'Recent clients activity'|trans }}</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" href="#tab-staff" role="tab" data-bs-toggle="tab">{{ 'Recent staff activity'|trans }}</a>
            </li>
        </ul>

        <div class="card">
            <div class="tab-content" id="tabs">
                <div class="tab-pane fade show active" id="tab-index" role="tabpanel">
                    <table class="table table-vcenter card-table table-striped">
                        <tbody>
                            {% set events = admin.activity_log_get_list({ 'per_page': 10, 'only_clients': 1 }) %}
                            {% for i, event in events.list %}
                            <tr>
                                <td class="w-1">
                                    <a href="{{ 'client/manage'|alink }}/{{ event.client.id }}">
                                        <span class="avatar avatar-xs" style="background-image: url({{ event.client.email|gravatar }}&size=24"></span>
                                    </a>
                                </td>
                                <td>
                                    <a href="{{ 'client/manage'|alink }}/{{ event.client.id }}">{{ event.client.name|truncate(40) }}</a>
                                </td>
                                <td>{{ event.message|truncate(50) }}</td>
                                <td>{{ event.created_at|format_datetime }}</td>
                                <td>{{ event.created_at|timeago }} {{ 'ago'|trans }}</td>
                            </tr>
                            {% else %}
                            <tr>
                                <td class="text-muted" colspan="4">{{ 'The list is empty'|trans }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>

                <div class="tab-pane fade" id="tab-staff" role="tabpanel">
                    <table class="table table-vcenter card-table table-striped">
                        <tbody>
                            {% set events = admin.activity_log_get_list({ 'per_page': 10, 'only_staff': 1 }) %}
                            {% for i, event in events.list %}
                            <tr>
                                <td class="w-1">
                                    <a href="{{ 'staff/manage'|alink }}/{{ event.staff.id }}">
                                        <span class="avatar avatar-xs" style="background-image: url({{ event.staff.email|gravatar }}&size=24"></span>
                                    </a>
                                </td>
                                <td>
                                    <a href="{{ 'staff/manage'|alink }}/{{ event.staff.id }}">{{ event.staff.name }}</a>
                                </td>
                                <td>{{ event.message|truncate(50) }}</td>
                                <td>{{ event.created_at|format_datetime }}</td>
                                <td>{{ event.created_at|timeago }} {{ 'ago'|trans }}</td>
                            </tr>
                            {% else %}
                            <tr>
                                <td class="text-muted" colspan="4">{{ 'The list is empty'|trans }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}

{% block js %}
    {% if admin.system_is_allowed({ 'mod': 'stats' }) %}
        <script>
            $(function() {
                setPlotDataData('chart-income', {{ admin.stats_get_income({ 'date_from': request.date_from, 'date_to': request.date_to })|json_encode }}, "{{ 'Income'|trans }}" );
                setPlotDataData('chart-orders', {{ admin.stats_get_orders({ 'date_from': request.date_from, 'date_to': request.date_to })|json_encode }}, "{{ 'Orders'|trans }}" );
                setPlotDataData('chart-invoices', {{ admin.stats_get_invoices({ 'date_from': request.date_from, 'date_to': request.date_to })|json_encode }},"{{ 'Invoices'|trans }}" );
                setPlotDataData('chart-clients', {{ admin.stats_get_clients({ 'date_from': request.date_from, 'date_to': request.date_to })|json_encode }}, "{{ 'Clients'|trans }}" );
                setPlotDataData('chart-tickets', {{ admin.stats_get_tickets({ 'date_from': request.date_from, 'date_to': request.date_to })|json_encode }}, "{{ 'Tickets'|trans }}");
            });

            function setPlotDataData(elementId, data, displayName="Name Placeholder") {
                new ApexCharts(document.getElementById(elementId), {
                    chart: {
                        type: 'area',
                        fontFamily: 'inherit',
                        height: 140,
                        parentHeightOffset: 0,
                        toolbar: {
                            show: false,
                        },
                        animations: {
                            enabled: false
                        },
                    },
                    dataLabels: {
                        enabled: false,
                    },
                    fill: {
                        opacity: .16,
                        type: 'solid'
                    },
                    stroke: {
                        width: 2,
                        lineCap: "round",
                        curve: "smooth",
                    },
                    series: [{
                        name: displayName,
                        data: data
                    }],
                    grid: {
                        padding: {
                            top: -20,
                            right: 0,
                            left: -4,
                            bottom: -4
                        },
                        strokeDashArray: 4,
                    },
                    xaxis: {
                        labels: {
                            show: false
                        },
                        type: 'datetime',
                    },
                    yaxis: {
                        labels: {
                            show: false
                        },
                    },
                    labels: {
                        show: false,
                    },
                    colors:  (localStorage.getItem('theme') === 'dark') ? ["#91bbed"] : ["#206bc4"] ,
                    theme : {
                        mode: (localStorage.getItem('theme') === 'dark') ? 'dark' : 'light',
                        monochrome: {
                            enabled: false,
                        }
                    }
                }).render();
            }
        </script>
    {% endif %}
{% endblock %}
