<a class="btn btn-danger" id="batch-delete-selected-btn">
    <svg class="icon">
        <use xlink:href="#delete" />
    </svg>
    {{ 'Delete selected'|trans }}</a>

<script>
    $(function () {
        $('#batch-delete-selected-btn').on('click', function() {
            if ($('input.batch-delete-checkbox:checked').length) {
                Modals.create({
                    type: 'danger',
                    title: "{{ 'Are you sure?'|trans }}",
                    content: "{{ 'Are you sure you want to delete the selected items?'|trans }}",
                    confirmCallback: function() {
                        var ids = $('input.batch-delete-checkbox:checked').map(function() {
                            return $(this).attr("data-item-id");
                        }).get();
                        bb.post('{{ action }}', { ids: ids, CSRFToken: "{{ CSRFToken }}" }, function (result) {
                            bb.reload();
                        })
                    }
                });
            } else {
                Modals.create({
                    type: 'small',
                    title: "{{ 'No items selected'|trans }}",
                    content: "{{ 'You need to select at least one item to delete'|trans }}",
                });
            }
        });

        $('input.batch-delete-master-checkbox').on('click', function() {
            $('input.batch-delete-checkbox').prop('checked', this.checked);
        });
    });
</script>
