<div class="card-body border-bottom py-3">
    <div class="d-flex">
        <div class="ms-auto text-muted">
            <div class="ms-2 d-inline-block">
                <div class="d-flex">
                    <form method="get">
                        <input type="hidden" name="CSRFToken" value="{{ CSRFToken }}"/>
                        <input type="hidden" name="_url" value="{{ request._url }}">
                        <div class="input-group input-group-flat">
                            <input class="form-control"
                                type="search"
                                name="search"
                                value="{{ request.search }}"
                                placeholder="{{ 'Enter search text...'|trans }}"
                                aria-label="{{ 'Search'|trans }}">
                            <span class="input-group-text">
                                <a class="link-secondary"
                                    href="{{ request._url|link({ 'show_filter': 1 }) }}"
                                    data-bs-toggle="tooltip"
                                    data-bs-original-title="{{ 'Search settings'|trans }}">
                                    <svg class="icon">
                                        <use xlink:href="#settings" />
                                    </svg>
                                </a>
                            </span>
                            <button class="btn btn-icon">
                                <svg class="icon">
                                    <use xlink:href="#search" />
                                </svg>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
