<ul class="menu_body">
    {% if admin.system_is_allowed({ 'mod': 'order' }) %}
    <li><a href="{{ 'order#tab-new'|alink }}">{{ 'Order'|trans }}</a></li>
    {% endif %}

    {% if admin.system_is_allowed({ 'mod': 'invoice' }) %}
    <li><a href="{{ 'invoice#tab-new'|alink }}">{{ 'Invoice'|trans }}</a></li>
    {% endif %}

    {% if admin.system_is_allowed({ 'mod': 'client' }) %}
    <li><a href="{{ 'client#tab-new'|alink }}">{{ 'Client'|trans }}</a></li>
    {% endif %}

    {% if admin.system_is_allowed({ 'mod': 'product' }) %}
    <li><a href="{{ 'product#tab-new'|alink }}">{{ 'Product'|trans }}</a></li>
    {% endif %}

    {% if admin.system_is_allowed({ 'mod': 'support' }) %}
    <li><a href="{{ 'support#tab-new'|alink }}">{{ 'Support ticket'|trans }}</a></li>
    {% endif %}

    {% if admin.system_is_allowed({ 'mod': 'staff' }) %}
    <li><a href="{{ 'extension/settings/staff#tab-new'|alink }}">{{ 'Staff member'|trans }}</a></li>
    {% endif %}

    {% if guest.extension_is_on({ 'mod': 'news' }) and admin.system_is_allowed({ 'mod': 'news'}) %}
    <li><a href="{{ 'news#tab-new'|alink }}">{{ 'Announcement'|trans }}</a></li>
    {% endif %}
</ul>
