<form method="get">
	<div class="input-group input-group-flat search-input-group">
        <span class="input-group-text">
            <button class="search-submit-toggle" type="submit" aria-label="{{ 'Search'|trans }}" title="{{ 'Search'|trans }}">
                <svg class="icon">
                    <use xlink:href="#search"/>
                </svg>
            </button>
        </span>
	    <input class="form-control" type="search" name="search" value="{{ request.search|e('html_attr') }}" placeholder="{{ 'Enter search text...'|trans }}" aria-label="{{ 'Search'|trans }}">
        {% if has_filter_panel|default(false) %}
        <span class="input-group-text search-actions">
    		<button class="search-filter-toggle {% if filter_panel_open|default(false) %}text-primary{% else %}text-secondary{% endif %}"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#{{ filter_panel_id|default('page-search-filters') }}"
                aria-expanded="{% if filter_panel_open|default(false) %}true{% else %}false{% endif %}"
                aria-controls="{{ filter_panel_id|default('page-search-filters') }}"
                title="{{ 'Search Settings'|trans }}">
    			<svg class="icon">
    				<use xlink:href="#settings"/>
    			</svg>
    		</button>
        </span>
        {% endif %}
	</div>
</form>
