{% set products = guest.product_get_list %}
<div class="accordion-item">
    <h3 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#products" aria-expanded="false" aria-controls="products">
            <svg class="icon me-2"><use xlink:href="#apps" /></svg>
            <span>{{ 'Select Product'|trans }}</span>&nbsp;<span class="badge bg-info">{{ products.list|length }} {{ 'Items'|trans }}</span>
        </button>
    </h3>
    <div id="products" class="accordion-collapse collapse" data-bs-parent="#orderManager">
        <div class="accordion-body">
            {% for i, category in guest.product_category_get_list.list %}
                <h4 {% if i > 0 %} class="mt-3" {% endif %}>{{ category.title }}</h4>
                <span>{{ (category.description ?? '')|markdown_to_html }}</span>
                <div class="list-group">
                    {% for i, product in category.products|sort((a, b) => a.priority <=> b.priority) %}
                        <a class="list-group-item" href="{{ 'order'|url(query: { 'product': product.id, 'show_custom_form_values': request.show_custom_form_values }) }}">
                            {{ product.title }}
                            <svg class="icon"><use xlink:href="#arrow-right" /></svg>
                        </a>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    </div>
</div>
