{% set products = guest.product_get_list %}
<div class="accordion-item">
    <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#products" aria-expanded="false" aria-controls="products">
            <svg class="svg-icon me-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M16.7 4.5L19.5 7.3L16.7 10.1L13.9 7.3L16.7 4.5M9 5V9H5V5H9M19 15V19H15V15H19M16.7 1.7L11 7.3L16.7 13H13V21H21V13H16.7L22.3 7.3L16.7 1.7M11 3H3V11H11V3M9 15V19H5V15H9M11 13H3V21H11V13Z" /></svg>
            <span>{{ 'Select Product'|trans }}</span>&nbsp;<span class="badge bg-info">{{ products.list|length }} {{ 'Items'|trans }}</span>
        </button>
    </h2>
    <div id="products" class="accordion-collapse collapse" data-bs-parent="#orderManager">
        <div class="accordion-body">
            {% for i, category in guest.product_category_get_list.list %}
                <h5 {% if i > 0 %} class="mt-3" {% endif %}>{{ category.title }}</h5>
                <span>{{ category.description|markdown }}</span>
                <div class="list-group">
                    {% for i, product in category.products|sort((a, b) => a.priority <=> b.priority) %}
                        <a class="list-group-item" href="{{ 'order'|link({ 'product': product.id, 'show_custom_form_values': request.show_custom_form_values }) }}">
                            {{ product.title }}
                            <svg class="svg-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M4,11V13H16L10.5,18.5L11.92,19.92L19.84,12L11.92,4.08L10.5,5.5L16,11H4Z" /></svg>
                        </a>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    </div>
</div>
