{% if product is not defined or not product %}
    {% set product = request.product ? guest.product_get({"id":request.product}) : null %}
{% endif %}
<div class="accordion-item">
    <h3 class="accordion-header">
        <button class="accordion-button {% if not product %}collapsed{%endif%}" type="button" data-bs-toggle="collapse" data-bs-target="#order" aria-expanded="true" aria-controls="order">
            <svg class="icon me-2"><use xlink:href="#settings" /></svg>
            {{ 'Product Configuration'|trans }}
        </button>
    </h3>
    {% if product %}
    <div id="order" class="accordion-collapse collapse {% if product %}show{%endif%}" data-bs-parent="#orderManager">
        <div class="accordion-body">
            <div class="accordion-inner">
                <form method="post" action="{{ 'cart/add_item'|api_url(role: 'guest') }}" style="background:none;" class="form-{{ product.form_id ? guest.formbuilder_get( {"id":product.form_id}).style.type : 0 }}"
                    {{ fb_api_form({message: 'Product Added to Shopping Cart'|trans, redirect: ('order'|url(query: { 'checkout' : 1 }) ~ (request.show_custom_form_values ? '&show_custom_form_values=1' : ''))}) }}>
                    {% set product_details %}
                        <div class="well">
                            <h3>{{ product.title }}</h3>
                            {% if product.description %}
                                {{ (product.description ?? '')|markdown_to_html }}
                            {% endif %}

                            {% if product.pricing.type is defined %}
                                <hr>

                                <h4 class="mt-4 mb-1"><strong>{{ 'Billing'|trans }}</strong></h4>

                                <div class="row">
                                    <div class="col-12 col-md-4 col-xl-3">
                                        {% if product.pricing.type == 'recurrent' %}
                                        <span>{{ 'Billing Cycle'|trans }}</span>
                                        {% else %}
                                        <span>{{ 'One-time payment'|trans }}</span>
                                        {% endif %}
                                    </div>
                                    <div class="col">
                                        {% set cart_currency = guest.cart_get_currency %}
                                        {% if product.pricing.type == 'recurrent' %}
                                        {% set periods = guest.system_periods %}
                                        <select class="form-select" name="period" id="period-selector">
                                            {% for code,prices in product.pricing.recurrent %}
                                                {% if prices.enabled %}
                                                    <option value="{{ code }}" data-bb-price="{{ (prices.price * cart_currency.conversion_rate)|format_currency(cart_currency.code) }}" name="period">{{ (prices.price * cart_currency.conversion_rate)|format_currency(cart_currency.code) }} ({{ periods[code] }})</option>
                                                {% endif %}
                                            {% endfor %}
                                        </select>
                                        {% elseif product.pricing.type == 'free' %}
                                        <span class="badge text-bg-success">{{ 0|format_currency(cart_currency.code) }}</span>
                                        {% else %}
                                        <span class="badge text-bg-success">{{ (product.pricing.once.price * cart_currency.conversion_rate)|format_currency(cart_currency.code) }}</span>
                                        {% endif %}
                                    </div>
                                </div>
                            {% endif %}
                            {% if product.allow_quantity_select %}
                            <div class="row mt-3">
                                <div class="col-12 col-md-4 col-xl-3">
                                    <span>{{ 'Quantity'|trans }}</span>
                                </div>
                                <div class="col">
                                    <input
                                        type="number"
                                        name="quantity"
                                        value="1"
                                        min="1"
                                        {% if product.stock_control %}max="{{ product.quantity_in_stock }}"{% endif %}
                                        class="form-control w-50"
                                        style="max-width: 120px; text-align: center;"
                                    >
                                </div>
                            </div>
                            {% endif %}
                        </div>
                    {% endset %}

                    {% set tpl = "mod_service"~product.type~"_order_form.html.twig" %}
                    {% if guest.system_template_exists({"file":tpl}) %}
                        {{ include(tpl, product) }}
                    {% elseif product.form_id and guest.extension_is_on({"mod":"formbuilder"}) %}
                        {{ product_details }}
                        {% set form = guest.formbuilder_get({"id":product.form_id}) %}
                        {{ include('mod_formbuilder_build.html.twig', product) }}
                    {% else %}
                        {{ product_details }}
                    {% endif %}

                    {{ include('mod_orderbutton_addons.html.twig', product) }}

                    <input type="hidden" name="multiple" value="1" />
                    <input type="hidden" name="id" value="{{ product.id }}" />
                    <div class="mt-2 mb-0">
                        <button type="submit" class="btn btn-primary" id="config-next">{{ 'Next'|trans }}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    {% endif %}
</div>
