{% extends request.ajax ? "layout_blank.html.twig" : "layout_default.html.twig" %}

{% import "macro_functions.html.twig" as mf %}

{% block meta_title %}{{ ticket.subject }}{% endblock %}

{% block body_class %}support-ticket{% endblock %}
{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{{ 'support' | link}}">{{ 'Support tickets'|trans }}</a></li>
<li class="breadcrumb-item active" aria-current="page">{{ticket.subject}}</li>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">

        <div class="card ml-0 ml-md-3 w-100">
            <div class="card-header">
                <h2>{{ 'Ticket information'|trans }}</h2>
                <table class="table table-striped table-bordered table-sm">
                    <tbody>
                    <tr>
                        <td>{{ 'Ticket ID'|trans }}</td>
                        <td><b>#{{ ticket.id }}</b></td>
                    </tr>

                    <tr>
                        <td>{{ 'Help desk'|trans }}</td>
                        <td>{{ ticket.helpdesk.name }}</td>
                    </tr>

                    <tr>
                        <td>{{ 'Status'|trans }}</td>
                        <td>
                            <div class="badge {% if ticket.status=='open' %}bg-success{% elseif ticket.status == 'on_hold' %}bg-warning{% endif %}">{{ mf.status_name(ticket.status) }}</div>
                        </td>
                    </tr>

                    <tr>
                        <td>{{ 'Time opened'|trans }}</td>
                        <td>{{ ticket.created_at|format_date }}</td>
                    </tr>

                    {% if ticket.rel_type == 'order' and ticket.rel_id %}
                        <tr>
                            <td>{{ 'Related to'|trans }}</td>
                            <td><a href="{{ 'order/service/manage'|link }}/{{ ticket.rel_id }}">{{ 'Service #'|trans }} {{ ticket.rel_id }}</a></td>
                        </tr>
                    {% endif %}
                    </tbody>
                </table>
                <hr>
                <div class="row">
                    <button class="btn btn-primary btn-small ml-3" type="button" id="ticket-close">{{ 'Close ticket'|trans }}</button>
                    <a class="btn btn-secondary btn-small ml-2" href="{{ 'support' | link}}">{{ 'Back to tickets'|trans }}</a>
                    <a class="btn btn-info btn-small ml-2" href="#reply-to">{{ 'Reply'|trans }}</a>
                </div>
            </div>
            <div class="card-body">
                {% for i, message in ticket.messages %}
                    <div class="row">
                        <div class="col-2">
                        <span class="text-muted">
                            {{ message.author.name }}
                        </span>
                            <br/>
                            <img src="{{ message.author.email|gravatar(60) }}" alt="{{ message.author.name }}" class="img-fluid img-thumbnail d-none d-md-block">
                        </div>
                        <div class="col-10">
                            <header>#{{ i+1 }} | {{ message.created_at|format_date }}
                                {% if ticket.status != 'closed' %}
                                    <div class="float-right">
                                        <a href="#" class="btn btn-dark reply-to-message" message-quote="{{ mf.markdown_quote(message.content) }}">{{ 'Reply'|trans }}</a>
                                    </div>
                                {% endif %}
                            </header>
                            <section>
                                <div class="well" id="message-{{message.id}}">{{ message.content|markdown }}</div>
                            </section>
                        </div>
                    </div>
                    <hr>
                {% endfor %}
            </div>
            <div class="card-footer" id="reply-to">
                {% if ticket.status != 'closed' %}
                    <form method="post" action="" class="api_form" data-api-url="{{ 'api/client/support/ticket_reply'|link }}" data-api-reload="1">
                        <input type="hidden" name="CSRFToken" value="{{ CSRFToken }}"/>
                        <input type="hidden" name="id" value="{{ ticket.id }}">

                        <textarea name="content" cols="5" rows="10" class="form-control" required="required" id="ticket-reply-text"></textarea>
                        <button class="btn btn-primary btn-large" type="submit" id="submit-support-message" value="{{ 'Post'|trans }}" onclick="">{{ 'Post'|trans }}</button>
                    </form>
                {% elseif ticket.status == 'closed' %}
                    <div class="alert alert-white text-center">{{ 'Ticket was closed and cannot be reopened.'|trans }}</div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script>
$(function() {
    $('.reply-to-message').on('click', function (event) {
        event.preventDefault();

        var quote = $(this).attr('message-quote');

        $('#ticket-reply-text').text(quote);
        $('#ticket-reply-text').focus();
    });

    $('#submit-support-message').on('click', function () {
        if ($('#ticket-reply-text').val().length > 0) {
            $('.wait').show();
        }
    });

    $('#ticket-close').on('click', function(event) {
        event.preventDefault();

        $('.wait').show();

        bb.post(
            'client/support/ticket_close',
            { id: {{ ticket.id }}, CSRFToken: "{{ CSRFToken }}" },
            function(result) {
                bb.redirect("{{ 'support'|link }}");
            }
        );
    });
});
</script>
{% endblock %}
