{% extends "layout_public.html.twig" %}

{% block meta_title %}{{ 'System Undergoing Maintenance'|trans }}{% endblock %}

{% block body_class %}page-login{% endblock %}

{% block body %}
    <div>
        <div class="row h-75 justify-content-center align-items-center">
            <div class="col-md-6 col-lg-4">
                {% if (public_logo_url or public_dark_logo_url) and settings.login_page_show_logo %}
                    <div class="d-flex justify-content-center">
                        {{ include('partial_company_logo.html.twig', {
                            company: company,
                            logo_url: public_logo_url,
                            dark_logo_url: public_dark_logo_url,
                            link_url: settings.login_page_logo_url|default('/'),
                            link_target: '_blank',
                            link_rel: 'noopener noreferrer',
                            image_class: 'my-4',
                            image_height: '50px'
                        }) }}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>

    <div style="margin: 50px 40px; font-size: 16px; text-align: center;">
        <h1>{{ 'System Undergoing Maintenance'|trans }}</h1>
        <p>{{ "Our systems are undergoing maintenance. We'll be back soon."|trans }}</p>
        <hr>
        <h4>{{ "While we're away, you can still reach us over other channels."|trans }}</h4>
        <ul style="list-style-type: none; padding: 0;">
            <li>{{ company.name }}</li>
            <li>{{ company.address_1 }}</li>
            <li>{{ company.address_2 }}</li>
            <li>{{ company.address_3 }}</li>
            <li>{{ company.tel }}</li>
            <li>{{ company.email }}</li>
        </ul>
    </div>
{% endblock %}
