{% block subject %}[{{ guest.system_company.name }}] Confirm Password Reset{% endblock %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<style type="text/css">
		body {
			font-family: Arial, sans-serif;
			font-size: 14px;
			color: #333333;
		}

		h1 {
			font-size: 24px;
			font-weight: bold;
			margin: 0 0 20px;
		}

		p {
			margin: 0 0 10px;
		}

		strong {
			font-weight: bold;
		}

		.signature {
			font-style: italic;
			color: #999999;
			margin-top: 20px;
			border-top: 1px solid #cccccc;
			padding-top: 10px;
		}
	</style>
</head>
<body>
	<h1>Password reset</h1>
	<p>Hello {{ c.first_name }} {{ c.last_name }},</p>
	<p>Recently a request was submitted to reset your password for the client area.</p>
    <p>If you did not request this, please ignore this email. It will expire and will not work in 2 hours time.</p>

    <p>To reset your password, please visit the link below:</p>
    <a href="{{'client/reset-password-confirm'|link}}/{{ hash }}" target="_blank">Reset password.</a>

    <p>You may then <a href="{{'login'|link({'email' : c.email }) }}" target="_blank">login</a> or <a href="{{'client/profile'|link}}" target="_blank">edit your profile.</a>

	<p class="signature">{{ guest.system_company.signature }}</p>
</body>
</html>
{% endblock %}
