{% extends "layout_default.html.twig" %}

{% block meta_title %}{{ 'Error'|trans }}{% endblock %}

{% block body_class %}error-page{% endblock %}
{% block content %}
<div class="row">
    <div class="card ml-0 ml-md-3 w-100">
        <div class="card-header">
            {% if exception.getCode %}
                <h1>{{ exception.getCode }}</h1>
            {% else %}
                <h1>404</h1>
            {% endif %}
        </div>
        <div class="card-body">
            <p>{{ 'Whoops! This is not the web page you are looking for.'|trans }}</p>
            <p class="alert alert-danger">{{ exception.getMessage }}.</p>
            <a href="{{ '/' | link}}" class="btn btn-primary btn-large" title="Back to Homepage">Back to Homepage</a>
        </div>
    </div>
</div>
{% endblock %}
