<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{% block meta_title %}{{ settings.meta_title }}{% endblock %}</title>

    <meta property="bb:url" content="{{ constant('BB_URL') }}">
    <meta property="bb:client_area" content="{{ '/'|link }}">
    <meta name="csrf-token" content="{{ CSRFToken }}">

    <meta name="description" content="{% block meta_description %}{{ settings.meta_description }}{% endblock %}">
    <meta name="robots" content="{{ settings.meta_robots }}">
    <meta name="author" content="{{ settings.meta_author }}">
    <meta name="generator" content="FOSSBilling {{ guest.system_version }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% block opengraph %}{% endblock %}

    <link rel='stylesheet' type='text/css' href="{{ 'css/plugins/jquery.jgrowl.css' | asset_url }}">
    <link rel='stylesheet' type='text/css' href="{{ 'css/font-awesome.css' | asset_url }}">
    <link rel='stylesheet' type='text/css' href="{{ 'css/flags16.css' | asset_url }}">
    <link rel='stylesheet' type='text/css' href="{{ ('css/bootstrap.css') | asset_url }}">

    <link rel="shortcut icon" href="{{ guest.system_company.favicon_url }}">

    <script src="{{ "Api/API.js?v=#{guest.system_version}" | library_url }}"></script>
    <script src="{{ 'js/libs/jquery.js' | asset_url }}"></script>
    <script src="{{ 'js/bb-jquery.js' | asset_url }}" defer="defer"></script>
    <script src="{{ 'js/bootstrap/bootstrap.min.js' | asset_url}}" defer="defer"></script>
    <script src="{{ 'js/plugins/jGrowl/jquery.jgrowl.js' | asset_url }}" defer="defer"></script>

    {% block head %}{% endblock %}
    {% block js %}{% endblock %}
</head>

<body class="{% block body_class %}{% endblock %}">
{% if guest.extension_is_on({ "mod": "cookieconsent" }) %}
    {% include 'mod_cookieconsent_index.html.twig' ignore missing%}
{% endif %}

{% block body %}
{% if not client and settings.require_login%}
<script>
    $(function() {
        bb.redirect('{{ "login"|link }}');
    });
</script>
{% endif %}

{% if client %}
    {% set profile = client.profile_get %}
{% endif %}
{% set company = guest.system_company %}

<div class="container">
    <div class="row">
    <div class="col"></div>
    <div class="col-12">
        <header>
            <nav class="navbar navbar-expand-md navbar-light bg-light">
                {% if settings.show_company_logo and company.logo_url %}
                    <a class="navbar-brand" href="{{'/'|link }}">
                        <img src="{{company.logo_url}}" alt="{{company.name}}" height="55" title="{{company.name}}">
                    </a>
                {% endif %}
                
                <button
                    class="mt-2 navbar-toggler ml-auto"
                    type="button"
                    data-toggle="collapse"
                    data-target="#navbar"
                    aria-controls="navbar"
                    aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="awe-reorder"></span>
                  </button>
                  <div class="collapse navbar-collapse ml-auto" id="navbar">
                    <ul class="navbar-nav ml-auto mb-2 mb-lg-0">  
                        {% set languages = guest.extension_languages(true) %}
                        {% if languages|length > 1 %}
                            {# Necessary variable setup #}
                            {% set currentCountryCode = guest.system_locale | slice(3, 2) %}
                            {% set currentLocaleName = guest.system_locale %}
                            {% for lang in languages|filter(lang => lang.locale == guest.system_locale) %}
                                {% set currentLocaleName = lang.title %}
                            {% endfor %}
        
                            <li class="nav-item f16 mr-1">
                                <div class="dropdown">
                                    <button class="btn btn-info dropdown-toggle d-none d-md-block" type="button" id="langDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="flag {{ currentCountryCode | lower }} mt-1"></span><span class="d-none d-lg-inline-flex">{{ currentLocaleName }}</span></button>
                                    <button class="btn btn-info dropdown-toggle d-md-none w-100 mt-1" type="button" id="langDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="flag {{ currentCountryCode | lower }} mt-1"></span> {{ currentLocaleName }}</button>
                                    <div class="dropdown-menu" aria-labelledby="langDropdown">
                                        {% for lang in languages %}
                                            {% set countryCode = lang.locale | slice(3, 2) %}
                                            <a class="dropdown-item" data-language-code="{{ lang.locale }}" href="javascript:;"><span class="flag {{ countryCode | lower }}"></span> {{ lang.title }}</a>
                                        {% endfor %}
                                    </div>
                                </div>
                            </li>
                        {% endif %}

                        {% if settings.top_menu_dashboard %}
                            <li class="nav-item mr-1">
                                <a href="{{ ''|link }}" role="button" class="btn btn-info d-none d-md-block" title="{{ 'Dashboard'|trans }}">{{ 'Dashboard'|trans }}</a>
                                <a href="{{ ''|link }}" role="button" class="btn btn-info d-md-none w-100 mt-1" title="{{ 'Dashboard'|trans }}">{{ 'Dashboard'|trans }}</a>
                            </li>
                        {% endif %}

                        {% if settings.top_menu_order %}
                            <li class="nav-item mr-1">
                                <a href="{{ '/order'|link }}" class="btn btn-info d-none d-md-block" title="{{ 'Order'|trans }}">{{ 'Order'|trans }}</a>
                                <a href="{{ '/order'|link }}" class="btn btn-info d-md-none w-100 mt-1" title="{{ 'Order'|trans }}">{{ 'Order'|trans }}</a>
                            </li>
                        {% endif %}

                        {% if settings.top_menu_profile %}
                            <li class="nav-item mr-1">
                                {% if client %}
                                    <a href="{{ 'client/profile'|link }}" class="btn btn-info d-none d-md-block" title="{{ 'Profile'|trans }}">{{ 'Profile'|trans }}</a>
                                    <a href="{{ 'client/profile'|link }}" class="btn btn-info d-md-none w-100 mt-1" title="{{ 'Profile'|trans }}">{{ 'Profile'|trans }}</a>
                                {% else %}
                                    <a href="{{ 'login'|link }}" class="btn btn-info d-none d-md-block" title="{{ 'Login'|trans }}">{{ 'Login'|trans }}</a>
                                    <a href="{{ 'login'|link }}" class="btn btn-info d-md-none w-100 mt-1" title="{{ 'Login'|trans }}">{{ 'Login'|trans }}</a>
                                {% endif %}
                            </li>
                        {% endif %}

                        {% if settings.top_menu_signout %}
                            <li class="nav-item mr-1">
                                {% if client %}
                                    <a href="{{ 'client/logout'|link }}" class="btn btn-info d-none d-md-block" title="{{ 'Sign out'|trans }}">{{ 'Sign out'|trans }}</a>
                                    <a href="{{ 'client/logout'|link }}" class="btn btn-info d-md-none w-100 mt-1" title="{{ 'Sign out'|trans }}">{{ 'Sign out'|trans }}</a>
                                {% else %}
                                    <a href="{{ 'signup'|link }}" class="btn btn-info d-none d-md-block" title="{{ 'Register'|trans }}">{{ 'Register'|trans }}</a>
                                    <a href="{{ 'client/logout'|link }}" class="btn btn-info d-md-none w-100 mt-1" title="{{ 'Sign out'|trans }}">{{ 'Sign out'|trans }}</a>
                                {% endif %}
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </nav>
        </header>

        <hr class="hr"/>

        <div class="container">
            <div class="row">
            <div class="col-3 d-none d-md-block">
                {% include 'partial_menu.html.twig' %}
            </div>
            <div class="col-12 col-md-9">
                <div id="wrapper">
                    <section class="container" role="main">
                        <div class="navigation-block">
                            {% if settings.show_client_details and client %}
                            <section class="user-profile">
                                <figure>
                                    <img alt="{{profile.first_name}} {{profile.last_name}} gravatar" src="{{ profile.email|gravatar(60) }}">
                                    <figcaption>
                                        <strong><a href="{{ 'client/profile' | link}}" class="">{{profile.first_name}} {{profile.last_name}}</a></strong>
                                        <em>{{ profile.company }}</em>
                                        <ul>
                                            <li><a class="btn btn-primary btn-flat" href="{{ 'client/profile' | link}}">{{ 'profile'|trans }}</a></li>
                                            <li><a class="btn btn-primary btn-flat" href="{{ 'client/logout' | link}}">{{ 'sign out'|trans }}</a></li>
                                        </ul>
                                    </figcaption>
                                </figure>
                            </section>
                            {% endif %}
                
                            {% if settings.sidebar_balance_enabled and client %}
                            <section class="balance">
                                <h2>{{ 'Account balance'|trans }}</h2>
                                <strong>{{ profile.balance | money(profile.currency) }}</strong>
                            </section>
                            {% endif %}
                
                            {% if settings.sidebar_note_enabled %}
                            <section class="side-note">
                                <div class="side-note-container">
                                    <h2>{{ settings.sidebar_note_title }}</h2>
                                    <p>{{ settings.sidebar_note_content }}</p>
                                </div>
                                <div class="side-note-bottom"></div>
                            </section>
                            {% endif %}
                        </div>

                        {% block content_before %}{% endblock %}
                        <div class="content-block" role="main">
                            {% if settings.show_breadcrumb %}
                                {% block breadcrumbs %}
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb d-none d-md-flex">
                                        <li class="breadcrumb-item"><a href="{{ '/'|link }}">{{ 'Home'|trans }}</a></li>
                                        {% block breadcrumb %}
                                            <li class="active breadcrumb-item">{{ 'Dashboard'|trans }}</li>
                                        {% endblock %}
                                    </ol>
                                </nav>
                                {% endblock %}
                            {% endif %}

                            {% block content %}{% endblock %}
                            {% if settings.show_page_header %}
                            {# block page_header %}
                                <article>
                                    <h1>{{ block('meta_title') }}</h1>
                                    <p>{{ block('meta_description') }}</p>
                                </article>
                            {% endblock #}
                            {% endif %}

                            {% include "partial_message.html.twig" %}

                            {% block content_after %}{% endblock %}
                        </div>
                    </section>
                    <div id="push"></div>
                </div>
            </div>
            </div>
        </div>

        {% if settings.footer_enabled %}
        <footer id="footer" class="text-center text-lg-start bg-light text-muted">
            <p>&copy; {{ now|format_date(pattern='yyyy') }} {{ settings.footer_signature | default(company.signature) }}</p>
            <ul class="list-unstyled">
                {% if settings.footer_link_1_enabled %}
                <li>
                    {% if 'http://' in settings.footer_link_1_page or  'https://' in settings.footer_link_1_page%}
                    <a href="{{ settings.footer_link_1_page }}">{{ settings.footer_link_1_title }}</a>
                    {% else %}
                    <a href="{{ settings.footer_link_1_page | link }}">{{ settings.footer_link_1_title }}</a>
                    {% endif %}
                </li>
                {% endif %}
                {% if settings.footer_link_2_enabled %}
                <li>
                    {% if 'http://' in settings.footer_link_2_page or  'https://' in settings.footer_link_2_page%}
                    <a href="{{ settings.footer_link_2_page }}">{{ settings.footer_link_2_title }}</a>
                    {% else %}
                    <a href="{{ settings.footer_link_2_page | link}}">{{ settings.footer_link_2_title }}</a>
                    {% endif %}
                </li>
                {% endif %}
                {% if settings.footer_link_3_enabled %}
                <li>
                    {% if 'http://' in settings.footer_link_3_page or  'https://' in settings.footer_link_3_page%}
                    <a href="{{ settings.footer_link_3_page }}">{{ settings.footer_link_3_title }}</a>
                    {% else %}
                    <a href="{{ settings.footer_link_3_page | link }}">{{ settings.footer_link_3_title }}</a>
        
                    {%endif %}
                </li>
                {% endif %}
                {% if settings.footer_link_4_enabled %}
                <li>
                    {% if 'http://' in settings.footer_link_4_page or  'https://' in settings.footer_link_4_page%}
                    <a href="{{ settings.footer_link_4_page }}">{{ settings.footer_link_4_title }}</a>
                    {% else %}
                    <a href="{{ settings.footer_link_4_page | link }}">{{ settings.footer_link_4_title }}</a>
                    {% endif %}
                </li>
                {% endif %}
                {% if settings.footer_link_5_enabled %}
                <li>
                    {% if 'http://' in settings.footer_link_5_page or  'https://' in settings.footer_link_5_page%}
                    <a href="{{ settings.footer_link_5_page }}">{{ settings.footer_link_5_title }}</a>
                    {% else %}
                    <a href="{{ settings.footer_link_5_page | link }}">{{ settings.footer_link_5_title }}</a>
                    {% endif %}
                </li>
                {% endif %}
        
                {% if guest.extension_is_on({"mod":'branding'}) %}
                <li>
                    <a href="https://fossbilling.org" title="Billing Software" target="_blank">{{ 'Powered by the FOSSBilling Community'|trans }}</a>
                </li>
                {% endif %}
            </ul>
            {% if settings.footer_to_top_enabled %}
            <a href="#top" class="btn btn-primary btn-flat pull-right"><span class="awe-arrow-up"></span> {{ 'Top'|trans }}</a>
            {% endif %}
        </footer>
        {% endif %}

        <div class="wait" style="display:none" onclick="$(this).hide();">
            <div class="spinner-border" style="width: 4rem; height: 4rem; top: 50%; left: 50%; position: fixed; z-index: 999"></div>
        </div>
        <noscript>NOTE: Many features on FOSSBilling require Javascript and cookies. You can enable both via your browser's preference settings.</noscript>

        {% endblock %}

        {% if settings.inject_javascript %}
            {{ settings.inject_javascript | raw}}
        {% endif %}
        {% include 'partial_pending_messages.html.twig' ignore missing %}
    </div>
    <div class="col"></div>
    </div>
</div>
</body>
</html>
