{% if list.pages > 1 and (url is defined and url is not null) %}
    {% set pageParam = page_param|default('page') %}
    {% set hash = hash|default('') %}
    {% set currentPageRaw = request.(pageParam)|default(1) %}
    {% if currentPageRaw matches '/^\\d+$/' %}
        {% set currentPage = currentPageRaw %}
    {% else %}
        {% set currentPage = 1 %}
    {% endif %}

    {% set paginator = guest.system_paginator({ 'total': list.total, 'page_param': pageParam, (pageParam): currentPage, 'per_page': list.per_page }) %}

    {# Removing current page parameter from the request to avoid duplication #}
    {% set safeRequest = request|merge({ (pageParam): null }) %}
    {% set filteredRequest = safeRequest|filter(v => v is not null) %}
    <nav aria-label="{{ 'Pagination'|trans }}">
        <ul class="pagination justify-content-center mb-0">
            <li class="page-item{% if currentPage == 1 %} disabled{% endif %}">
                <a class="page-link"
                   href="{{ url|url(filteredRequest|merge({ (pageParam): 1 })) ~ hash }}"
                   aria-label="{{ 'First'|trans }}">
                    <svg class="icon"><use href="#chevrons-left" /></svg>
                </a>
            </li>

            <li class="page-item{% if currentPage == 1 %} disabled{% endif %}">
                <a class="page-link"
                   href="{{ url|url(filteredRequest|merge({ (pageParam): currentPage - 1 })) ~ hash }}"
                   aria-label="{{ 'Previous'|trans }}" rel="prev">
                    <svg class="icon"><use href="#chevron-left" /></svg>
                </a>
            </li>

            {% for i in 1..list.pages %}
                <li class="page-item{% if i == currentPage %} active{% endif %}">
                    {% if i == currentPage or (not currentPage and i == 1) %}
                        <span class="page-link" aria-current="page">{{ i }}</span>
                    {% else %}
                        <a class="page-link"
                           href="{{ url|url(filteredRequest|merge({ (pageParam): i })) ~ hash }}">{{ i }}</a>
                    {% endif %}
                </li>
            {% endfor %}

            <li class="page-item{% if currentPage == list.pages %} disabled{% endif %}">
                <a class="page-link"
                   href="{{ url|url(filteredRequest|merge({ (pageParam): currentPage + 1 })) ~ hash }}"
                   aria-label="{{ 'Next'|trans }}" rel="next">
                    <svg class="icon"><use href="#chevron-right" /></svg>
                </a>
            </li>

            <li class="page-item{% if currentPage == list.pages %} disabled{% endif %}">
                <a class="page-link"
                   href="{{ url|url(filteredRequest|merge({ (pageParam): list.pages })) ~ hash }}"
                   aria-label="{{ 'Last'|trans }}">
                    <svg class="icon"><use href="#chevrons-right" /></svg>
                </a>
            </li>
        </ul>
    </nav>
{% endif %}
