{% extends request.ajax ? 'layout_blank.html.twig' : 'layout_default.html.twig' %}

{% import 'macro_functions.html.twig' as mf %}

{% block meta_title %}{{ 'Queues'|trans }}{% endblock %}

{% set active_menu = 'system' %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{{ '/'|alink }}">
                <svg class="icon">
                    <use xlink:href="#home" />
                </svg>
            </a>
        </li>
        <li class="breadcrumb-item">
            <a href="{{ 'system'|alink }}">{{ 'Settings'|trans }}</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">{{ 'Queues'|trans }}</li>
    </ol>
{% endblock %}

{% block content %}
<div class="page-header mb-3">
    <h1 class="page-title">{{ 'Queues'|trans }}</h1>
</div>

<div class="card">
    <div class="d-flex card-body">
        <div class="ms-auto">
            {% include 'partial_search.html.twig' %}
        </div>
    </div>
    <table class="table card-table table-vcenter table-striped text-nowrap">
        <thead>
            <tr>
                <th>{{ 'Name'|trans }}</th>
                <th>{{ 'Extension'|trans }}</th>
                <th class="text-center">{{ 'Messages'|trans }}</th>
                <th>{{ 'Created'|trans }}</th>
                <th class="w-1"></th>
            </tr>
        </thead>
        <tbody>
            {% set queues = admin.queue_get_list({ "per_page": 100, "page": request.page }|merge(request)) %}
            {% for i, queue in queues.list %}
            <tr>
                <td>{{ queue.name }}</td>
                <td>{{ queue.mod }}</td>
                <td class="text-center">{{ queue.messages_count }}</td>
                <td>{{ queue.created_at|bb_date }}</td>
                <td class="actions">
                    <a class="btn btn-icon api-link"
                        href="{{ 'api/admin/queue/execute'|link({ 'queue': queue.name }) }}"
                        data-api-confirm="{{ 'Are you sure?'|trans }}"
                        data-api-reload="1">
                        <svg class="icon">
                            <use xlink:href="#check" />
                        </svg>
                    </a>
                    {# <a class="btn btn-icon api-link"
                        href="{{ 'api/admin/queue/queue_delete'|link({ 'id': queue.name }) }}"
                        data-api-confirm="{{ 'Are you sure?'|trans }}"
                        data-api-reload="1">
                        <svg class="icon">
                            <use xlink:href="#delete" />
                        </svg>
                    </a> #}
                </td>
            </tr>
            {% else %}
            <tr>
                <td class="text-muted" colspan="5">{{ 'The list is empty'|trans }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}