{% if product.addons|length > 0 %}
<h5 class="mt-4 mb-1"><strong>{{ 'Addons & extras'|trans }}</strong></h5>
  {% for addon in product.addons %}
    <table class="table table-striped table-bordered table-hover">
    <thead>
    <tr>
        <th colspan="2" width="25%">{% if addon.pricing.type == 'recurrent' %}
        {{ 'Billing cycle'|trans }}
        {% else %}
        {{ 'One-time payment'|trans }}
        {% endif %}</th>
        <th width="35%">{{ 'Price'|trans }}</th>
        <th width="12%">{{ 'Setup Fee'|trans }}</th>
        {% if addon.allow_quantity_select %}<th width="5%" class="text-center">{{ 'Quantity'|trans }}</th>{% endif %}
    </tr>
    </thead>
    <tbody>
        <tr>
            <td width="2%"><input type="checkbox" style="width: 1.5em; height: 1.5em; accent-color: green;" name="addons[{{ addon.id }}][selected]" value="1" /></td>
            <td> {{ addon.title }}</td>
            <td>
                {% if addon.pricing.type == 'recurrent' %}
                    {% set periods = guest.system_periods %}
                    <select class="form-select" name="addons[{{ addon.id }}][period]" id="addon-period-selector">
                        {% for code,prices in addon.pricing.recurrent %}
                            {% if prices.enabled %}
                                <option value="{{code}}" data-addon-price="{{ prices.price | money_convert }}" data-addon-setup="{{ prices.setup | money_convert }}" name="period">{{ prices.price | money_convert }} ({{ periods[code] }}) </option>
                            {% endif %}
                        {% endfor %}
                    </select>
                {% elseif addon.pricing.type == 'free' %}
                    {{ 0 | money_convert }}
                {% else %}
                    {{ addon.pricing.once.price | money_convert }}
                        {% if addon.pricing.once.setup %}
                            {% set setup = addon.pricing.once.setup %}
                        {% else %}
                            {% set setup = 0 %}
                        {% endif %}
                {% endif %}
            </td>
            <td id='addon-setup-fee-cell'>{% if setup %}{{ setup | money_convert }}{% else %}{{ 0 | money_convert }}{% endif %}</td>

            {% if addon.allow_quantity_select %}
                <td class="text-center">
                    <input type="text" name="addons[{{ addon.id }}][quantity]" value="1" style="width:30px;"/>
                </td>
            {% endif %}
        </tr>
    </tbody>
  {% endfor %}
  </tbody>
</table>
{% endif %}
{% block js%}
<script>
    // display initial addon setup fee when page is loaded
    document.getElementById('addon-setup-fee-cell').innerHTML = document.getElementById('addon-period-selector').options[document.getElementById('addon-period-selector').selectedIndex].getAttribute('data-addon-setup');
    // change setup fee and price when period is changed in product configuration
    document.getElementById('addon-period-selector').addEventListener('change', function() {
        var price = this.options[this.selectedIndex].getAttribute('data-addon-price');
        var setup = this.options[this.selectedIndex].getAttribute('data-addon-setup');
        document.getElementById('addon-setup-fee-cell').innerHTML = setup;
    });
</script>
{% endblock %}