{% import "macro_functions.html.twig" as mf %}

<div class="accordion-item">
    <h2 class="accordion-header">
        <button class="accordion-button{% if not request.checkout %} collapsed{%endif%}" type="button" data-bs-toggle="collapse" data-bs-target="#register" aria-controls="register">
            <svg class="svg-icon me-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12,4A4,4 0 0,1 16,8A4,4 0 0,1 12,12A4,4 0 0,1 8,8A4,4 0 0,1 12,4M12,6A2,2 0 0,0 10,8A2,2 0 0,0 12,10A2,2 0 0,0 14,8A2,2 0 0,0 12,6M12,13C14.67,13 20,14.33 20,17V20H4V17C4,14.33 9.33,13 12,13M12,14.9C9.03,14.9 5.9,16.36 5.9,17V18.1H18.1V17C18.1,16.36 14.97,14.9 12,14.9Z" /></svg>
            <span>{{ 'Login or Register'|trans }}</span>
        </button>
    </h2>
    <div id="register" class="accordion-collapse collapse{% if request.checkout and not client %} show{% endif %}"
         data-bs-parent="#orderManager">
        <div class="accordion-body">
            <div class="tab-content">
                <div class="tab-pane active" id="login-tab">
                    <form method="post" action="" id="client-login">
                        <input type="hidden" name="CSRFToken" value="{{ CSRFToken }}"/>
                        <fieldset>
                            <div class="control-group">
                                <label class="col-form-label" for="email">{{ 'Email Address'|trans }}</label>
                                <div class="controls">
                                    <input id="icon" type="email" class="span6"
                                           placeholder="{{ 'Your email address'|trans }}" name="email"
                                           value="{{ request.email }}" required="required"
                                           data-validation-required-message="{{ 'You must fill in your email.'|trans }}">
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="col-form-label" for="password">{{ 'Password'|trans }}</label>
                                <div class="controls">
                                    <input id="password" type="password" class="span6"
                                           placeholder="{{ 'Password'|trans }}" name="password" required="required"
                                           value="{{ request.password }}"
                                           data-validation-required-message="{{ 'You must fill in your password.'|trans }}">
                                </div>
                            </div>
                            <div class="form-actions">
                                <div class="controls">
                                    <button class="btn btn-large btn-primary  span5" type="submit"><span
                                            class="awe-signin"></span> {{ 'Log in'|trans }}</button>
                                    <div class="dropdown-divider"></div>
                                    <button class="btn btn-dark offset1" type="button"
                                            style="position:relative; top:10px"
                                            onclick="$('#register-tab').show();$('#login-tab').hide();"><span
                                            class="awe-user"> </span> {{ 'Or register'|trans }}</button>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
                <div class="tab-pane" id="register-tab">
                    <form action="" method="post" id="create-profile">
                        <input type="hidden" name="CSRFToken" value="{{ CSRFToken }}"/>
                        {% set r = guest.client_required %}
                        <fieldset>
                            <div class="control-group">
                                <label class="col-form-label" for="reg-email">{{ 'Email Address'|trans }}</label>
                                <div class="controls">
                                    <input type="email" name="email" class="span6" value="{{ request.email }}"
                                           required="required" id="reg-email">
                                </div>
                            </div>

                            <div class="control-group">
                                <label class="col-form-label" for="first-name">{{ 'First Name'|trans }}</label>
                                <div class="controls">
                                    <input type="text" name="first_name" class="span6" id="first-name"
                                           value="{{ request.first_name }}" required="required">
                                </div>
                            </div>

                            {% if 'last_name' in r %}
                                <div class="control-group">
                                    <label class="col-form-label" for="last_name">{{ 'Last Name'|trans }}</label>
                                    <div class="controls">
                                        <input type="text" name="last_name" class="span6" id="last_name"
                                               value="{{ request.last_name }}" required="required">
                                    </div>
                                </div>
                            {% endif %}


                            {% if 'company' in r %}
                                <div class="control-group">
                                    <label class="col-form-label" for="company">{{ 'Company'|trans }}</label>
                                    <div class="controls">
                                        <input type="text" name="company" class="span6" id="company"
                                               value="{{ request.company }}" required="required">
                                    </div>
                                </div>
                            {% endif %}

                            {% if 'birthday' in r %}
                                <div class="control-group">
                                    <label class="col-form-label" for="birthday">{{ 'Birthday'|trans }}</label>
                                    <div class="controls">
                                        <input type="date" class="span6" name="birthday" id="birthday" value="">
                                    </div>
                                </div>
                            {% endif %}

                            {% if 'gender' in r %}
                                <div class="control-group">
                                    <label class="col-form-label" for="gender">{{ 'You are'|trans }}</label>
                                    <div class="controls">
                                        <select name="gender" class="span6" id="gender">
                                            <option value="male">Male</option>
                                            <option value="female">Female</option>
                                            <option value="nonbinary">Non-binary</option>
                                            <option value="other">Other</option>
                                        </select>
                                    </div>
                                </div>
                            {% endif %}

                            <div class="control-group">
                                <label class="col-form-label" for="reg-password">{{ 'Password'|trans }}</label>
                                <div class="controls">
                                    <input type="password" name="password" class="span6" value="" required="required"
                                           id="reg-password">
                                </div>
                            </div>

                            <div class="control-group">
                                <label class="col-form-label"
                                       for="password-confirm">{{ 'Password confirm'|trans }}</label>
                                <div class="controls">
                                    <input type="password" name="password_confirm" class="span6" name="password-confirm"
                                           value="" required="required">
                                </div>
                            </div>


                            {% if 'address_1' in r %}
                                <div class="control-group">
                                    <label class="col-form-label" for="address_1">{{ 'Address'|trans }}</label>
                                    <div class="controls">
                                        <input type="text" name="address_1" class="span6" id="address_1"
                                               value="{{ request.address_1 }}">
                                    </div>
                                </div>
                            {% endif %}

                            {% if 'address_2' in r %}
                                <div class="control-group">
                                    <label class="col-form-label" for="address_2">{{ 'Address 2'|trans }}</label>
                                    <div class="controls">
                                        <input type="text" name="address_2" class="span6" id="address_2"
                                               value="{{ request.address_2 }}">
                                    </div>
                                </div>
                            {% endif %}

                            {% if 'city' in r %}
                                <div class="control-group">
                                    <label class="col-form-label" for="city">{{ 'City'|trans }}</label>
                                    <div class="controls">
                                        <input type="text" name="city" class="span6" id="city"
                                               value="{{ request.city }}">
                                    </div>
                                </div>
                            {% endif %}

                            {% if 'country' in r %}
                                <div class="control-group">
                                    <label class="col-form-label" for="country">{{ 'Country'|trans }}</label>
                                    <div class="controls">
                                        <select name="country" class="span6" required="required">
                                            <option value="">{{ '-- Select country --'|trans }}</option>
                                            {% for val,label in guest.system_countries %}
                                                <option value="{{ val }}" label="{{ label|e }}">{{ label|e }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            {% endif %}

                            {% if 'state' in r %}
                                <div class="control-group">
                                    <label class="col-form-label" for="state">{{ 'State'|trans }}</label>
                                    <div class="controls">
                                        {# mf.selectbox('state', guest.system_states, request.state, 0, 'Select state') #}
                                        <input type="text" name="state" class="span6" id="state"
                                               value="{{ request.state }}"/>
                                    </div>
                                </div>
                            {% endif %}

                            {% if 'postcode' in r %}
                                <div class="control-group">
                                    <label class="col-form-label" for="postcode">{{ 'Zip/Postal Code'|trans }}</label>
                                    <div class="controls">
                                        <input type="text" name="postcode" class="span6" id="postcode"
                                               value="{{ request.postcode }}">
                                    </div>
                                </div>
                            {% endif %}

                            {% if 'phone' in r %}
                                <div class="control-group">
                                    <label class="col-form-label" for="phone_cc">{{ 'Phone Number'|trans }}</label>
                                    <div class="controls controls-row">
                                        <input type="text" name="phone_cc" value="{{ request.phone_cc }}"
                                               style="width:20%">
                                        <input type="phone" name="phone" value="{{ request.phone }}" style="width: 70%">
                                    </div>
                                </div>
                            {% endif %}

                            {% set custom_fields = guest.client_custom_fields %}
                            {% for field_name, field in custom_fields %}
                                {% if field.active %}
                                    <div class="control-group">
                                        <label class="col-form-label"
                                               for="{{ field_name }}">{% if field.title is not empty %}{{ field.title }}{% else %} {{ field_name | capitalize }} {% endif %}</label>
                                        <div class="controls">
                                            <input type="text" name="{{ field_name }}" id="{{ field_name }}"
                                                   value="{{ attribute(request, field_name) }}"
                                                   {% if field.required %}required="required"{% endif %}>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}

                            {{ mf.recaptcha }}

                            <div class="form-actions">

                                <div class="controls">
                                    <button class="btn btn-large btn-primary  span5" type="submit">
                                        <span class="awe-user"></span> {{ 'Register'|trans }}</button>
                                    <div class="dropdown-divider"></div>
                                    <button class="btn btn-dark offset1" type="button"
                                            style="position:relative; top:10px"
                                            onclick="$('#register-tab').hide();$('#login-tab').show();">
                                        <span class="awe-signin"> </span> {{ 'Or Login'|trans }}
                                    </button>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
