{% if product.addons|length > 0 %}
    <div class="card mt-1 mb-1">
        <div class="card-header">
            <h5>{{ 'Addons & extras'|trans }}</h5>
        </div>
        <div class="card-body">
        <table class="table table-sm table-borderless table-striped">
        <tbody>
          {% for addon in product.addons %}
            <tr>
              <td>
                <input type="hidden" name="addons[{{ addon.id }}][selected]" value="0">
                <input type="checkbox" class="form-check-input" name="addons[{{ addon.id }}][selected]" value="1" id="addon_{{ addon.id }}">
              </td>

              <td {% if not addon.icon_url %}style="display: none"{% endif %}>
                <label for="addon_{{ addon.id }}"><img src="{{ addon.icon_url }}" alt="" width="36" /></label>
              </td>

              <td>
                <label for="addon_{{ addon.id }}">
                  <h6>{{ addon.title }}</h6>
                </label>
                {{ addon.description|markdown }}
              </td>

              <td class="currency">
                <label for="addon_{{ addon.id }}">
                  {% if addon.pricing.type is same as('recurrent') %}
                    {% set periods = guest.system_periods %}
                    <select class="form-select" name="addons[{{ addon.id }}][period]" rel="addon-periods-{{ addon.id }}">
                      {% for code, prices in addon.pricing.recurrent %}
                        {% if prices.enabled %}
                          <option value="{{ code }}">{{ periods[code] }} {{ prices.price | money_convert }} {% if prices.setup != '0.00' %}{{ 'Setup:'|trans }} {{ prices.setup | money_convert }}{% endif %}</option>
                        {% endif %}
                      {% endfor %}
                    </select>
                  {% endif %}

                  {% if addon.pricing.type is same as('once') %}
                    {{ (addon.pricing.once.price + addon.pricing.once.setup) | money_convert }}
                  {% endif %}

                  {% if addon.pricing.type is same as('free') %}
                    {{ 0 | money_convert }}
                  {% endif %}
                </label>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
</div>
{% endif %}
