<div class="card-nody">
    <h5>{{ 'File'|trans }}</h5>


    <form method="post" action="{{ '/api/admin/servicedownloadable/config_save'|link }}" data-fb-api='{ "message": "{{ 'Settings Updated'|trans }}" }'>

        <div class="row mb-3">
            <label class="col-md-3 form-label">
                {{ 'Keep Orders Updated'|trans }}
            </label>
            <div class="col-md-6">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="update_orders" value="1" {% if product.config.update_orders == '1' %} checked {% endif %} {% if product.config.update_orders == '' %} checked {% endif %} required>
                    <label class="form-check-label">Yes</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="update_orders" value="0" {% if product.config.update_orders == '0' %} checked {% endif %} required>
                    <label class="form-check-label">No</label>
                </div>
            </div>
        </div>
        <input type="hidden" name="id" value="{{ product.id }}">
        <input type="submit" value="{{ 'Save config'|trans }}" class="btn btn-primary w-100" id="bb-upload-button">
    </form>
    <form method="post" action="{{ 'api/admin/servicedownloadable/upload'|link }}" class="" enctype="multipart/form-data" target="uploadframe" id="bb-upload-form">
        <input type="hidden" name="CSRFToken" value="{{ CSRFToken }}"/>
        {% if product.config.filename  %}
        <div class="mb-3 row">
            <label class="form-label col-3 col-form-label">{{ 'Currently uploaded file'|trans }}:</label>
            <div class="col">
                {{ product.config.filename  }}
            </div>
        </div>
        {% endif %}

        <div class="mb-3 row">
            <label class="form-label col-3 col-form-label">{{ 'Upload new file'|trans }}:</label>
            <div class="col">
                <input class="form-control" type="file" name="file_data" id="file_data">
            </div>
        </div>



        <input type="hidden" name="id" value="{{ product.id }}">
        <input type="submit" value="{{ 'Upload'|trans }}" class="btn btn-primary w-100" id="bb-upload-button">
    </form>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        const iframe = document.createElement('iframe');
        iframe.id = 'uploadframe';
        iframe.name = 'uploadframe';
        iframe.style.display = 'none';
        document.body.appendChild(iframe);

        const uploadForm = document.getElementById('bb-upload-form');
        uploadForm.addEventListener('submit', function() {
            iframe.onload = function() {
                const response = iframe.contentDocument.body;
                const data = JSON.parse(response.textContent);

                if (data.error) {
                    FOSSBilling.message(`${data.error.message} (${data.error.code})`, "error");
                }

                if (data.result) {
                    FOSSBilling.message("{{ 'File was uploaded'|trans }}");
                }

                setTimeout(function() {
                    response.innerHTML = '';
                }, 1);
            };
        });
    });
</script>
