<div class="row">
    <div class="col-12">
        <div class="mb-3 row">
            <label class="col-md-3 col-form-label {% if field.required == 1 %}required{% endif %}" for="{{ field.name }}">{% if field.hide_label != 1 %}{{ field.label }}{% endif %}</label>
            <div class="col-9 col-md-6">
                {% if field.type == "text" %}
                    <div class="input-group">
                        {% if field.prefix %}
                            <span class="input-group-text">{{ field.prefix }}</span>
                        {% endif %}
                        <input class="form-control" type="text"
                               name="{{ field.name }}"
                               value="{{ field.default_value }}" id="{{ field.name }}"
                            {{ (field.readonly==1)? 'readonly="readonly"' : '' }} />
                        {% if field.suffix %}
                            <span class="input-group-text">{{ field.suffix }}</span>
                        {% endif %}
                    </div>
                {% elseif field.type == "select" %}
                    {% if field.options is empty %}
                        <div class="alert alert-danger" role="alert">
                            {{ 'Please click on "Edit" in order to add options'|trans }}
                        </div>
                    {% else %}
                        <select class="form-select" name="{{ field.name }}" required="required" id="{{ field.name }}"
                            {{ (field.readonly==1)? 'disabled="disabled"' : '' }}>
                            {% for k,v in field.options %}
                                <option value="{{ v }}" {{ (field.default_value == v) ? 'selected' : '' }}>{{ k }}</option>
                            {% endfor %}
                        </select>
                    {% endif %}

                {% elseif field.type == "checkbox" %}

                    {% if field.options is empty %}
                        <div class="alert alert-danger" role="alert">
                            {{ 'Please click on "Edit" in order to add options'|trans }}
                        </div>
                    {% else %}
                        <div>
                        {% for k,v in field.options %}
                            <label class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" name="{{ field.name }}" value="{{ v }}" id="{{ k }}_{{ v }}"
                                       {% if v in field.default_value %}checked="checked"{% endif %}
                                    {{ (field.readonly==1)? 'disabled="disabled"' : '' }} />
                                <span class="form-check-label">{{ k }}</span>
                            </label>
                        {% endfor %}
                        </div>
                    {% endif %}

                {% elseif field.type == "radio" %}
                    {% if field.options is empty %}
                        <div class="alert alert-danger" role="alert">
                            {{ 'Please click on "Edit" in order to add options'|trans }}
                        </div>
                    {% else %}
                        <div>
                        {% for k,v in field.options %}
                            <label class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="{{ field.name }}" value="{{ v }}"
                                       id="{{ k }}_{{ v }}" {{ (field.default_value == v) ? 'checked' : '' }}
                                    {{ (field.readonly==1)? 'disabled="disabled"' : '' }} />
                                <span class="form-check-label">{{ k }}</span>
                            </label>
                        {% endfor %}
                        </div>
                    {% endif %}
                {% elseif field.type == "textarea" %}
                    <textarea class="form-control" rows="5" name="{{ field.name }}" id="{{ field.name }}">{{ field.default_value }}</textarea>
                {% endif %}
            </div>
            <div class="col">
                <div class="d-flex w-100 justify-content-end gap-1">
                    <a class="btn btn-icon" href="#" title="Edit" data-bs-target="#formbuilder_field{{ field.id }}" data-bs-toggle="modal">
                        <svg class="icon">
                            <use xlink:href="#edit"/>
                        </svg>
                    </a>
                    <a class="remove-item btn btn-icon" title="Delete" href="#" data-field-id="{{ field.id }}">
                        <svg class="icon">
                            <use xlink:href="#delete"/>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
