{% import 'macro_functions.html.twig' as mf %}
<div class="modal modal-blur fade" id="newClientModal" tabindex="-1" aria-labelledby="newClientModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-fullscreen-md-down new-client-modal-dialog">
        <form class="modal-content h-100 fb-modal-form" method="post" action="{{ 'client/create'|api_url }}" {{ fb_api_form({ redirect: 'client'|url}) }}>
            <div class="modal-header">
                <h3 class="modal-title" id="newClientModalLabel">{{ 'Create a New Client'|trans }}</h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="{{ 'Close'|trans }}"></button>
            </div>
            <div class="modal-body py-3">
                {% set languages = guest.extension_languages(true) %}
                <section class="fb-modal-section">
                    <div class="fb-modal-section-header">
                        <h4 class="fb-modal-section-title">{{ 'Account Details'|trans }}</h4>
                    </div>
                    <div class="row g-3">
                        <div class="col-sm-6">
                            <label class="form-label required" for="new-client-first-name">{{ 'First Name'|trans }}</label>
                            <input id="new-client-first-name" type="text" name="first_name" class="form-control" placeholder="{{ 'First name'|trans }}" required>
                        </div>
                        <div class="col-sm-6">
                            <label class="form-label" for="new-client-last-name">{{ 'Last Name'|trans }}</label>
                            <input id="new-client-last-name" type="text" name="last_name" class="form-control" placeholder="{{ 'Last name'|trans }}">
                        </div>
                        <div class="col-12">
                            <label class="form-label required" for="new-client-email">{{ 'Email Address'|trans }}</label>
                            <input id="new-client-email" type="email" name="email" class="form-control" placeholder="client@fossbilling.org" required>
                        </div>
                        <div class="col-12">
                            <label class="form-label" for="new-client-aid">{{ 'Custom Client ID'|trans }}</label>
                            <input id="new-client-aid" type="text" name="aid" class="form-control" placeholder="{{ 'Existing customer ID from another system'|trans }}">
                        </div>
                        <div class="col-12">
                            <label class="form-label" for="new-client-password">{{ 'Password'|trans }}</label>
                            <input id="new-client-password" type="password" name="password" class="form-control" placeholder="{{ 'Optional initial password'|trans }}">
                            <div class="form-text">{{ 'Leave blank to let the client set a password from the welcome email.'|trans }}</div>
                        </div>
                        <div class="col-12">
                            <label class="form-label mb-2">{{ 'Welcome Email'|trans }}</label>
                            <input type="hidden" name="send_welcome_email" value="0">
                            <label class="form-check form-switch form-switch-2">
                                <input class="form-check-input" type="checkbox" name="send_welcome_email" value="1" checked>
                                <span class="form-check-label">{{ 'Send client welcome email'|trans }}</span>
                            </label>
                            <div class="form-text">{{ 'Includes a secure password reset link instead of sending account credentials.'|trans }}</div>
                        </div>
                    </div>
                </section>

                <section class="fb-modal-section">
                    <div class="fb-modal-section-header">
                        <h4 class="fb-modal-section-title">{{ 'Contact Details'|trans }}</h4>
                    </div>
                    <div class="row g-3">
                        <div class="col-12">
                            <label class="form-label" for="new-client-address-1">{{ 'Address 1'|trans }}</label>
                            <input id="new-client-address-1" type="text" name="address_1" class="form-control">
                        </div>
                        <div class="col-12">
                            <label class="form-label" for="new-client-address-2">{{ 'Address 2'|trans }}</label>
                            <input id="new-client-address-2" type="text" name="address_2" class="form-control">
                        </div>
                        <div class="col-sm-6">
                            <label class="form-label" for="new-client-city">{{ 'City'|trans }}</label>
                            <input id="new-client-city" type="text" name="city" class="form-control">
                        </div>
                        <div class="col-sm-6">
                            <label class="form-label" for="new-client-state">{{ 'State/Region'|trans }}</label>
                            <input id="new-client-state" type="text" name="state" class="form-control">
                        </div>
                        <div class="col-sm-6">
                            <label class="form-label" for="new-client-postcode">{{ 'Postcode'|trans }}</label>
                            <input id="new-client-postcode" type="text" name="postcode" class="form-control">
                        </div>
                        <div class="col-sm-6">
                            <label class="form-label" for="country">{{ 'Country'|trans }}</label>
                            {{ mf.selectbox('country', country_names(), guest.system_default_country, 0, 'Select Country'|trans) }}
                        </div>
                        <div class="col-12">
                            <label class="form-label" for="new-client-phone">{{ 'Phone Number'|trans }}</label>
                            <div class="input-group">
                                <span class="input-group-text">+</span>
                                <input class="form-control fb-phone-country-code" type="text" name="phone_cc" aria-label="{{ 'Country Code'|trans }}" placeholder="{{ 'Code'|trans }}" inputmode="numeric" maxlength="3" pattern="[0-9]{1,3}" autocomplete="tel-country-code">
                                <input id="new-client-phone" class="form-control" type="text" name="phone" aria-label="{{ 'Phone Number'|trans }}" placeholder="{{ 'Phone number'|trans }}">
                            </div>
                        </div>
                    </div>
                </section>

                <section class="fb-modal-section">
                    <div class="fb-modal-section-header fb-modal-section-header-collapsible">
                        <div class="fb-modal-section-heading-row">
                            <h4 class="fb-modal-section-title">{{ 'Company Details'|trans }}</h4>
                            <button class="fb-modal-section-toggle collapsed"
                                type="button"
                                data-bs-toggle="collapse"
                                data-bs-target="#new-client-company-section"
                                aria-expanded="false"
                                aria-controls="new-client-company-section"
                                aria-label="{{ 'Toggle Company Details'|trans }}">
                                <svg class="icon">
                                    <use href="#chevron-down" />
                                </svg>
                            </button>
                        </div>
                        <div class="fb-modal-section-description">{{ 'Optional business identity and tax information.'|trans }}</div>
                    </div>
                    <div id="new-client-company-section" class="collapse">
                        <div class="fb-modal-subsection-body">
                            <div class="row g-3">
                                <div class="col-12">
                                    <label class="form-label" for="new-client-company">{{ 'Company Name'|trans }}</label>
                                    <input id="new-client-company" type="text" name="company" class="form-control" placeholder="{{ 'Name'|trans }}">
                                </div>
                                <div class="col-md-6">
                                    <label class="form-label" for="new-client-company-number">{{ 'Company Number'|trans }}</label>
                                    <input id="new-client-company-number" type="text" name="company_number" class="form-control" placeholder="{{ 'Number'|trans }}">
                                </div>
                                <div class="col-md-6">
                                    <label class="form-label" for="new-client-company-vat">{{ 'VAT Number'|trans }}</label>
                                    <input id="new-client-company-vat" type="text" name="company_vat" class="form-control" placeholder="{{ 'VAT number'|trans }}">
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <section class="fb-modal-section">
                    <div class="fb-modal-section-header">
                        <h4 class="fb-modal-section-title">{{ 'Account Settings'|trans }}</h4>
                    </div>
                    <div class="row g-3">
                        <div class="col-sm-6">
                            <label class="form-label" for="new-client-status">{{ 'Status'|trans }}</label>
                            <select id="new-client-status" name="status" class="form-select">
                                <option value="active">{{ 'Active'|trans }}</option>
                                <option value="suspended">{{ 'Suspended'|trans }}</option>
                                <option value="canceled">{{ 'Canceled'|trans }}</option>
                            </select>
                        </div>
                        <div class="col-sm-6">
                            <label class="form-label" for="group_id">{{ 'Group'|trans }}</label>
                            {{ mf.selectbox('group_id', admin.client_group_get_pairs, request.group_id, 0, 'Select Group'|trans) }}
                        </div>
                        <div class="col-sm-6">
                            <label class="form-label" for="currency">{{ 'Currency'|trans }}</label>
                            {{ mf.selectbox('currency', guest.currency_get_pairs, request.currency, 0, 'Select Currency'|trans) }}
                        </div>
                        <div class="col-sm-6">
                            <label class="form-label" for="new-client-language">{{ 'Language'|trans }}</label>
                            <select id="new-client-language" name="lang" class="form-select js-language-selector">
                                <option value="">{{ 'System Default'|trans }}</option>
                                {% for lang in languages %}
                                    <option value="{{ lang.locale }}">{{ lang.title }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </section>

                <section class="fb-modal-section">
                    <div class="fb-modal-section-header fb-modal-section-header-collapsible">
                        <div class="fb-modal-section-heading-row">
                            <h4 class="fb-modal-section-title">{{ 'Admin Notes'|trans }}</h4>
                            <button class="fb-modal-section-toggle collapsed"
                                type="button"
                                data-bs-toggle="collapse"
                                data-bs-target="#new-client-notes-section"
                                aria-expanded="false"
                                aria-controls="new-client-notes-section"
                                aria-label="{{ 'Toggle Admin Notes'|trans }}">
                                <svg class="icon">
                                    <use href="#chevron-down" />
                                </svg>
                            </button>
                        </div>
                        <div class="fb-modal-section-description">{{ 'Internal notes only visible to staff.'|trans }}</div>
                    </div>
                    <div id="new-client-notes-section" class="collapse">
                        <div class="fb-modal-subsection-body">
                            <label class="form-label visually-hidden" for="new-client-notes">{{ 'Admin Notes'|trans }}</label>
                            <textarea id="new-client-notes" name="notes" class="form-control" rows="4"></textarea>
                        </div>
                    </div>
                </section>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{ 'Cancel'|trans }}</button>
                <button type="submit" class="btn btn-primary">{{ 'Create Client'|trans }}</button>
            </div>
        </form>
    </div>
</div>
