{% extends request.ajax ? 'layout_blank.html.twig' : 'layout_default.html.twig' %}

{% import 'macro_functions.html.twig' as mf %}

{% block meta_title %}{{ tld.tld }}{% endblock %}

{% set active_menu = 'system' %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{{ '/'|alink }}">
                <svg class="icon">
                    <use xlink:href="#home" />
                </svg>
            </a>
        </li>
        <li>
            <a href="{{ 'servicedomain'|alink }}">{{ 'Domain management'|trans }}</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">{{ tld.tld }}</li>
    </ol>
{% endblock %}

{% block content %}
<div class="card">
    <div class="card-body">
        <h3>{{ tld.tld }} {{ 'Top level domain management'|trans }}</h3>

        <form method="post" action="{{ 'api/admin/servicedomain/tld_update'|link }}" class="api-form" data-api-msg="{{ 'Top level domain settings updated.'|trans }}">
            <input type="hidden" name="CSRFToken" value="{{ CSRFToken }}"/>
            <div class="mb-3 row">
                <label class="form-label col-3 col-form-label">{{ 'Registrar'|trans }}:</label>
                <div class="col">
                    <select class="form-select" name="tld_registrar_id">
                        {% for id, title in admin.servicedomain_registrar_get_pairs %}
                        <option value="{{ id }}"{% if id == tld.registrar.id %} selected{% endif %}>{{ title }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="mb-3 row">
                <label class="form-label col-3 col-form-label">{{ 'Registration price'|trans }}:</label>
                <div class="col">
                    <input class="form-control" type="text" name="price_registration" value="{{ tld.price_registration }}" required>
                </div>
            </div>
            <div class="mb-3 row">
                <label class="form-label col-3 col-form-label">{{ 'Renewal price'|trans }}:</label>
                <div class="col">
                    <input class="form-control" type="text" name="price_renew" value="{{ tld.price_renew }}" required>
                </div>
            </div>
            <div class="mb-3 row">
                <label class="form-label col-3 col-form-label">{{ 'Transfer price'|trans }}:</label>
                <div class="col">
                    <input class="form-control" type="text" name="price_transfer" value="{{ tld.price_transfer }}" required>
                </div>
            </div>
            <div class="mb-3 row">
                <label class="form-label col-3 col-form-label">{{ 'Minimum years of registration'|trans }}:</label>
                <div class="col">
                    <input class="form-control" type="text" name="min_years" value="{{ tld.min_years }}" required>
                </div>
            </div>
            <div class="mb-3 row">
                <label class="form-label col-3 col-form-label">{{ 'Allow registration'|trans }}:</label>
                <div class="col">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" id="inputAllowRegisterYes" type="radio" name="allow_register" value="1"{% if tld.allow_register %} checked{% endif %}>
                        <label class="form-check-label" for="inputAllowRegisterYes">{{ 'Yes'|trans }}</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" id="inputAllowRegisterNo" type="radio" name="allow_register" value="0"{% if not tld.allow_register %} checked{% endif %}>
                        <label class="form-check-label" for="inputAllowRegisterNo">{{ 'No'|trans }}</label>
                    </div>
                </div>
            </div>
            <div class="mb-3 row">
                <label class="form-label col-3 col-form-label">{{ 'Allow transfer'|trans }}:</label>
                <div class="col">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" id="inputAllowTransferYes" type="radio" name="allow_transfer" value="1"{% if tld.allow_transfer %} checked{% endif %}>
                        <label class="form-check-label" for="inputAllowTransferYes">{{ 'Yes'|trans }}</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" id="inputAllowTransferNo" type="radio" name="allow_transfer" value="0"{% if not tld.allow_transfer %} checked{% endif %}>
                        <label class="form-check-label" for="inputAllowTransferNo">{{ 'No'|trans }}</label>
                    </div>
                </div>
            </div>
            <div class="mb-3 row">
                <label class="form-label col-3 col-form-label">{{ 'Active'|trans }}:</label>
                <div class="col">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" id="inputActiveYes" type="radio" name="active" value="1"{% if tld.active %} checked{% endif %}>
                        <label class="form-check-label" for="inputActiveYes">{{ 'Yes'|trans }}</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" id="inputActiveNo" type="radio" name="active" value="0"{% if not tld.active %} checked{% endif %}>
                        <label class="form-check-label" for="inputActiveNo">{{ 'No'|trans }}</label>
                    </div>
                </div>
            </div>

            <input type="hidden" name="tld" value="{{ tld.tld }}">
            <input type="submit" value="{{ 'Update'|trans }}" class="btn btn-primary w-100">
        </form>
    </div>
</div>
{% endblock %}
