<div class="card-body">
    <h3>{{ order.title }} {{ 'Management'|trans }}</h3>

    <form method="post" action="{{ 'servicecustom/update'|api_url }}" {{ fb_api_form({message: 'Service Updated'|trans}) }}>
        {% for name, value in service %}
            <div class="mb-3 row">
                <label class="form-label col-3 col-form-label">{{ name }}</label>
                <div class="col">
                    <textarea class="form-control" rows="2" name="config[{{ name }}]">{{ value }}</textarea>
                </div>
            </div>
        {% endfor %}

        <input type="hidden" name="order_id" value="{{ order.id }}">
        <button class="btn btn-primary w-100" type="submit">{{ 'Update'|trans }}</button>
    </form>
</div>
