{% extends "./assets/layout.html.twig" %}

{% block page %}
    <h1>Installation</h1>

    <p>Thank you for choosing FOSSBilling! Our installer will have you up and running in just a few more minutes.</p>

    <p>Meet all system requirements, then fill out and submit the setup form.</p>

    <p>FOSSBilling is licensed under the Apache License, Version 2.0. <a href='https://github.com/FOSSBilling/FOSSBilling/blob/master/LICENSE' target='_blank' data-tooltip="Opens in a new window.">Click here</a> for full license text.</p>

    <h1>System Requirements</h1>

    {% if canInstall == false %}

    {% endif %}

    <table role="grid">
        <thead>
            <tr>
                <th scope="col">Requirement</th>
                <th scope="col">Result</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Operating System</td>
                <td class="{{ os_ok ? 'green' : 'red'}}">{{ os }}</td>
                <td>{% if not os_ok %}FOSSBilling might not work properly on your operating system{% endif %}</td>
            </tr>
            <tr>
                <td>FOSSBilling Version</td>
                <td class="{{ fossbilling_ver_ok ? 'green' : 'red'}}">{{ fossbilling_ver }}</td>
                <td>{% if not fossbilling_ver_ok %}FOSSBilling couldn't find valid version information. This is okay if you downloaded FOSSBilling directly from the main branch, instead of a released version. But beware, the main branch may not be stable enough for production use.{% endif %}</td>
            </tr>
            <tr>
                <td>PHP Version</td>
                <td class="{{ php_ver_ok ? 'green' : 'red'}}">{{ php_ver }}</td>
                <td>{% if not php_ver_ok %}Required PHP version >{{ php_ver_req }}{% endif %}</td>
            </tr>
            <tr>
                <td>PHP Safe Mode</td>
                <td class="{{ php_safe_mode ? 'red' : 'green'}}">{{ php_safe_mode ? 'ON' : 'OFF'}}</td>
                <td>{% if php_safe_mode %}PHP safe mode should be OFF{% endif %}</td>
            </tr>
            {% for ext, loaded in extensions %}
                <tr>
                    <td>PHP Extension: <strong>{{ ext }}</strong></td>
                    <td class="{{ loaded ? 'green' : 'red'}}">{{ loaded ? 'OK' : 'FAIL'}}</td>
                    <td>{% if not loaded %}Contact your server administrator to enable <strong>PHP {{ ext }} extension</strong>{% endif %}</td>
                </tr>
            {% endfor %}
            {% for file, writable in files %}
                <tr>
                    <td>{{ file }}</td>
                    <td class="{{ writable ? 'green' : 'red'}}">{{ writable ? 'Writable' : 'FAIL'}}</td>
                    <td>{% if not writable %}Please make sure that file exists and is writable.{%endif%}</td>
                </tr>
            {% endfor %}
            {% for folder, writable in folders %}
                <tr>
                    <td>{{ folder }}</td>
                    <td class="{{ writable ? 'green' : 'red'}}">{{ writable ? 'Writable' : 'FAIL'}}</td>
                    <td>{% if not writable %}Please make sure that directory exists and is writable.{%endif%}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <h1>Setup Form</h1>

    {% if canInstall == false %}

    <p>Meet all system requirements, then refresh the page to see the setup form.</p>

    {% else %}
        <form action="/install/install.php?a=install" method="post">

            <h3>Database</h3>

            <fieldset>
                <label for="databaseHostname">Hostname</label>
                <input type="text" id="databaseHostname" name="databaseHostname" placeholder="localhost, mysql, db.domain.com, 12.34.56.78 ..." required>
                <small>Usually <strong>localhost</strong>. For Docker, use <strong>mysql</strong>.</small>

                <label for="databasePort">Port</label>
                <input type="number" id="databasePort" name="databasePort" placeholder="Usually 3306." value='3306' required>

                <label for="databaseName">Name</label>
                <input type="text" id="databaseName" name="databaseName" placeholder="Enter the name of the database." required>

                <label for="databaseUsername">Username</label>
                <input type="text" id="databaseUsername" name="databaseUsername" placeholder="Enter the MySQL username." required>

                <label for="databasePassword">Password</label>
                <input type="password" id="databasePassword" name="databasePassword" placeholder="Enter the MySQL password." required>
            </fieldset>

            <h3>Admin Account</h3>

            <p>Your login information for accessing the FOSSBilling admin dashboard.</p>

            <fieldset>
                <label for="adminName">Name</label>
                <input type="text" id="adminName" name="adminName" placeholder="Display name of your account." required>

                <label for="adminEmail">Email</label>
                <input type="email" id="adminEmail" name="adminEmail" placeholder="you@yourdomain.com" required>

                <label for="adminPassword">Password</label>
                <input type="password" id="adminPassword" name="adminPassword" placeholder="Use a strong, secure password." required>
            </fieldset>

            <h3>Currency Settings</h3>

            <p>Configure your default currency and price format.</p>

            <fieldset>
                <label for="currencyCode">Code</label>
                <input type="text" id="currencyCode" name="currencyCode" value="USD" required>

                <label for="currencyTitle">Title</label>
                <input type="text" id="currencyTitle" name="currencyTitle" value="US Dollar" required>

                <label for="currencyFormat">Price Format</label>
                <input type="text" id="currencyFormat" name="currencyFormat" value='addlater' required>
            </fieldset>

            <hr/>

            <button type="submit">Install</button>
        </form>
    {% endif %}
{% endblock %}