{% extends "layout_login.html.twig" %}

{% block meta_title %}{{ 'Error'|trans }} {{ exception.getCode }}{% endblock %}
{% set help_query = exception.getMessage %}

{% block content %}
<!-- Error info area -->
<div class="wrapper">
    <div class="errorPage">
        <h2 class="red errorTitle"><span>{{ 'Something went wrong here'|trans }}</span></h2>
        <h1>{% if exception.getCode == 0%}500{% else %} {{ exception.getCode }} {% endif %}</h1>
        <span class="bubbles"></span>
        <p>{{ exception.getMessage }}!</p>
        {% if exception.getCode == 403 %}
        <div class="backToDash"><a href="{{ '/staff/login'|alink }}" title="" class="seaBtn button">{{ 'Login'|trans }}</a></div>
        {% else %}
        <div class="backToDash"><a href="{{ '/index'|alink }}" title="" class="seaBtn button">{{ 'Back to Dashboard'|trans }}</a></div>
        {% endif %}
    </div>
</div>
{% endblock %}
