<aside class="navbar navbar-vertical navbar-expand-lg navbar-dark">
    <div class="container-fluid">
        <h1 class="navbar-brand navbar-brand-autodark">
            <a href="{{ 'index'|alink }}">
                <img class="navbar-brand-image" src="{{ company.logo_url }}" alt="{{ company.name }}">
            </a>
        </h1>

        {% block left_top %}{% endblock %}

        <section class="collapse navbar-collapse">
            <ul class="navbar-nav pt-lg-3" id="menu">
                {% set navigation = admin.extension_get_navigation({ 'url': guest.system_current_url }) %}
                {% for location, group in navigation %}
                    {% if group.subpages %}
                    <li class="nav-item dropdown {{ group.class }}" data-nav-index="{{ group.index }}" data-nav-location="{{ location }}">
                        <a class="nav-link dropdown-toggle"
                            {% if group.active or active_menu == location %} id="current" {%endif %}
                            href="#"
                            data-bs-toggle="dropdown"
                            data-bs-auto-close="false"
                            role="button"
                            aria-expanded="false">
                            <span class="nav-link-icon d-md-none d-lg-inline-block">
                                <svg class="icon">
                                    <use xlink:href="#{{ group.class }}" />
                                </svg>
                            </span>
                            <span class="nav-link-title">{{ group.label|trans }}</span>
                        </a>
                        <div class="dropdown-menu" data-bs-popper="none">
                            <div class="dropdown-menu-columns">
                                <div class="dropdown-menu-column">
                                    {% for subpage in group.subpages %}
                                    <a class="dropdown-item" href="{{ subpage.uri }}">{{ subpage.label|trans }}</a>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </li>
                    {% endif %}
                {% endfor %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle"
                        href="#navbar-help"
                        data-bs-toggle="dropdown"
                        data-bs-auto-close="false"
                        role="button"
                        aria-expanded="false">
                        <span class="nav-link-icon d-md-none d-lg-inline-block">
                            <svg class="icon">
                                <use xlink:href="#help" />
                            </svg>
                        </span>
                        <span class="nav-link-title">{{ 'Help'|trans }}</span>
                    </a>
                    <div class="dropdown-menu" data-bs-popper="none">
                        <a class="dropdown-item" href="https://docs.fossbilling.org/" target="_blank"
                            rel="noopener">{{ 'Documentation'|trans }}</a>
                        <a class="dropdown-item" href="https://github.com/FOSSBilling/FOSSBilling" target="_blank"
                            rel="noopener">{{ 'Source code'|trans }}</a>
                        <a class="dropdown-item" href="https://github.com/FOSSBilling/FOSSBilling/issues" target="_blank"
                            rel="noopener">{{ 'Report bug'|trans }}</a>
                    </div>
                </li>
            </ul>
        </section>

        {% block left_bottom %}{% endblock %}
    </div>
</aside>
