{% import 'macro_functions.html.twig' as mf %}

{% set profile = admin.profile_get %}
{% set company = guest.system_company %}

<!DOCTYPE html>
<html lang="">

<head>
    <title>{% block meta_title %}{% endblock %} - {{ company.name }}</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" href="favicon.ico">

    {% include 'partial_bb_meta.html.twig' %}

    <link rel="stylesheet" href="build/css/boxbilling-bundle.min.css?v={{ guest.system_version }}">
    <script src="build/js/boxbilling-bundle.min.js?v={{ guest.system_version }}"></script>

    {% block head %}{% endblock %}
</head>

<body class="layout-fluid theme-light">
    {% if not admin %}
    <script>
        $(function () {
            bb.redirect("{{ 'staff/login'|alink }}");
        });
    </script>
    {% else %}
    {% if hide_menu %}
    {% block content_wide %}{% endblock %}
    {% else %}
    <div class="page">
        {% block nav %}{% include '_sidebar.html.twig' %}{% endblock %}
        <div class="page-wrapper">
            {% block before_content %}{% endblock %}

            <header class="navbar">
                <div class="container-xl">
                    <a class="btn btn-link" href="{{ '/'|link }}" target="_blank">
                        <svg class="icon icon-tabler icon-tabler-arrow-back-up">
                            <use xlink:href="#arrow-back-up" />
                        </svg>
                        <span class="ml-2">{{ 'Visit site'|trans }}</span>
                    </a>
                    <div class="navbar-nav flex-row order-md-last">
                        <div class="nav-item d-none d-md-flex me-3">
                            <div class="btn-list">
                                <a href="https://github.com/FOSSBilling/FOSSBilling" class="btn" target="_blank" rel="noreferrer">
                                    <svg class="icon icon-tabler icon-tabler-arrow-back-up">
                                        <use xlink:href="#brand-github" />
                                    </svg>
                                    {{ 'Source code'|trans }}
                                </a>
                                <a href="https://github.com/sponsors/FOSSBilling" class="btn" target="_blank" rel="noreferrer">
                                    <svg class="icon icon-tabler icon-tabler-heart text-pink">
                                        <use xlink:href="#heart" />
                                    </svg>
                                    {{ 'Sponsor'|trans }}
                                </a>
                            </div>
                        </div>
                        <div class="d-none d-md-flex me-3">
                            <a class="nav-link px-0 hide-theme-dark js-theme-toggler"
                                href="?theme=dark"
                                data-bs-toggle="tooltip"
                                data-bs-placement="bottom"
                                data-bs-original-title="{{ 'Enable dark mode'|trans }}">
                                <svg class="icon">
                                    <use xlink:href="#moon" />
                                </svg>
                            </a>
                            <a class="nav-link px-0 hide-theme-light js-theme-toggler"
                                href="?theme=light"
                                data-bs-toggle="tooltip"
                                data-bs-placement="bottom"
                                data-bs-original-title="{{ 'Enable light mode'|trans }}">
                                <svg class="icon">
                                    <use xlink:href="#sun" />
                                </svg>
                            </a>
                        </div>
                        <div class="nav-item dropdown">
                            <a class="nav-link d-flex lh-1 text-reset p-0"
                                href="{{ 'staff/profile'|alink }}"
                                data-bs-toggle="dropdown"
                                aria-label="Open user menu"
                                aria-expanded="false">
                                <span class="avatar avatar-sm" style="background-image: url({{ profile.email|gravatar }}&size=32)"></span>
                                <div class="d-none d-xl-block ps-2">
                                    <div>{{ profile.name }}</div>
                                    <div class="mt-1 small text-muted">{{ profile.role }}</div>
                                </div>
                            </a>
                            <div class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                                <a class="dropdown-item"
                                    href="{{ 'staff/profile'|alink }}">{{ 'Profile'|trans }}</a>
                                <a class="dropdown-item"
                                    href="{{ 'system'|alink }}">{{ 'Settings'|trans }}</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item api-link"
                                    href="{{ 'api/admin/profile/logout'|link }}"
                                    data-api-redirect="{{ 'staff/login'|alink }}">{{ 'Logout'|trans }}</a>
                            </div>
                        </div>
                        {% set languages = guest.extension_languages %}
                        {% if languages|length > 1 %}
                        <span>
                            <select name="lang" class="language_selector"
                                style="background-color: #262b2f; color:white;">
                                {% for lang in languages %}
                                <option value="{{ lang }}" class="lang_{{ lang }}">{{ lang|trans }}</option>
                                {% endfor %}
                            </select>
                        </span>
                        {% endif %}
                    </div>
                </div>

                <div class="container-xl">
                    <div class="ms-auto mt-4 mb-3 d-flex gap-3">
                        {% if admin.system_is_allowed({ 'mod': 'client' }) %}
                            <a href="{{ 'client'|alink }}" class="btn position-relative">
                                <svg class="icon">
                                    <use xlink:href="#contacts" />
                                </svg>
                                {{ 'Clients'|trans }}
                            </a>
                        {% endif %}

                        {% if admin.system_is_allowed({ 'mod': 'notification' }) and guest.extension_is_on({ 'mod': 'notification' }) %}
                            {% set count_notifications = admin.notification_get_list({ 'per_page': 1 }).total %}
                            <a href="{{ 'notification'|alink }}" class="btn position-relative">
                                <span>{{ 'Notifications'|trans }}</span>
                                {% if count_notifications %}
                                    <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">{{ count_notifications }}</span>
                                {% endif %}
                            </a>
                        {% endif %}

                        {% if admin.system_is_allowed({ 'mod': 'order' }) %}
                            {% set count_orders = admin.order_get_statuses.failed_setup %}
                            <a href="{{ 'order'|alink({ 'status': 'failed_setup' }) }}" class="btn position-relative">
                                <svg class="icon">
                                    <use xlink:href="#orders" />
                                </svg>
                                {{ 'Orders'|trans }}
                                {% if count_orders %}
                                    <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">{{ count_orders }}</span>
                                {% endif %}
                            </a>
                        {% endif %}

                        {% if admin.system_is_allowed({ 'mod': 'invoice' }) %}
                            {% set count_invoices = admin.invoice_get_statuses.unpaid %}
                            <a href="{{ 'invoice'|alink({ 'status': 'unpaid' }) }}" class="btn position-relative">
                                <svg class="icon">
                                    <use xlink:href="#invoices" />
                                </svg>
                                {{ 'Invoices'|trans }}
                                {% if count_invoices %}
                                    <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">{{ count_invoices }}</span>
                                {% endif %}
                            </a>
                        {% endif %}

                        {% if admin.system_is_allowed({ 'mod': 'support' }) %}
                            {% set count_tickets = admin.support_ticket_get_statuses.open %}
                            {% set count_ptickets = admin.support_public_ticket_get_statuses.open %}
                            <a href="{{ 'support'|alink({ 'status': 'open' }) }}" class="btn position-relative">
                                <svg class="icon">
                                    <use xlink:href="#support" />
                                </svg>
                                {{ 'Tickets'|trans }}
                                {% if count_tickets %}
                                    <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">{{ count_tickets }}</span>
                                {% endif %}
                            </a>
                            <a href="{{ 'support/public-tickets'|alink({ 'status': 'open' }) }}" class="btn position-relative">
                                <svg class="icon">
                                    <use xlink:href="#chat" />
                                </svg>
                                {{ 'Inquiries'|trans }}
                                {% if count_ptickets %}
                                    <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">{{ count_ptickets }}</span>
                                {% endif %}
                            </a>
                        {% endif %}
                    </div>
                </div>
            </header>

            <main class="page-body">
                <div class="container-xl">
                    <nav class="mb-3" aria-label="breadcrumb">
                        {% block breadcrumbs %}
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="{{ '/'|alink }}">
                                    <svg class="icon">
                                        <use xlink:href="#home" />
                                    </svg>
                                </a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">{{ block('meta_title') }}</li>
                        </ol>
                        {% endblock %}
                    </nav>
                    {% block top_content %}{% endblock %}
                    {% block content %}{% endblock %}
                </div>
            </main>

            <footer class="footer footer-transparent d-print-none">
                <div class="container-xl">
                    <div>Copyright &copy; {{ now|date('Y') }}. All rights reserved. Powered by <a href="https://boxbilling.org" title="Billing system" target="_blank" rel="noopener">FOSSBilling {{ guest.system_version }}</a></div>
                </div>
            </footer>
        </div>
    </div>
    {% endif %}

    <div class="loading dim"></div>

    <div class="d-none">
        {% include '../build/symbol/icons-sprite.svg' %}
    </div>

    <script>
        // Switch light/dark theme
        document.addEventListener('DOMContentLoaded', () => {
            if (localStorage.getItem('theme') === 'dark') {
                document.body.classList.add('theme-dark');
            }
        });

        document.querySelectorAll('.js-theme-toggler').forEach(element => {
            element.addEventListener('click', event => {
                event.preventDefault();

                document.body.classList.toggle('theme-dark');

                localStorage.setItem('theme', element.getAttribute('href').split('=')[1]);
            });
        });
    </script>

    {% block js %}{% endblock %}

    <noscript id="noscript">
        <div class="msg error">NOTE: Many features on FOSSBilling require Javascript and cookies. You can enable both via your browser's preference settings.</div>
    </noscript>
    {% endif %}
</body>
</html>
