{% extends request.ajax ? 'layout_blank.html.twig' : 'layout_default.html.twig' %}

{% import 'macro_functions.html.twig' as mf %}

{% block meta_title %}{{ 'Settings'|trans }}{% endblock %}

{% set active_menu = 'system' %}
{% set params = admin.system_get_params %}

{% block content %}
    <ul class="tabs">
        <li>
            <a href="#tab-index">{{ 'Settings'|trans }}</a>
        </li>
    </ul>

    <div class="card">
        <div class="tabs_container">
            <div id="tab-index" class="tab_content nopadding">
                {% include '_search.html.twig' %}
                <table class="table card-table table-vcenter table-striped text-nowrap">
                    <tbody>
                        {% for ext in admin.extension_get_list({ 'active': 1, 'has_settings': 1 }|merge(request)) %}
                        <tr>
                            <td class="w-5">
                                <a href="{{ 'extension/settings'|alink }}/{{ ext.id }}">
                                    <img src="{{ ext.icon_url }}" alt="{{ ext.name }}" style="width: 32px; height: 32px;">
                                </a>
                            </td>
                            <td>
                                <a href="{{ 'extension/settings'|alink }}/{{ ext.id }}">{{ ext.name }}</a>
                            </td>
                            <td class="w-1">
                                <a class="btn btn-icon" href="{{ 'extension/settings'|alink }}/{{ ext.id }}">
                                    <svg class="icon">
                                        <use xlink:href="#play" />
                                    </svg>
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
