{% extends request.ajax ? 'layout_blank.html.twig' : 'layout_default.html.twig' %}

{% set active_menu = 'activity' %}

{% block meta_title %}{{ email.subject }}{% endblock %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{{ '/'|alink }}">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <use xlink:href="#home" />
                </svg>
            </a>
        </li>
        <li class="breadcrumb-item">
            <a href="{{ 'email/history'|alink }}">{{ 'Email history'|trans }}</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">{{ email.subject }}</li>
    </ol>
{% endblock %}

{% block content %}
<div class="card">
    <div class="card-body">
        <h5>{{ email.subject }}</h5>
    </div>

    <table class="tableStatic wide">
        <tbody>
            <tr class="noborder">
                <td>{{ 'From'|trans }}</td>
                <td>{{ email.sender }}</td>
            </tr>

            <tr>
                <td>{{ 'To'|trans }}</td>
                <td>{{ email.recipients }}</td>
            </tr>

            <tr>
                <td>{{ 'Sent'|trans }}</td>
                <td>{{ email.created_at|date('l, d F Y') }}</td>
            </tr>
         </tbody>
    </table>

    <div class="card-footer d-flex justify-content-center gap-3">
        <a class="card card-link px-3 py-2 text-center bg-white bg-gradient api-link" href="{{'api/admin/email/email_resend'|link({ 'id': email.id }) }}" data-api-msg="{{ 'Email resent'|trans }}">
            <div>
                <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <use xlink:href="#refresh" />
                </svg>
            </div>
            <div class="card-title mt-2 mb-0">{{ 'Resend'|trans }}</div>
        </a>
        <a class="card card-link px-3 py-2 text-center bg-white bg-gradient api-link" href="{{'api/admin/email/email_delete'|link({ 'id': email.id }) }}" data-api-confirm="{{ 'Are you sure?'|trans }}" data-api-redirect="{{ 'email/history'|alink }}">
            <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <use xlink:href="#delete" />
            </svg>
            <div class="card-title mt-2 mb-0">{{ 'Delete'|trans }}</div>
        </a>
    </div>

    <div class="card-body">
        {{ email.content_html|raw }}
    </div>
</div>
{% endblock %}
