{% extends 'layout_default.html.twig' %}

{% block meta_title %}Client area languages{% endblock %}

{% set active_menu = 'extensions' %}

{% block content %}
    <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item" role="presentation">
            <a class="nav-link active" href="#tab-index" data-bs-toggle="tab">{{ 'Client area languages'|trans }}</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" href="#tab-new" data-bs-toggle="tab">
                <svg class="icon me-2">
                    <use xlink:href="#plus" />
                </svg>
                {{ 'New language'|trans }}
            </a>
        </li>
    </ul>

<div class="card">
    <div class="tab-content">
        <div class="tab-pane fade show active" id="tab-index" role="tabpanel">
            <table class="table card-table table-vcenter table-striped text-nowrap">
                <thead>
                    <tr>
                        <th>{{ 'Language'|trans }}</th>
                        <th>{{ 'Code'|trans }}</th>
                    </tr>
                </thead>
                <tbody>
                {% for lang in admin.extension_languages %}
                <tr>
                    <td>{{ lang.title }}</td>
                    <td class="w-1">{{ lang.locale }}</td>
                </tr>
                </tbody>
                {% else %}
                <tbody>
                    <tr>
                        <td class="text-muted" colspan="2">{{ 'The list is empty'|trans }}
                        </td>
                    </tr>
                </tbody>
                {% endfor %}
            </table>
        </div>

        <div class="tab-pane fade" id="tab-new" role="tabpanel">
            {% include "partial_extensions.html.twig" with { 'type': 'translation', 'header': 'List of translations on extensions site'|trans } only %}
            <div class="card-body">
                <h3>{{ 'FOSSBilling in your language'|trans }}</h3>
                <p class="text-muted">{{ 'Although FOSSBilling displays in U.S. English by default, the software has the built-in capability to be used in any language. Follow instructions bellow to install new language.'|trans }}</p>

                <div>
                    <ul>
                        <li>{{ 'Check if your language translation file is available at'|trans }} <a href="https://www.transifex.com/projects/p/boxbilling/" target="_blank">{{ 'FOSSBilling translations repository'|trans }}</a></li>
                        <li>{{ 'Download language files and place them to'|trans }} <strong>{{ constant('BB_PATH_LANGS') }}</strong></li>
                        <li>{{ 'Language will be automatically available and can be changed in client area'|trans }}</li>
                        <li>{{ 'Read'|trans }} <a href="http://docs.fossbilling.org/en/latest/reference/language.html" title="Installing FOSSBilling in Your Language" target="_blank">{{ 'Installing FOSSBilling in Your Language'|trans }}</a> {{ 'to learn how to install files that will transform FOSSBilling so it displays in your language.'|trans }}</li>
                        <li>{{ 'Translations can be made with'|trans }} <a href="http://www.poedit.net/" target="_blank">http://www.poedit.net/</a> {{ 'software'|trans }}</li>
                    </ul>
                </div>

                <h5>{{ 'Changing default language'|trans }}</h5>
                <p>{{ 'Default language can be set in'|trans }} <em>bb-config.php</em> parameter <strong>define('BB_LOCALE', 'en_US');</strong></p>

                <h5>{{ 'Removing language'|trans }}</h5>
                <p>{{ 'Removing languages from FOSSBilling is really simple. Just delete language folder you wish from'|trans }} <strong>{{ constant('BB_PATH_LANGS') }}</strong></p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
