{% extends 'layout_default.html.twig' %}

{% import 'macro_functions.html.twig' as mf %}

{% block meta_title %}{{ 'Product promotions'|trans }}{% endblock %}

{% set active_menu = 'products' %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{{ '/'|alink }}">
                <svg class="icon">
                    <use xlink:href="#home" />
                </svg>
            </a>
        </li>
        <li class="breadcrumb-item">
            <a href="{{ 'product'|alink }}">{{ 'Products'|trans }}</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">{{ 'Product promotions'|trans }}</li>
    </ol>
{% endblock %}

{% block content %}
    <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item" role="presentation">
            <a class="nav-link active" href="#tab-promos" data-bs-toggle="tab">{{ 'Promo'|trans }}</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" href="#tab-new" data-bs-toggle="tab">
                <svg class="icon me-2">
                    <use xlink:href="#plus" />
                </svg>
                {{ 'New promo'|trans }}
            </a>
        </li>
    </ul>

    <div class="card">
        <div class="tab-content">
            <div class="tab-pane fade show active" id="tab-promos" role="tabpanel">
                {% include '_search.html.twig' %}
                <table class="table card-table table-vcenter table-striped text-nowrap">
                    <thead>
                        <tr>
                            <th>{{ 'Code'|trans }}</th>
                            <th>{{ 'Discount'|trans }}</th>
                            <th>{{ 'Applies to'|trans }}</th>
                            <th>{{ 'Client groups'|trans }}</th>
                            <th>{{ 'Valid period'|trans }}</th>
                            <th>{{ 'Enabled'|trans }}</th>
                            <th>{{ 'Usage'|trans }}</th>
                            <th class="w-1"></th>
                        </tr>
                    </thead>
                    <tbody>
                    {% set promos = admin.product_promo_get_list({ 'per_page': 30, 'page': request.page }|merge(request)) %}
                    {% for promo in promos.list %}
                    <tr>
                        <td>
                            <a href="{{ '/product/promo'|alink }}/{{ promo.id }}">{{ promo.code }}</a>
                        </td>
                        <td>{% if promo.type == 'percentage' %}{{ promo.value }}%{% endif %}{% if promo.type == 'absolute' %}{{ mf.currency_format(promo.value) }}{% endif %}</td>
                        <td>{% for pid,product in promo.applies_to %}
                            <a href="{{ 'product/manage'|alink }}/{{ pid }}">{{ product|truncate(15) }}</a><br/>
                            {% else %}
                            All products
                            {% endfor %}
                        </td>
                        <td>{% for cid,client_group in promo.cgroups %}
                            <a href="{{ 'client/group'|alink }}/{{ cid }}">{{ client_group|truncate(15) }}</a><br/>
                            {% else %}
                            All client groups
                            {% endfor %}
                        </td>
                        <td>
                            From {% if promo.start_at %}{{ promo.start_at|date('Y-m-d') }}{% else %}now{% endif %}
                            untill {% if promo.end_at %}{{ promo.end_at|date('Y-m-d') }}{% else %}disabled{% endif %}
                        </td>
                        <td>
                            {% if promo.active == true %}
                                <span class="badge bg-success me-1"></span>
                            {% endif %}
                            {% if promo.active == false %}
                                <span class="badge bg-secondary me-1"></span>
                            {% endif %}
                            {{ mf.q(promo.active) }}
                        </td>
                        <td>{{ promo.used }} / {% if promo.maxuses %}{{ promo.maxuses }}{% else %}&#8734;{% endif %}</td>
                        <td>
                            <a class="btn btn-icon" href="{{ '/product/promo'|alink }}/{{ promo.id }}">
                                <svg class="icon">
                                    <use xlink:href="#edit" />
                                </svg>
                            </a>
                            <a class="btn btn-icon api-link" data-api-confirm="{{ 'Are you sure?'|trans }}" href="{{ 'api/admin/product/promo_delete'|link({ 'id': promo.id }) }}" data-api-redirect="{{ 'product/promos'|alink }}">
                                <svg class="icon">
                                    <use xlink:href="#delete" />
                                </svg>
                            </a>
                        </td>
                    </tr>
                    {% else %}
                        <tr>
                            <td class="text-muted" colspan="7">{{ 'The list is empty'|trans }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

                {% include '_pagination.html.twig' with { 'list': promos, 'url': 'product/promos' } %}
            </div>

            <div class="tab-pane fade" id="tab-new" role="tabpanel">
                <div class="card-body">
                    <h3>{{ 'Create new coupon code'|trans }}</h3>
                    <p class="text-muted">{{ 'Create special offers for your clients by creating coupon codes.'|trans }}</p>
                    <form method="post" action="{{ 'api/admin/product/promo_create'|link }}" class="api-form" data-api-redirect="{{ 'product/promos'|alink }}">
                        <div class="mb-3 row">
                            <label class="form-label col-3 col-form-label">{{ 'Code'|trans }}</label>
                            <div class="col">
                                <input class="form-control" type="text" name="code" value="" required>
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label class="form-label col-3 col-form-label">{{ 'Discount type'|trans }}</label>
                            <div class="col">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" id="radioTypeAbsolute" type="radio" name="type" value="absolute" checked>
                                    <label class="form-check-label" for="radioTypeAbsolute">{{ 'Absolute'|trans }}</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" id="radioTypePercentage" type="radio" name="type" value="percentage">
                                    <label class="form-check-label" for="radioTypePercentage">{{ 'Percentage'|trans }}</label>
                                </div>
                                <input class="form-control" type="text" name="value" required>
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label class="form-label col-3 col-form-label">{{ 'Recurring'|trans }}</label>
                            <div class="col">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" id="radioApplyAll" type="radio" name="recurring" value="1" checked>
                                    <label class="form-check-label" for="radioApplyAll">{{ 'Applies to first order and renewals'|trans }}</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" id="radioApplyFirst" type="radio" name="recurring" value="0">
                                    <label class="form-check-label" for="radioApplyFirst">{{ 'Applies to first order only'|trans }}</label>
                                </div>
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label class="form-label col-3 col-form-label">{{ 'Active'|trans }}</label>
                            <div class="col">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" id="radioActiveYes" type="radio" name="active" value="1" checked>
                                    <label class="form-check-label" for="radioActiveYes">{{ 'Yes'|trans }}</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" id="radioActiveNo" type="radio" name="active" value="0">
                                    <label class="form-check-label" for="radioActiveNo">{{ 'No'|trans }}</label>
                                </div>
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label class="form-label col-3 col-form-label">{{ 'Free setup'|trans }}</label>
                            <div class="col">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" id="radioFreeSetupYes" type="radio" name="freesetup" value="1">
                                    <label class="form-check-label" for="radioFreeSetupYes">{{ 'Yes'|trans }}</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" id="radioFreeSetupNo" type="radio" name="freesetup" value="0" checked>
                                    <label class="form-check-label" for="radioFreeSetupNo">{{ 'No'|trans }}</label>
                                </div>
                            </div>
                        </div>

                        <h3>{{ 'Promo code limitations'|trans }}</h3>
                        <div class="mb-3 row">
                            <label class="form-label col-3 col-form-label">{{ 'Once per client'|trans }}</label>
                            <div class="col">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" id="radioOncePerClientYes" type="radio" name="once_per_client" value="1" checked>
                                    <label class="form-check-label" for="radioOncePerClientYes">{{ 'Yes'|trans }}</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" id="radioOncePerClientNo" type="radio" name="once_per_client" value="0">
                                    <label class="form-check-label" for="radioOncePerClientNo">{{ 'No'|trans }}</label>
                                </div>
                            </div>
                        </div>

                        <div class="mb-3 row">
                            <label class="form-label col-3 col-form-label">{{ 'Max uses (zero for unlimited)'|trans }}</label>
                            <div class="col">
                                <input class="form-control" type="text" name="maxuses" value="" class="dirRight" title="{{ 'Leave blank for unlimited uses'|trans }}" placeholder="0">
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label class="form-label col-3 col-form-label">{{ 'Valid time (Leave blank for undefined time)'|trans }}</label>
                            <div class="col">
                                <div class="input-group">
                                    {# <input class="form-control" type="date" name="start_at" value="" placeholder="{{ now|date('Y-m-d') }}" class="datepicker"> #}
                                    <input class="form-control" type="date" name="start_at">
                                    <span class="input-group-text">-</span>
                                    {# <input class="form-control" type="date" name="end_at" value="" placeholder="{{ now|date('Y-m-d') }}"> #}
                                    <input class="form-control" type="date" name="end_at">
                                </div>
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label class="form-label col-3 col-form-label">{{ 'Products (Select none to apply to all products)'|trans }}</label>
                            <div class="col">
                                {% set products = admin.product_get_pairs %}
                                <select class="form-select" name="products[]" multiple="multiple" size="{{ products|length }}">
                                    {% for id,product in products %}
                                    <option value="{{ id }}">{{ product }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label class="form-label col-3 col-form-label">{{ 'Periods (Select none to apply to all periods)'|trans }}</label>
                            <div class="col">
                                {% set periods = guest.system_periods %}
                                <select class="form-select" name="periods[]" multiple="multiple" size="{{ periods|length }}">
                                    {% for id, period in periods %}
                                    <option value="{{ id }}">{{ period }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label class="form-label col-3 col-form-label">{{ 'Client Groups (Select none to apply to all client groups)'|trans }}</label>
                            <div class="col">
                                {% set client_groups = admin.client_group_get_pairs %}
                                <select class="form-select" name="client_groups[]" multiple="multiple" size="{{ groups|length }}">
                                    {% for id, client_group in client_groups %}
                                    <option value="{{ id }}">{{ client_group }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        {# <div class="mb-3 row">
                            <label class="form-label col-3 col-form-label">{{ 'Addons (Select none to apply to all addons)'|trans }}</label>
                            <div class="col">
                                {% set products = admin.product_addon_get_pairs %}
                                <select name="products[]" multiple="multiple" class="multiple" size="{{ products|length }}">
                                    {% for id,product in products %}
                                    <option value="{{ id }}">{{ product }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="fix"></div>
                        </div> #}
                        <input type="submit" value="{{ 'Create'|trans }}" class="btn btn-primary w-100">
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
