{% extends "layout_default.html.twig" %}

{% block meta_title %}{{ 'Staff Group management'|trans }}{% endblock %}
{% set active_menu = 'system' %}

{% block breadcrumbs %}
<ul>
    <li class="firstB"><a href="{{ '/'|alink }}">{{ 'Home'|trans }}</a></li>
    <li><a href="{{ 'system'|alink }}">{{ 'Settings'|trans }}</a></li>
    <li><a href="{{ 'extension/settings/staff'|alink }}">{{ 'Staff'|trans }}</a></li>
    <li><a href="{{ 'extension/settings/staff'|alink }}#tab-groups">{{ 'Groups'|trans }}</a></li>
    <li class="lastB">{{ group.name }}</li>
</ul>
{% endblock %}

{% block content %}
<div class="widget">
    <div class="head">
        <h5>{{ 'Manage staff member details'|trans }}</h5>
    </div>

    <form method="post" action="{{ 'api/admin/staff/group_update'|link }}" class="mainForm api-form" data-api-msg="{{ 'Staff group updated'|trans }}">
        <fieldset>
            <div class="rowElem noborder">
                <label for="name">{{ 'Name'|trans }}</label>
                <div class="formRight">
                    <input type="text" name="name" value="{{group.name}}" required="required"/>
                </div>
                <div class="fix"></div>
            </div>
            <input type="hidden" name="id" value="{{ group.id }}">
            <input type="submit" value="{{ 'Update'|trans }}" class="greyishBtn submitForm" />
        </fieldset>
    </form>
</div>
{% endblock %}
