<div class="modal modal-blur fade" id="mod-support-new-helpdesk" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <form method="post" action="{{ 'api/admin/support/helpdesk_create'|link }}" class="api-form" data-api-redirect="{{ 'extension/settings/support'|alink }}">
                <input type="hidden" name="CSRFToken" value="{{ CSRFToken }}"/>
                <div class="modal-header">
                    <h5 class="modal-title">{{ 'Create New Helpdesk'|trans }}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="form-group mb-3 row">
                        <label class="form-label col-3 col-form-label">{{ 'Title'|trans }}</label>
                        <div class="col">
                            <input class="form-control" type="text" name="name" value="{{ helpdesk.name }}" required>
                        </div>
                    </div>
                    <div class="form-group mb-3 row">
                        <label class="form-label col-3 col-form-label">{{ 'Email'|trans }}</label>
                        <div class="col">
                            <input class="form-control" type="email" name="email" value="{{ helpdesk.email }}" required>
                        </div>
                    </div>
                    <div class="form-group mb-3 row">
                        <label class="form-label col-3 col-form-label">{{ 'Signature'|trans }}</label>
                        <div class="col">
                            <textarea class="form-control" name="signature" rows="2">{{ helpdesk.signature }}</textarea>
                        </div>
                    </div>
                    <div class="form-group mb-3 row">
                        <label class="form-label col-3 col-form-label">{{ 'Close tickets after (in hours)'|trans }}</label>
                        <div class="col">
                            <input class="form-control" type="text" size="3" name="close_after" value="{{ helpdesk.close_after|default('48') }}" required>
                            <small class="form-hint">{{ 'Define a very large number of hours to disable auto close ticket option.'|trans }}</small>
                        </div>
                    </div>
                    <div class="form-group mb-3 row">
                        <label class="form-label col-3 col-form-label">{{ 'Tickets can be reopened?'|trans }}</label>
                        <div class="col">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" id="radioCanReopenYes" type="radio" name="can_reopen" value="1" checked>
                                <label class="form-check-label" for="radioCanReopenYes">{{ 'Yes'|trans }}</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" id="radioCanReopenNo" type="radio" name="can_reopen" value="0">
                                <label class="form-check-label" for="radioCanReopenNo">{{ 'No'|trans }}</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="hidden" name="id" value="{{ helpdesk.id }}">
                    <button class="btn btn-primary w-100" type="submit">{{ 'Create'|trans }}</button>
                </div>
            </form>
        </div>
    </div>
</div>
