{% extends 'layout_default.html.twig' %}

{% block meta_title %}{{ 'Manage Translations'|trans }}{% endblock %}

{% set active_menu = 'extensions' %}

{% block content %}
    <div class="card">
        <div class="card-header">
            <div>
                <h3 class="card-title">{{ 'Translations'|trans }}</h3>
                <p class="card-subtitle">{{ 'Manage installed translations and discover new language packs.'|trans }}</p>
            </div>
        </div>
        <div class="card-body pt-3 pb-0 px-0">
            <div class="card border-0 shadow-none rounded-0">
                <div class="card-header bg-transparent px-3 pt-0 pb-3 border-0">
                    <ul class="nav nav-pills card-header-pills">
                        <li class="nav-item">
                            <a class="nav-link active" href="#tab-enabled-translations" role="tab" data-bs-toggle="tab">{{ 'Enabled Translations'|trans }}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#tab-disabled-translations" role="tab" data-bs-toggle="tab">{{ 'Disabled Translations'|trans }}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#tab-new-translations" role="tab" data-bs-toggle="tab">
                                <svg class="icon me-2">
                                    <use xlink:href="#plus" />
                                </svg>
                                {{ 'New Translations'|trans }}
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="tab-content border-top">
                    <div class="tab-pane fade show active" id="tab-enabled-translations" role="tabpanel">
                        <div class="table-responsive">
                            <table class="table card-table table-vcenter table-striped text-nowrap">
                                <thead>
                                <tr>
                                    <th>{{ 'Country'|trans }}</th>
                                    <th>{{ 'Language'|trans }}</th>
                                    <th>{{ 'Completion'|trans }}</th>
                                    <th>{{ 'Code'|trans }}</th>
                                    <th class="w-1">{{ 'Disable'|trans }}</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for lang in admin.extension_languages %}
                                <tr>
                                    <td class="w-1">
                                        <span class="flag flag-country-{{ lang.locale|split('_')[1]|lower }}"></span>
                                    </td>
                                    <td>{{ lang.locale|locale_name }}</td>
                                    <td>
                                        {% set progress = admin.extension_locale_completion({'locale_id': lang.locale}) %}
                                        {% if progress > 75 %}
                                            {% set background = 'success' %}
                                        {% elseif progress > 50 %}
                                            {% set background = 'warning' %}
                                        {% else %}
                                            {% set background = 'danger' %}
                                        {% endif %}
                                        <div class="progress" style="height: 15px;">
                                            <div class="progress-bar bg-{{ background }}" role="progressbar" style="width: {{ progress }}%" aria-valuenow="{{ progress }}" aria-valuemin="0" aria-valuemax="100">{{ progress }}%</div>
                                        </div>
                                    </td>
                                    <td class="w-1">{{ lang.locale }}</td>
                                    <td class="w-1">
                                        <a class="btn btn-icon" href="{{ 'extension/toggle_language'|api_url(query: { 'locale_id': lang.locale }) }}" {{ fb_api_link({reload: true}) }}>
                                            <svg class="icon">
                                                <use xlink:href="#close" />
                                            </svg>
                                        </a>
                                    </td>
                                </tr>
                                {% else %}
                                <tr>
                                    <td class="text-muted" colspan="5">{{ 'The list is empty'|trans }}</td>
                                </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="tab-pane fade" id="tab-disabled-translations" role="tabpanel">
                        <div class="table-responsive">
                            <table class="table card-table table-vcenter table-striped text-nowrap">
                                <thead>
                                <tr>
                                    <th>{{ 'Country'|trans }}</th>
                                    <th>{{ 'Language'|trans }}</th>
                                    <th>{{ 'Completion'|trans }}</th>
                                    <th>{{ 'Code'|trans }}</th>
                                    <th class="w-1">{{ 'Enable'|trans }}</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for lang in admin.extension_languages({'disabled': true}) %}
                                <tr>
                                    <td class="w-1">
                                        <span class="flag flag-country-{{ lang.locale|split('_')[1]|lower }}"></span>
                                    </td>
                                    <td>{{ lang.locale|locale_name }}</td>
                                    <td>
                                        {% set progress = admin.extension_locale_completion({'locale_id': lang.locale}) %}
                                        {% if progress > 75 %}
                                            {% set background = 'success' %}
                                        {% elseif progress > 50 %}
                                            {% set background = 'warning' %}
                                        {% else %}
                                            {% set background = 'danger' %}
                                        {% endif %}
                                        <div class="progress" style="height: 15px;">
                                            <div class="progress-bar bg-{{ background }}" role="progressbar" style="width: {{ progress }}%" aria-valuenow="{{ progress }}" aria-valuemin="0" aria-valuemax="100">{{ progress }}%</div>
                                        </div>
                                    </td>
                                    <td class="w-1">{{ lang.locale }}</td>
                                    <td class="w-1">
                                        <a class="btn btn-icon" href="{{ 'extension/toggle_language'|api_url(query: { 'locale_id': lang.locale }) }}" {{ fb_api_link({reload: true}) }}>
                                            <svg class="icon">
                                                <use xlink:href="#check" />
                                            </svg>
                                        </a>
                                    </td>
                                </tr>
                                {% else %}
                                <tr>
                                    <td class="text-muted" colspan="5">{{ 'The list is empty'|trans }}</td>
                                </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="tab-pane fade" id="tab-new-translations" role="tabpanel">
                        {{ include('partial_extensions.html.twig', { 'type': 'translation' }, with_context = false) }}
                        <div class="p-3 border-top">
                            <h3 class="card-title">{{ 'FOSSBilling in Your Language'|trans }}</h3>
                            <p class="card-subtitle">{{ 'Although FOSSBilling displays in U.S. English by default, it has the capability to be used in any language. Follow the instructions below to install a new language.'|trans }}</p>
                            <ul class="mb-4">
                                <li>{{ 'Check the FOSSBilling locale repository to see if the language you are looking for is available.'|trans }} <a target="_blank" href="https://github.com/FOSSBilling/locale">({{ 'Locale repository'|trans }})</a></li>
                                <li>{{ "Follow the instructions on the FOSSBilling documentation to install the new language's translation files."|trans }} <a target="_blank" href="https://fossbilling.org/docs/customizing-fossbilling/localization#installing-a-new-language">(Installing a new language)</a></li>
                            </ul>

                            <h5>{{ 'Changing the default language'|trans }}</h5>
                            <p class="mb-0">{{ 'Instructions for changing the default language can be found on the FOSSBilling documentation.'|trans }} <a target="_blank" href="https://fossbilling.org/docs/customizing-fossbilling/localization#changing-the-default-language">(Changing the default language)</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
