{% extends request.ajax ? "layout_blank.html.twig" : "layout_default.html.twig" %}

{% block meta_title %}{{ page.title }}{% endblock %}
{% block meta_description %}{{ page.description }}{% endblock %}
{% block meta_keywords %}{{ page.keywords }}{% endblock %}
{% block breadcrumb %} <li class="breadcrumb-item active" aria-current="page">{{ page.title }}</li>{% endblock %}

{% block body_class %}custom-page{% endblock %}

{% block content %}
<div class="row">
    <div class="card ml-3 w-100">
        <div class="card-header">
            <h1>{{ page.title }}</h1>
        </div>
        <div class="card-body">
            {{ page.content | markdown }}
        </div>
    </div>
</div>
{% endblock %}
