{% extends request.ajax ? "layout_blank.html.twig" : "layout_default.html.twig" %}

{% import "macro_functions.html.twig" as mf %}

{% block meta_title %}{{ 'Anti-spam settings'|trans }}{% endblock %}

{% set active_menu = 'system' %}

{% block breadcrumbs %}
    <ul class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{{ '/'|alink }}">
                <svg class="icon">
                    <use xlink:href="#home"/>
                </svg>
            </a>
        </li>
        <li class="breadcrumb-item">
            <a href="{{ 'system'|alink }}">{{ 'Settings'|trans }}</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">{{ 'Antispam settings'|trans }}</li>
    </ul>
{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">{{ 'Antispam settings'|trans }}</h3>
        </div>

        {% set params = admin.extension_config_get({ "ext": "mod_antispam" }) %}
        <form method="post" action="{{ 'api/admin/extension/config_save'|link }}" class="api-form"
              data-api-msg="{{ 'Configuration updated'|trans }}">
            <input type="hidden" name="ext" value="mod_antispam">

            <div class="card-body">
                <div class="row">
                    <label class="col-md-3 col-form-label" for="block_ips_check">{{ 'Enable IP blocking'|trans }}</label>
                    <div class="row col-md-6 pt-2 ps-0">
                        <label class="form-check form-check-single form-switch ps-0 mb-2">
                            <input id="block_ips_check" class="form-check-input" name="block_ips" type="checkbox"
                                   {% if params.block_ips %}checked="checked"{% endif %}>
                        </label>
                        <div class="col ps-0">
                            <small class="form-hint">{{ 'Blocked IPs are not allowed to login, register or open public ticket. (One IP per line)'|trans }}</small>
                            <textarea id="block_ips" class="form-control" name="blocked_ips" rows="5" placeholder="127.0.0.1">{{ params.blocked_ips }}</textarea>
                            <label class="hidden" for="block_ips">Blocked IP list</label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card-body">
                <input type="hidden" name="ext" value="mod_antispam">
                <div class="row">
                    <label class="col-md-3 col-form-label" for="block_ips_check">{{ 'Enable IP blocking'|trans }}</label>
                    <div class="row col-md-6 pt-2 ps-0">
                        <label class="form-check form-check-single form-switch ps-0 mb-2">
                            <input id="block_ips_check" class="form-check-input" name="block_ips" type="checkbox"
                                   {% if params.block_ips %}checked="checked"{% endif %}">
                        </label>
                        <div class="col ps-0">
                            <small class="form-hint">{{ 'Blocked IPs are not allowed to login, register or open public ticket. (One IP per line)'|trans }}</small>
                            <textarea id="block_ips" class="form-control" name="blocked_ips" rows="5" placeholder="127.0.0.1">{{ params.blocked_ips }}</textarea>
                            <label class="hidden" for="block_ips">Blocked IP list</label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card-body">
                <h3 class="card-title">{{ 'CAPTCHA settings'|trans }}</h3>
                <p class="card-subtitle">
                    {{ 'Enable captcha for client registration and contact forms'|trans }}<br>
                    {{ 'Get keys from %recaptcha%, %turnstile% or %hcaptcha%.'|trans({ '%recaptcha%': '<a href="https://www.google.com/recaptcha/about/" target="_blank">Google reCAPTCHA</a>', '%turnstile%': '<a href="https://www.cloudflare.com/products/turnstile/" target="_blank">Cloudflare Turnstile</a>', '%hcaptcha%': '<a href="https://www.hcaptcha.com" target="_blank">hCaptcha</a>' })|raw }}
                </p>
                <div class="mb-3 row">
                    <label class="col-md-3 col-form-label" for="captcha_enabled">{{ 'Enable CAPTCHA'|trans }}</label>
                    <div class="col-md-6 pt-2 ps-0">
                        <label class="form-check form-check-single form-switch ps-0">
                            <input id="captcha_enabled" class="form-check-input" name="captcha_enabled" type="checkbox"
                                   {% if params.captcha_enabled %}checked="checked"{% endif %}">
                        </label>
                    </div>
                </div>

                <div class="mb-3 row">
                    <label class="col-md-3 col-form-label" for="provider-select">{{ 'CAPTCHA Provider'|trans }}</label>
                    <div class="col-md-6 row">
                         <select name="captcha_provider" class="form-select" id="provider-select">
                            <option value="recaptcha_v2" {% if not params.captcha_provider or params.captcha_provider == 'recaptcha_v2' %}selected{% endif %}>{{ 'Google reCAPTCHA v2'|trans }}</option>
                            <option value="turnstile" {% if params.captcha_provider == 'turnstile' %}selected{% endif %}>{{ 'Cloudflare Turnstile'|trans }}</option>
                            <option value="hcaptcha" {% if params.captcha_provider == 'hcaptcha' %}selected{% endif %}>{{ 'hCaptcha'|trans }}</option>
                        </select>
                    </div>
                </div>

                <div id="recaptcha_v2_settings">
                    <div class="mb-3 row">
                        <label class="col-md-3 col-form-label" for="captcha_recaptcha_publickey">{{ 'reCAPTCHA Public key'|trans }}</label>
                        <div class="col-md-6 row">
                            <input class="form-control" type="text" id="captcha_recaptcha_publickey" name="captcha_recaptcha_publickey"
                                   value="{{ params.captcha_recaptcha_publickey }}">
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label class="col-md-3 col-form-label" for="captcha_recaptcha_privatekey">{{ 'reCAPTCHA Secret key'|trans }}</label>
                        <div class="col-md-6 pt-2 row">
                            <input class="form-control" type="text" id="captcha_recaptcha_privatekey" name="captcha_recaptcha_privatekey"
                                   value="{{ params.captcha_recaptcha_privatekey }}">
                        </div>
                    </div>
                </div>

                <div id="turnstile_settings">
                    <div class="mb-3 row">
                        <label class="col-md-3 col-form-label" for="turnstile_site_key">{{ 'Turnstile Site Key'|trans }}</label>
                        <div class="col-md-6 row">
                            <input class="form-control" type="text" id="turnstile_site_key" name="turnstile_site_key" value="{{ params.turnstile_site_key }}">
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label class="col-md-3 col-form-label" for="turnstile_secret_key">{{ 'Turnstile Secret Key'|trans }}</label>
                        <div class="col-md-6 row">
                            <input class="form-control" type="text" id="turnstile_secret_key" name="turnstile_secret_key" value="{{ params.turnstile_secret_key }}">
                        </div>
                    </div>
                </div>

                <div id="hcaptcha_settings">
                    <div class="mb-3 row">
                        <label class="col-md-3 col-form-label" for="hcaptcha_site_key">{{ 'hCaptcha Site Key'|trans }}</label>
                        <div class="col-md-6 row">
                            <input class="form-control" type="text" id="hcaptcha_site_key" name="hcaptcha_site_key" value="{{ params.hcaptcha_site_key }}">
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label class="col-md-3 col-form-label" for="hcaptcha_secret_key">{{ 'hCaptcha Secret Key'|trans }}</label>
                        <div class="col-md-6 row">
                            <input class="form-control" type="text" id="hcaptcha_secret_key" name="hcaptcha_secret_key" value="{{ params.hcaptcha_secret_key }}">
                        </div>
                    </div>
                </div>
            </div>

            <div class="card-body">
                <h3 class="card-title">{{ 'Stop Forum Spam settings'|trans }}</h3>
                <p class="card-subtitle">{{ 'If enabled, client IP will be checked on the <a href="https://stopforumspam.com/" target="_blank">Stop Forum Spam</a> database before registration'|trans|raw }}</p>
                <div class="mb-3 row">
                    <label class="col-md-3 col-form-label" for="sfs">{{ 'Enable Stop Forum Spam'|trans }}</label>
                    <div class="col-md-6 pt-2 ps-0">
                        <label class="form-check form-check-single form-switch ps-0">
                            <input id="sfs" class="form-check-input" name="sfs" type="checkbox"
                                   {% if params.sfs %}checked="checked"{% endif %}">
                        </label>
                    </div>
                </div>
            </div>

            <div class="card-body">
                <h3 class="card-title">{{ 'Temporary / disposable email protection'|trans }}</h3>
                <p class="card-subtitle">{{ 'If enabled, email addresses will be checked against a database of disposable email domains.'|trans }}</p>
                <p class="card-subtitle">{{ 'This database is updated daily and provided free of charge by the FakeFilter project under the BSD 3-Clause License.'|trans }}</p>
                <div class="mb-3 row">
                    <label class="col-md-3 col-form-label" for="check_temp_emails">{{ 'Check for temporary / disposable email addresses.'|trans }}</label>
                    <div class="col-md-6 pt-2 ps-0">
                        <label class="form-check form-check-single form-switch ps-0">
                            <input id="check_temp_emails" class="form-check-input" name="check_temp_emails" type="checkbox"
                                   {% if params.check_temp_emails|default(true) %} checked="checked" {% endif %}">
                        </label>
                    </div>
                </div>
            </div>

            <div class="card-body">
                <h3 class="card-title">{{ 'Hidden honeypot field'|trans }}</h3>
                <p class="card-subtitle">{{ 'Configure a hidden honeypot field on the sign-in page to catch basic bots'|trans }}</p>
                <div class="mb-3 row">
                    <label class="col-md-3 col-form-label" for="honeypot_field">{{ 'Honeypot field name'|trans }}</label>
                    <div class="col-md-6 row">
                        <input class="form-control" type="text" id="honeypot_field" name="honeypot_field"
                               value="{{ params.honeypot_field|default('bio') }}" placeholder="bio">
                    </div>
                </div>
            </div>

            <div class="card-footer text-end">
                <button type="submit" class="btn btn-primary">{{ 'Update'|trans }}</button>
            </div>
        </form>
    </div>
{% endblock %}

{% block js %}
<script>
    document.addEventListener("DOMContentLoaded", function() {
        function toggleProviderSettings() {
            var selectedProvider = document.getElementById("provider-select").value;

            if (selectedProvider === 'recaptcha_v2') {
                document.getElementById("recaptcha_v2_settings").style.display = "block";
                document.getElementById("turnstile_settings").style.display = "none";
                document.getElementById("hcaptcha_settings").style.display = "none";
            } else if (selectedProvider === 'turnstile') {
                document.getElementById("recaptcha_v2_settings").style.display = "none";
                document.getElementById("turnstile_settings").style.display = "block";
                document.getElementById("hcaptcha_settings").style.display = "none";
            } else if (selectedProvider === 'hcaptcha') {
                document.getElementById("recaptcha_v2_settings").style.display = "none";
                document.getElementById("turnstile_settings").style.display = "none";
                document.getElementById("hcaptcha_settings").style.display = "block";
            }
        }

        // Run on page load
        toggleProviderSettings();

        // Run when the dropdown changes
        document.getElementById("provider-select").addEventListener("change", () => {
            toggleProviderSettings();
        });
    });
</script>
{% endblock %}
