{% extends request.ajax ? 'layout_blank.html.twig' : 'layout_default.html.twig' %}

{% set active_menu = 'system' %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{{ '/'|alink }}">
                <svg class="icon">
                    <use xlink:href="#home" />
                </svg>
            </a>
        </li>
        <li class="breadcrumb-item">
            <a href="{{ 'system'|alink }}">{{ 'Settings'|trans }}</a>
        </li>
        <li class="breadcrumb-item">
            <a href="{{ 'extension/settings/theme'|alink }}">{{ 'Themes'|trans }}</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">{{ 'Settings for'|trans }} {{ theme_code }}</li>
    </ol>
{% endblock %}

{% block meta_title %}{{ 'Settings for'|trans }} {{ theme_code }}{% endblock %}

{% block content %}
    {% if error %}
        <div class="nNote nFailure hideit first">
            <p><strong>{{ 'IMPORTANT'|trans }}: </strong>{{ error }}</p>
        </div>
    {% endif %}

    {% if info %}
        <div class="nNote nInformation hideit first">
            <p><strong>{{ 'INFORMATION'|trans }}: </strong>{{ info }}</p>
        </div>
    {% endif %}

    {% if settings_html %}
        <div class="card">
            <div class="card-body" title="{{ 'Switch to a predefined set of theme settings from the dropdown. Adjust each section and apply the changes once you\'re done.'|trans }}">
                <div class="mb-3 row">
                    <label class="form-label col-3 col-form-label">{{ 'Your current preset'|trans }}:</label>
                    <div class="col">
                        <div class="input-group">
                            <select class="form-select" name="preset" onchange="bb.post('admin/theme/preset_select', { code: '{{ theme_code }}', preset: $(this).val() }, function(){ bb.reload(); })">
                                {% for preset in presets %}
                                    <option value="{{ preset }}"{% if preset == current_preset %} selected{% endif %}>{{ preset }}</option>
                                {% endfor %}
                            </select>
                            {% if presets|length > 1 and current_preset != 'Default' %}
                                <a href="{{ 'api/admin/theme/preset_delete'|link({ 'code': theme_code, 'preset': current_preset}) }}" class="btn btn-icon api-link" data-api-confirm="{{ 'Are you sure?'|trans }}" data-api-reload="1">
                                    <svg class="icon">
                                        <use xlink:href="#delete" />
                                    </svg>
                                </a>
                            {% endif %}
                        </div>
                    </div>
                </div>

                <div id="theme-settings">
                    <form method="post" action="" enctype="multipart/form-data">
                        {{ settings_html|raw }}
                        <div class="mt-3">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="save-current-setting" value="1" id="save-current-setting">
                                <label class="form-check-label" for="save-current-setting">{{ 'Save current settings as a new preset called'|trans }}</label>
                            </div>
                        <div class="mb-3">
                            <input class="form-control" type="text" name="save-current-setting-preset">
                        </div>
                        <div class="mb-3">
                                <button class="btn btn-primary w-100" type="submit">{{ 'Apply changes'|trans }}</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block head %}
    <script src='js/jquery.spectrum.js'></script>
    <link rel='stylesheet' href='css/spectrum.css' />
{% endblock %}

{% block js %}
<script>
$(function() {
    $('#theme-settings fieldset').each(function(index, value) {
        $('<h3 class="section-header collapsed"/>').text($(this).find('legend').text()).insertBefore($(this));
    });

    $('#theme-settings h3.section-header').toggle(function() {
        $(this).removeClass('collapsed').next().show();
    }, function() {
        $(this).addClass('collapsed').next().hide();
    });

    $('#theme-settings h3.section-header:first').click();

    //special class "page"
    $("#theme-settings select.page").each(function() {
        var sel = $(this);

        sel.append('<option value="">None</option>');

        $.each({{ admin.page_get_pairs | json_encode | raw }}, function(index, value) {
            sel.append('<option value="' + index + '">' + value + '</option>');
        });
    });

    // special class "snippet"
    $("#theme-settings select.snippet").each(function() {
        var sel = $(this);
        sel.append('<option value="">None</option>');
        $.each({{ snippets|json_encode|raw }}, function(index, value) {
            sel.append('<option value="' + index + '">' + value + '</option>');
        });
    });

    // special class "product"
    $("#theme-settings select.product").each(function() {
        var sel = $(this);

        sel.append('<option value="">None</option>');
        $.each({{ admin.product_get_pairs|json_encode|raw }}, function(index, value) {
            sel.append('<option value="' + index + '">' + value + '</option>');
        });
    });

    // populate settings values
    var settings = {{settings|json_encode|raw }};

    $.each(settings, function(index, value) {
        var el = $('#theme-settings *[name="' + index + '"]');

        if(el.attr('type') == 'radio') {
            el.filter('[value="' + value + '"]').attr('checked', true);
        } else if(el.attr('type') == 'checkbox') {
            el.attr('checked', true);
        } else {
            el.val(value);
        }
    });

    // show uploaded files
    var uploaded = {{ uploaded|json_encode|raw }};
    $.each(uploaded, function(index, file) {
        var input = $('#theme-settings input[name="' + file.name + '"]');
        $('<div class="asset">').html('<a href="' + file.url + '" target="_blank" >' + file.name+'</a>').insertAfter(input);
    });

    //special class "color"
    $("#theme-settings input.color").spectrum({
        showInput: true,
        showButtons: true,
        showAlpha: false,
        clickoutFiresChange: true,
        theme: "sp-boxbilling",
        showInitial: true
    });
});
</script>
{% endblock %}
