{% extends 'layout_default.html.twig' %}

{% block meta_title %}Product promos{% endblock %}

{% set active_menu = 'products' %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{{ '/'|alink }}">
                <svg class="icon">
                    <use xlink:href="#home" />
                </svg>
            </a>
        </li>
        <li class="breadcrumb-item">
            <a href="{{ 'product'|alink }}">{{ 'Products'|trans }}</a>
        </li>
        <li class="breadcrumb-item">
            <a href="{{ 'product/promos'|alink }}">{{ 'Product promotions'|trans }}</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">{{ promo.code }}</li>
    </ol>
{% endblock %}

{% block content %}
<div class="card">
    <div class="card-body">
        <h5>{{ 'Manage coupon code'|trans }}</h5>
        <form method="post" action="{{ 'api/admin/product/promo_update'|link }}" class="api-form" data-api-redirect="{{ 'product/promos'|alink }}">
            <div class="mb-3 row">
                <label class="form-label col-3 col-form-label">{{ 'Code'|trans }}</label>
                <div class="col">
                    <input class="form-control" type="text" name="code" value="{{ promo.code }}" required>
                </div>
            </div>
            <div class="mb-3 row">
                <label class="form-label col-3 col-form-label">{{ 'Discount type'|trans }}</label>
                <div class="col">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" id="radioTypeAbsolute" type="radio" name="type" value="absolute"{% if promo.type == 'absolute' %} checked{% endif %}>
                        <label class="form-check-label" for="radioTypeAbsolute">{{ 'Absolute'|trans }}</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" id="radioTypePercentage" type="radio" name="type" value="percentage"{% if promo.type == 'percentage' %} checked{% endif %}>
                        <label class="form-check-label" for="radioTypePercentage">{{ 'Percentage'|trans }}</label>
                    </div>
                    <input class="form-control" type="text" name="value" value="{{ promo.value }}" required>
                </div>
            </div>
            <div class="mb-3 row">
                <label class="form-label col-3 col-form-label">{{ 'Recurring'|trans }}</label>
                <div class="col">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" id="radioApplyAll" type="radio" name="recurring" value="0"{% if not promo.recurring %} checked{% endif %}>
                        <label class="form-check-label" for="radioApplyAll">{{ 'Applies to first order only'|trans }}</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" id="radioApplyFirst" type="radio" name="recurring" value="1"{% if promo.recurring %} checked{% endif %}>
                        <label class="form-check-label" for="radioApplyFirst">{{ 'Applies to first order and renewals'|trans }}</label>
                    </div>
                </div>
            </div>
            <div class="mb-3 row">
                <label class="form-label col-3 col-form-label">{{ 'Active'|trans }}</label>
                <div class="col">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" id="radioActiveYes" type="radio" name="active" value="1"{% if promo.active %} checked{% endif %}>
                        <label class="form-check-label" for="radioActiveYes">{{ 'Yes'|trans }}</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" id="radioActiveNo" type="radio" name="active" value="0"{% if not promo.active %} checked{% endif %}>
                        <label class="form-check-label" for="radioActiveNo">{{ 'No'|trans }}</label>
                    </div>
                </div>
            </div>
            <div class="mb-3 row">
                <label class="form-label col-3 col-form-label">{{ 'Free setup'|trans }}</label>
                <div class="col">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" id="radioFreeSetupYes" type="radio" name="freesetup" value="1"{% if promo.freesetup %} checked{% endif %}>
                        <label class="form-check-label" for="radioFreeSetupYes">{{ 'Yes'|trans }}</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" id="radioFreeSetupNo" type="radio" name="freesetup" value="0"{% if not promo.freesetup %} checked{% endif %}>
                        <label class="form-check-label" for="radioFreeSetupNo">{{ 'No'|trans }}</label>
                    </div>
                </div>
            </div>

            <h3>{{ 'Promo code limitations'|trans }}</h3>
            <div class="mb-3 row">
                <label class="form-label col-3 col-form-label">{{ 'Once per client'|trans }}</label>
                <div class="col">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" id="radioOncePerClientYes" type="radio" name="once_per_client" value="1"{% if promo.once_per_client %} checked{% endif %}>
                        <label class="form-check-label" for="radioOncePerClientYes">{{ 'Yes'|trans }}</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" id="radioOncePerClientNo" type="radio" name="once_per_client" value="0"{% if not promo.once_per_client %} checked{% endif %}>
                        <label class="form-check-label" for="radioOncePerClientNo">{{ 'No'|trans }}</label>
                    </div>
                </div>
            </div>
            <div class="mb-3 row">
                <label class="form-label col-3 col-form-label">{{ 'Max uses (zero for unlimited)'|trans }}</label>
                <div class="col">
                    <input class="form-control" type="text" name="maxuses" value="{{ promo.maxuses }}" class="dirRight" title="{{ 'Leave blank for unlimited uses'|trans }}"  placeholder="0">
                </div>
            </div>
            <div class="mb-3 row">
                <label class="form-label col-3 col-form-label">{{ 'Used'|trans }}</label>
                <div class="col">
                    <input class="form-control" type="text" name="used" value="{{ promo.used }}" class="dirRight" title="{{ 'How many times promo code was used'|trans }}" placeholder="0">
                </div>
            </div>
            <div class="mb-3 row">
                <label class="form-label col-3 col-form-label">{{ 'Period when code is valid'|trans }}</label>
                <div class="col">
                    <div class="input-group">
                        <input class="form-control" type="date" name="start_at" value="{% if promo.start_at %}{{ promo.start_at|date('Y-m-d') }}{% endif %}" pattern="\d{4}-\d{2}-\d{2}">
                        <span class="input-group-text">-</span>
                        <input class="form-control" type="date" name="end_at" value="{% if promo.end_at %}{{ promo.end_at|date('Y-m-d') }}{% endif %}" pattern="\d{4}-\d{2}-\d{2}">
                    </div>
                </div>
            </div>
            <div class="mb-3 row">
                <label class="form-label col-3 col-form-label">{{ 'Products'|trans }}</label>
                <div class="col">
                    {% set products = admin.product_get_pairs %}
                    <input type="hidden" name="products" value="">
                    <select class="form-select" name="products[]" multiple="multiple" size="{{ products|length }}">
                        {% for id,product in products %}
                        <option value="{{ id }}"{% if id in promo.products %} selected{% endif %}>{{ product }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="mb-3 row">
                <label class="form-label col-3 col-form-label">{{ 'Periods (Select none to apply to all periods)'|trans }}</label>
                <div class="col">
                    {% set periods = guest.system_periods %}
                    <input type="hidden" name="periods" value="">
                    <select class="form-select" name="periods[]" multiple="multiple" size="{{ periods|length }}">
                        {% for id,period in periods %}
                        <option value="{{ id }}"{% if id in promo.periods %} selected{% endif %}>{{ period }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="mb-3 row">
                <label class="form-label col-3 col-form-label">{{ 'Client Groups (Select none to apply to all client groups)'|trans }}</label>
                <div class="col">
                    {% set client_groups = admin.client_group_get_pairs %}
                    <input type="hidden" name="client_groups" value="">
                    <select class="form-select" name="client_groups[]" multiple="multiple" size="{{ groups|length }}">
                        {% for id, client_group in client_groups %}
                        <option value="{{ id }}"{% if id in promo.client_groups %} selected{% endif %}>{{ client_group }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>

            <input type="hidden" name="id" value="{{ promo.id }}">
            <input type="submit" value="{{ 'Update'|trans }}" class="btn btn-primary w-100">
        </form>
    </div>
</div>
{% endblock %}
