{% extends request.ajax ? 'layout_blank.html.twig' : 'layout_default.html.twig' %}

{% import 'macro_functions.html.twig' as mf %}

{% set active_menu = 'system' %}

{% block meta_title %}{{ 'Currency settings'|trans }}{% endblock %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{{ '/'|alink }}">
                <svg class="icon">
                    <use xlink:href="#home" />
                </svg>
            </a>
        </li>
        <li class="breadcrumb-item">
            <a href="{{ 'system'|alink }}">{{ 'Settings'|trans }}</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">{{ 'Currency settings'|trans }}</li>
    </ol>
{% endblock %}

{% block content %}
    <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item" role="presentation">
            <a class="nav-link active" href="#tab-currencies" data-bs-toggle="tab" role="tab">{{ 'Currencies'|trans }}</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" href="#tab-new-currency" data-bs-toggle="tab" role="tab">
                <svg class="icon me-2">
                    <use xlink:href="#plus" />
                </svg>
                {{ 'Add new currency'|trans }}
            </a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" href="#tab-api-settings" data-bs-toggle="tab" role="tab">{{ 'Settings'|trans }}</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" href="#tab-converter" data-bs-toggle="tab" role="tab">{{ 'Converter'|trans }}</a>
        </li>
    </ul>

<div class="card">
    <div class="tab-content">
        <div class="tab-pane fade show active" id="tab-currencies" role="tabpanel">
            <div class="card-body">
                <h3>{{ 'Manage currencies'|trans }}</h3>
                <p class="text-muted">{{ 'Default currency is the one you manage all your prices in admin area. If your client in client area chooses other than default currency, prices will be recalculated according to conversion rate. You can have only one default currency. You can not add same currency once again. Changing default currency is not recommended when active orders are available. Nothing is recalculated on default currency change. Your income is calculated in default currency. Changing default currency after you have paid invoices will distort income statistics. Currency rates are taken from European Central Bank and currencylayer.'|trans }}</p>
            </div>

            <table class="table card-table table-vcenter table-striped text-nowrap">
                <thead>
                    <tr>
                        <th>{{ 'ISO code'|trans }}</th>
                        <th>{{ 'Title'|trans }}</th>
                        <th>{{ 'Conversion rate'|trans }}</th>
                        <th>{{ 'Example price'|trans }}</th>
                        <th class="w-1"></th>
                    </tr>
                </thead>
                <tbody>
                {% for currency in admin.currency_get_list.list %}
                    <tr>
                        <td>{% if currency.default %}<strong>{{ currency.code }}</strong>{% else %}{{ currency.code }}{% endif %}</td>
                        <td>
                            <a href="{{ '/currency/manage'|alink }}/{{ currency.code }}">{{ currency.title }}</a>
                        </td>
                        <td>{{ currency.conversion_rate }}</td>
                        <td>{{ mf.currency_format(1) }} = {{ mf.currency(1, currency.code) }}</td>
                        <td>
                            <a class="btn btn-icon" href="{{ '/currency/manage'|alink }}/{{ currency.code }}">
                                <svg class="icon">
                                    <use xlink:href="#edit" />
                                </svg>
                            </a>
                            <a class="btn btn-icon api-link"
                                href="{{ 'api/admin/currency/delete'|link({ 'code': currency.code }) }}"
                                data-api-redirect="{{ 'extension/settings/currency'|alink }}"
                                data-api-confirm="{{ 'Are you sure?'|trans }}">
                                <svg class="icon">
                                    <use xlink:href="#delete" />
                                </svg>
                            </a>
                            {% if not currency.default %}
                            <a class="btn btn-icon api-link"
                                data-api-redirect="{{ 'extension/settings/currency'|alink }}"
                                href="{{'api/admin/currency/set_default'|link({ 'code': currency.code }) }}"
                                title="{{ 'Set as default'|trans }}">
                                <svg class="icon">
                                    <use xlink:href="#check" />
                                </svg>
                            </a>
                            {% endif %}
                        </td>
                    </tr>
                {% else %}
                  <tr>
                      <td colspan="5" class="texgt-muted">{{ 'The list is empty'|trans }}</td>
                  </tr>
                {% endfor %}
                </tbody>
            </table>

            <div class="card-footer text-center">
                <a class="d-inline-block mx-1 btn bg-light bg-gradient api-link"
                    href="{{ 'api/admin/currency/update_rates'|link }}"
                    data-api-redirect="{{ 'extension/settings/currency'|alink }}">
                    <svg class="mb-2 text-secondary" width="24" height="24">
                        <use xlink:href="#refresh" />
                    </svg>
                    <span class="d-block text-secondary">{{ 'Update Rates'|trans }}</span>
                </a>
            </div>
        </div>

        <div class="tab-pane fade" id="tab-new-currency" role="tabpanel">
            <div class="card-body">
                <form method="post" action="{{ 'api/admin/currency/create'|link }}" class="api-form" data-api-redirect="{{ 'extension/settings/currency'|alink }}">
                    <div class="form-group mb-3 row">
                        <label class="form-label col-3 col-form-label">{{ 'Code'|trans }}:</label>
                        <div class="col">
                            {{ mf.selectbox('code', admin.currency_get_pairs, 'USD', 1) }}
                        </div>
                    </div>
                    <div class="form-group mb-3 row">
                        <label class="form-label col-3 col-form-label">{{ 'Title'|trans }}:</label>
                        <div class="col">
                            <input class="form-control" type="text" name="title" value="" required>
                        </div>
                    </div>
                    <div class="form-group mb-3 row">
                        <label class="form-label col-3 col-form-label">{{ 'Conversion rate'|trans }}:</label>
                        <div class="col">
                            <input class="form-control" type="text" name="conversion_rate" value="1" required>
                        </div>
                    </div>
                    <div class="form-group mb-3 row">
                        <label class="form-label col-3 col-form-label">{{ 'Format'|trans }}:</label>
                        <div class="col">
                            <input class="form-control" type="text" name="format" value="$ {{ '{{price}}' }}" required>
                        </div>
                    </div>

                    <button class="btn btn-primary w-100" type="submit">{{ 'Add'|trans }}</button>
                </form>
            </div>
        </div>

        <div class="tab-pane fade" id="tab-api-settings" role="tabpanel">
            <div class="card-body">
                <h3>{{ 'Adjust settings for currency rate updater'|trans }}</h3>
                <p class="text-muted">FOSSBilling uses data grabbed from <a href="https://www.ecb.europa.eu/home/html/index.en.html" target="_blank">European Central Bank</a> for conversions from Euro to other currencies, and <a href="https://currencylayer.com/" target="_blank">currencylayer</a> for conversations from US Dollar to other currencies.<br />If you choose Euro as your default currency, data from European Central Bank will be used, if you choose US Dollar, data from currencylayer will be used.<br />While European Central Bank decided to keep it's API free to everyone, you won't need an autorization key to use ECB's data. However, you'll need an API key to use currencylayer.<br />You can <a href="https://currencylayer.com/product" target="_blank">grab your API key</a> from currencylayer's website. FOSSBilling doesn't make any profits from your purchases on currencylayer.com</p>
                <p><b>FOSSBilling does not take any responsibilities for data grabbed from 3rd party sources, including European Central Bank and currencylayer.</b></p>

                <form method="post" action="{{ 'api/admin/currency/update_rate_settings'|link }}" class="api-form" data-api-msg="{{ 'Successfully updated settings'|trans }}">
                    <div class="form-group mb-3 row">
                        <label class="form-label col-3 col-form-label">{{ 'API key for currencylayer'|trans }}:</label>
                        <div class="col">
                            <input class="form-control" type="text" name="currencylayer_key" value="{{ admin.currency_get_key }}">
                        </div>
                    </div>
                    <div class="form-group mb-3 row">
                        <label class="form-label col-3 col-form-label">{{ 'Enable CRON jobs'|trans }}:</label>
                        <div class="col">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" id="radioCronsEnabled" type="radio" name="crons_enabled" value="1"{% if admin.currency_is_cron_enabled == 1 %} checked{% endif %}>
                                <label class="form-check-label" for="radioCronsEnabled">{{ 'Enabled'|trans }}</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" id="radioCronsDisabled" type="radio" name="crons_enabled" value="0"{% if admin.currency_is_cron_enabled == 0 %} checked{% endif %}>
                                <label class="form-check-label" for="radioCronsDisabled">{{ 'Disabled'|trans }}</label>
                            </div>
                            <small class="form-hint">{{ 'If you enable this, conversion rates will be automatically updated whenever the CRON job fires up.'|trans }}</small>
                        </div>
                    </div>

                    <button class="btn btn-primary w-100" type="submit">{{ 'Update'|trans }}</button>
                </form>
            </div>
        </div>

        <div class="tab-pane fade" id="tab-converter" role="tabpanel">
            <form method="post" action="">
                <div class="card-body">
                    <div class="input-group">
                            <span class="input-group-text">{{ guest.currency_get.code }}</span>
                            <input class="form-control" type="text" name="amount" value="" required placeholder="{{ 'Amount'|trans }}" onkeyup="doConvert();">
                            <span class="input-group-text">=</span>
                            <input class="form-control" type="text" id="converted_result" value="" placeholder="{{ 'Result'|trans }}" readonly>
                            <div>{{ mf.selectbox('to', guest.currency_get_pairs) }}</div>
                        </ul>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script>
    function doConvert() {
        var price = $('input[name="amount"]').val();
        var code = $('select[name="to"]').val();

        bb.post('guest/currency/format', { price: price, code: code }, function(result) {
            $('#converted_result').val(result);
        });

        return false;
    };
</script>
{% endblock %}
