{% extends "layout_public.html.twig" %}

{% block meta_title %}{{ 'Reset password'|trans }}{% endblock %}

{% block body_class %}page-password-reset{% endblock %}
{% block body %}

<section class="container login" role="main">

{% if settings.login_page_show_logo %}
    {% set company = guest.system_company %}
    <h1 style="text-align: center">
        {% if settings.login_page_show_logo %}
        <a href="{{ settings.login_page_logo_url|default('/') }}" target="_blank">
            <img src="{{ guest.system_company.logo_url }}" alt="{{ guest.system_company.name }}"/>
        </a>
        {% endif %}
        
    </h1>
{% endif %}
    <h2>{{ 'Reset password'|trans }}</h2>

<div class="data-block">
    <div class="data-container">

        <form method="post" action="" id="password-reset">
            <input type="hidden" name="CSRFToken" value="{{ CSRFToken }}"/>
            <fieldset>
                <div class="control-group">
                    <label class="control-label" for="email">{{ 'Email Address'|trans }}</label>
                    <div class="controls">
                        <input id="icon" type="text" placeholder="{{ 'Your email address'|trans }}" name="email" value="{{ request.email }}" required="required" data-validation-required-message="{{ 'You must fill in your email.'|trans }}">
                        <div class="help-block"></div>
                        <span class="help-block">{{ 'Enter your email to reset password. You will receive new password after reset link is confirmed.'|trans }}</span>
                    </div>
                </div>
                <div class="form-actions">
                    <button class="btn btn-block btn-large btn-inverse btn-alt" type="submit">{{ 'Reset password'|trans }}</button>
                    <a class="btn btn-block btn-large btn-inverse btn-alt" href="{{ 'login'|link }}"><small>{{ 'Login'|trans }}</small></a>
                    <a class="btn btn-block btn-large btn-inverse btn-alt" href="{{ 'signup'|link }}"><small>{{ 'Signup'|trans }}</small></a>
                </div>
            </fieldset>
        </form>

    </div>
</div>

</section>
{% endblock %}

{% block js %}
<script type="text/javascript">
$(function() {
    $('#password-reset').bind('submit', function(event) {
        bb.post(
            'guest/client/reset_password',
            $(this).serialize(),
            function(result) {
                bb.msg("{{ 'Password reset confirmation email was sent'|trans }}");
            }
        );

        return false;
    });
});
</script>
{% endblock %}
