{% extends "layout_default.html.twig" %}

{% block meta_title %}{{ 'About us'|trans }}{% endblock %}

{% set company = guest.system_company %}

{% block body_class %}about-us{% endblock %}

{% block content %}
<div class="row">
    <div class="card ml-0 ml-md-3 w-100">
        <div class="card-header">
            <h1>{{ 'About us'|trans }}</h1>
            <p>{{ company.signature }}</p>
        </div>
        <div class="card-body">
            {{ company.note|markdown }}
        </div>
        <div class="card-footer">
            <a href="{{ '/'|link}}" class="btn btn-primary" title="Back to Homepage">{{ 'Back to Homepage'|trans }}</a>
        </div>
    </div>
</div>
{% endblock %}
