{% if html_buyer_lines >= html_seller_lines %}
	{% set top = 325 + (25 * html_buyer_lines) %}
{% else %}
	{% set top = 325 + (25 * html_seller_lines) %}
{% endif %}

<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv='Content-Type' content='text/html; charset=utf-8'/>
		<title>{{ invoice.serie_nr }}</title>
		<style>
			{{css}}</style>
	</head>
	<body>
		{{ html_logo|raw }}
		<hr class='Rounded'>
		<div class='InvoiceInfo'>
			<p>Invoice number:
				{{ invoice.serie_nr }}</p>
			<p>Invoice date:
				{{ invoice.created_at|fossbilling_format_time }}</p>
			<p>Due date:
				{{ invoice.due_at|fossbilling_format_time }}</p>
			<p>Invoice status:
				{{ invoice.status|capitalize }}</p>
		</div>

		<h3 class='CompanyInfo'>Company</h3>
		<div class='CompanyInfo'>{{ html_seller|raw }}</div>

		<h3 class='ClientInfo'>Client</h3>
		<div class='ClientInfo'>{{ html_buyer|raw }}</div>

		<div class='Breakdown' style='top: {{top}}px'>
			<table style='width:100%'>
				<tr>
					<th>#</th>
					<th>Product</th>
					<th>Quantity & Price</th>
					<th>Total</th>
				</tr>
				{% set nr = 0 %}
				{% for item in invoice.lines %}
					{% set nr = nr + 1 %}
					<tr>
						<th>{{ nr }}</th>
						<th>{{ item.title }}</th>
						<th>{{ item.quantity }}
							x
							{{ item.price|money_convert }}</th>
						<th>{{ item.total|money_convert }}</th>
					</tr>
				{% endfor %}
				<tr>
					<th colspan='4'>___________________________________________________________________________________________</th>
				</tr>
				{% if invoice.tax > 0 %}
					<tr>
						<th class='right' colspan='3'>{{ invoice.taxname }}
							{{ invoice.taxrate }}% Tax:</th>
						<th>{{ invoice.tax|money_convert }}</th>
					</tr>
				{% endif %}
				{% if invoice.discount|default and invoice.discount > 0 %}
					<tr>
						<th class='right' colspan='3'>Discount:</th>
						<th>{{ invoice.discount|money_convert }}</th>
					</tr>
				{% endif %}
				<tr>
					<th class='right' colspan='3'>Total:</th>
					<th>{{ invoice.total }}{{ currency_code }}</th>
				</tr>
			</table>
		</div>
	</body>
</html>
