{% extends request.ajax ? "layout_blank.html.twig" : "layout_default.html.twig" %}

{% block meta_title %}{{ 'Knowledge base'|trans }}{% endblock %}

{% block body_class %}kb-index{% endblock %}
{% block breadcrumb %}<li class="breadcrumb-item active" aria-current="page">{{ 'Knowledge base'|trans }}</li>{% endblock %}

{% block content %}
    {% if request.q %}
        {% set kbcategories = guest.kb_category_get_list({ "q": request.q }) %}
    {% else %}
        {% set kbcategories = guest.kb_category_get_list %}
    {% endif %}

<div class="row">
    <div class="card ml-0 ml-md-3 w-100">
        <div class="card-header">
            <h1>{{ 'Knowledge base'|trans }}</h1>
            <p>{{ 'Please try to read related topics in knowledge base before contacting support.'|trans }}</p>

            <form method="get" action="" class="form">
                <input type="hidden" name="CSRFToken" value="{{ CSRFToken }}"/>
                <input name="_url" type="hidden" value="/kb">
                <span class="ml-1 row">
                    <input class="form-control w-50 mr-2" name="q" type="text" value="{{ request.q }}" placeholder="{{ 'What are you looking for?'|trans }}">
                    <input class="btn btn-primary" value="{{ 'Search'|trans }}" type="submit">
                </span>
            </form>
        </div>
        <div class="card-body">
            {% for i, category in kbcategories.list %}
                <div class="card-body">
                    <h2 id="category-{{category.id}}">
                        <a href="{{ 'kb'|link }}/{{ category.slug }}">{{ category.title }}</a>
                    </h2>
                    <div class="list-group ml-2">
                        {% for i, article in category.articles %}
                            <a class="list-group-item list-group-item-action" href="{{ '/kb'|link }}/{{article.category.slug}}/{{article.slug}}">{{ article.title }}</a>
                        {% endfor %}
                    </div>
                </div>
            {% else %}
                <p class="alert alert-block alert-danger">
                    {{ 'Try using other keyword. No matches found for keyword:'|trans }}
                    <strong>{{ request.q }}</strong>
                </p>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
