{% extends 'layout_login.html.twig' %}

{% block meta_title %}{{ 'Password Reset'|trans }}{% endblock %}

{% block content %}

<div class="page page-center">
    <div class="container-tight py-4">
        <div class="text-center mb-4">
            <a href="{{ '/'|link }}" class="navbar-brand">
                <img src="{{ guest.system_company.logo_url }}" height="75" alt="{{ company.name }}">
            </a>
        </div>
        <div class="card card-md">
            <div class="card-body">
                <h2 class="h2 text-center mb-4">Reset your Password</h2>
                <form class="api-form" action="{{ 'api/guest/staff/passwordreset'|link }}" method="post" data-api-redirect="{{ 'index'|alink }}">
                    <input type="hidden" name="CSRFToken" value="{{ CSRFToken }}"/>
                    <div class="mb-3">
                        <label class="form-label" for="inputEmail">{{ 'Email'|trans }}</label>
                        <input class="form-control"
                               id="inputEmail"
                               type="email"
                               name="email"
                               value="{{ request.email }}"
                               placeholder="{{ 'Enter your email address'|trans }}"
                               required
                               autofocus>
                    </div>
                    <div class="mb-3">
                      <p>Enter your email to reset password. You will receive new password after reset link is confirmed.</p>
                    </div>
                    <div class="form-footer">
                        <button class="btn btn-primary w-100" type="submit">{{ 'Reset Password'|trans }}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
