{% set periods = guest.system_periods %}
{% set pricing = product.pricing %}
{% set tlds = guest.serviceDomain_tlds({"allow_register":1}) %}

<div class="row">
    <div class="col-md-12">
        <h5 class="mb-1">{{ product_details }}</h5>
        <span class="text-muted">{{ 'Domain configuration'|trans }}</span>
        <div class="mb-2">
            <div class="form-check">
                <input class="form-check-input" type="radio" name="domain[action]" value="owndomain"id="own-domain-check" onclick="selectDomainAction(this);" {% if tlds is empty %} checked {% endif %}>
                <label class="form-check-label" for="own-domain-check">{{ 'I will use my existing domain and update nameservers'|trans }}</label>
            </div>
            {% if tlds is not empty %}
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="domain[action]" value="register" id="domain-register-check" onclick="selectDomainAction(this);">
                    <label class="form-check-label" for="domain-register-check">{{ 'I want to register a new domain'|trans }}</label>
                </div>
            {% endif %}

            <div id="owndomain" class="mt-2 domain_action" {% if tlds is not empty %} style="display: none;" {% endif %}>
                <div class="row">
                    <div class="col-md-8">
                        <div class="d-flex gap-2">
                            <div class="input-group mb-3">
                                <input class="form-control w-75" type="text" name="domain[owndomain_sld]"
                                       value="{{ request.owndomain_sld }}"
                                       placeholder="{{ 'Your existing domain'|trans }}">
                                <input class="form-control" type="text" name="domain[owndomain_tld]"
                                       value="{{ request.owndomain_tld|default('.com') }}">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="register" class="mt-2 domain_action" style="display: none;">
                <div class="row">
                    <div class="col-md-9">
                        <div class="d-flex gap-2">
                            <div class="input-group mb-3">
                                <input class="form-control w-75" type="text" name="domain[register_sld]"
                                       value="{{ request.register_sld }}"
                                       placeholder="{{ 'Your new domain'|trans }}">
                                <select class="form-select" name="domain[register_tld]">
                                    {% for tld in tlds %}
                                        <option value="{{ tld.tld }}" label="{{ tld.tld }}">{{ tld.tld }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div>
                                <button class="btn btn-dark" type="button" id="domain-check">{{ 'Check'|trans }}</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4" id="domain-config" style="display:none;">
                        <div class="mb-3">
                            <label>
                                <select class="form-select" name="domain[register_years]"></select>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% set currency = guest.cart_get_currency %}
<script>
    function selectDomainAction(el) {
        document.querySelectorAll('.domain_action').forEach(function(element) {
            element.style.display = 'none';
        });
        document.getElementById(el.value).style.display = 'block';
    }

    document.addEventListener("DOMContentLoaded", function() {
        document.getElementById('domain-check').addEventListener('click', function(event) {
            event.preventDefault();
            var sld = document.querySelector('input[name="domain[register_sld]"]').value;
            var tld = document.querySelector('select[name="domain[register_tld]"]').value;

            API.guest.post('servicedomain/check', { sld: sld, tld: tld, CSRFToken: "{{ CSRFToken }}" },
                (result) => {
                    setRegistrationPricing(tld);
                    document.getElementById('domain-config').style.display = 'block';
                });
        });

        function setRegistrationPricing(tld) {
            API.guest.post('servicedomain/pricing', { tld: tld, CSRFToken: "{{ CSRFToken }}" },
                (result) => {
                    const s = document.querySelector("select[name='domain[register_years]']");
                    s.find('option').remove();

                    for (i = 1; i < 6; i++) {
                        let price = parseFloat(result.price_registration) * parseFloat( {{ currency.conversion_rate }});
                        price = price * i;
                        price = price.toFixed(2) + ' ' + "{{ currency.code }}";

                        if (i === 1) {
                            s.append(new Option(i + "{{ ' year @ '|trans }}" + price, i));
                        } else {
                            s.append(new Option(i + "{{ ' years @ '|trans }}" + price, i));
                        }
                    }
                });
        }

        const addons = document.querySelector('.addons');
        const orderButton = document.getElementById('order-button');

        if (addons && getComputedStyle(addons).display === 'none') {
            orderButton.addEventListener('click', function handler(event) {
                event.preventDefault();
                orderButton.style.display = 'none';
                addons.style.display = 'block';
                orderButton.removeEventListener('click', handler);
                return false;
            });
        }

        document.getElementById('period-selector').addEventListener('change', function() {
            let periodValue = this.value;
            document.querySelectorAll('.period').forEach(function(element) {
                element.style.display = 'none';
            });
            document.querySelectorAll('.period.' + periodValue).forEach(function(element) {
                element.style.display = '';
            });
        });

        document.getElementById('period-selector').dispatchEvent(new Event('change'));

        document.querySelectorAll('.addon-period-selector').forEach(function(selector) {
            function updateDisplay() {
                const rel = selector.getAttribute('rel');
                const value = selector.value;
                const container = document.getElementById(rel);
                if (container) {
                    container.querySelectorAll('span').forEach(span => {
                        span.style.display = 'none';
                    });
                    container.querySelectorAll('span.' + value).forEach(span => {
                        span.style.display = '';
                    });
                }
            }

            selector.addEventListener('change', updateDisplay);
            updateDisplay();
        });
    });
</script>
