{% extends 'layout_default.html.twig' %}

{% block meta_title %}{{ 'Error'|trans }}{% endblock %}

{% block content_before %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{{ ''|link }}">{{ 'Home'|trans }}</a>
        </li>
        <li class="breadcrumb-item active">404</li>
    </ol>
{% endblock %}

{% block content %}
<div class="text-center">
    <h1 class="display-4">404</h1>
    <div class="text-secondary">{{ 'Looks like we have a misunderstanding here'|trans }}</div>
	<div class="text-danger">{{ exception.getMessage }}</div>
</div>
{% endblock %}
