{% extends 'layout_default.html.twig' %}

{% import 'macro_functions.html.twig' as mf %}

{% set active_menu = 'client' %}

{% block meta_title %}{{ client.first_name }} {{ client.last_name }}{% endblock %}

{% block breadcrumbs %}
<ul class="breadcrumb">
    <li class="breadcrumb-item">
        <svg class="icon">
            <use xlink:href="#home" />
        </svg>
    </li>
    <li class="breadcrumb-item">
        <a href="{{ 'client'|alink }}">{{ 'Clients'|trans }}</a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">{{ client.first_name }} {{ client.last_name }}</li>
</ul>
{% endblock %}

{% block content %}
    <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item" role="presentation">
            <a class="nav-link active" href="#tab-info" data-bs-toggle="tab" role="tab">{{ 'Profile'|trans }}</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" href="#tab-profile" data-bs-toggle="tab" role="tab">{{ 'Edit'|trans }}</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" href="#tab-orders" data-bs-toggle="tab" role="tab">{{ 'Orders'|trans }}</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" href="#tab-invoice" data-bs-toggle="tab" role="tab">{{ 'Invoices'|trans }}</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" href="#tab-support" data-bs-toggle="tab" role="tab">{{ 'Tickets'|trans }}</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" href="#tab-balance" data-bs-toggle="tab" role="tab">{{ 'Payments'|trans }}</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" href="#tab-history" data-bs-toggle="tab" role="tab">{{ 'Logins'|trans }}</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" href="#tab-emails" data-bs-toggle="tab" role="tab">{{ 'Emails'|trans }}</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" href="#tab-transactions" data-bs-toggle="tab" role="tab">{{ 'Transactions'|trans }}</a>
        </li>
    </ul>

<div class="card">
    <div class="tab-content">
        <div class="tab-pane fade show active" id="tab-info" role="tabpanel" aria-labelledby="index-tab">
            <div class="card-body position-relative">
                <span class="avatar avatar-xl mb-3 avatar-rounded shadow position-absolute top-0 end-0 m-3" style="background-image: url({{ client.email|gravatar }}&size=112)"></span>

                <table class="table card-table table-vcenter table-striped text-nowrap">
                    <tbody>
                        <tr>
                            <td class="w-50 text-end">{{ 'Client ID'|trans }}:</td>
                            <td>{{ client.id }}</td>
                        </tr>
                        <tr>
                            <td class="text-end">{{ 'Name'|trans }}:</td>
                            <td><strong class="text-danger">{{ client.first_name }} {{ client.last_name }}</strong></td>
                        </tr>
                        <tr>
                            <td class="text-end">{{ 'Company'|trans }}:</td>
                            <td><strong class="text-success">{{ client.company|default('-') }}</strong></td>
                        </tr>
                        <tr>
                            <td class="text-end">{{ 'Email'|trans }}:</td>
                            <td>{{ client.email }}</td>
                        </tr>
                        <tr>
                            <td class="text-end">{{ 'Status'|trans }}:</td>
                            <td>
                                {% if client.status == 'active' %}
                                    <span class="badge bg-success me-1"></span>
                                {% endif %}
                                {% if client.status == 'suspended' %}
                                    <span class="badge bg-danger me-1"></span>
                                {% endif %}
                                {% if client.status == 'canceled' %}
                                    <span class="badge bg-secondary me-1"></span>
                                {% endif %}
                                {{ mf.status_name(client.status) }}
                            </td>
                        </tr>
                        <tr>
                            <td class="text-end">{{ 'Group'|trans }}:</td>
                            <td>{{ client.group|default('-') }}</td>
                        </tr>
                        <tr>
                            <td class="text-end">{{ 'Currency'|trans }}:</td>
                            <td>{{ client.currency|default('-') }}</td>
                        </tr>
                        <tr>
                            <td class="text-end">{{ 'Fund balance'|trans }}:</td>
                            <td class="text-danger fw-bold">{{ mf.currency_format(client.balance, client.currency) }}</td>
                        </tr>
                        {% if client.notes %}
                        <tr>
                            <td class="text-end">{{ 'Notes'|trans }}:</td>
                            <td>
                                <svg class="icon">
                                    <use xlink:href="#support" />
                                </svg>
                                <a href="#tab-profile" data-bs-toggle="tab" role="button">{{ client.notes }}</a>
                            </td>
                        </tr>
                        {% endif %}
                        <tr>
                            <td class="text-end">IP:</td>
                            <td>{{ client.ip|default('-') }} {{ client.ip|ipcountryname|default('Unknown') }}</td>
                        </tr>
                        <tr>
                            <td class="text-end">{{ 'API Key'|trans }}:</td>
                            <td>{{ client.api_token|default('-') }}</td>
                        </tr>
                        <tr>
                            <td class="text-end">{{ 'Address'|trans }}:</td>
                            <td>
                                <span class="flag flag-country-{{ client.country|lower }}" title="{{ guest.system_countries[client.country] }}"></span>
                                {{ guest.system_countries[client.country] }} {{ client.state }} {{ client.address_1 }} {{ client.address_2 }} {{ client.city }} {{ client.postcode }}
                            </td>
                        </tr>
                        <tr>
                            <td class="text-end">{{ 'Registered on'|trans }}:</td>
                            <td>{{ client.created_at|format_date }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="card-footer text-center">
                <a href="{{ 'client/login'|alink }}/{{ client.id }}" class="btn btn-primary" target="_blank">
                    <svg class="icon" width="24" height="24">
                        <use xlink:href="#login" />
                    </svg>
                    <span>{{ 'Login to client area'|trans }}</span>
                </a>
                <a class="btn btn-danger api-link"
                    href="{{ 'api/admin/client/delete'|link({ 'id': client.id, 'CSRFToken': CSRFToken }) }}"
                    data-api-confirm="{{ 'Are you sure?'|trans }}"
                    data-api-redirect="{{ 'client'|alink }}">
                    <svg class="icon" width="24" height="24">
                        <use xlink:href="#delete" />
                    </svg>
                    <span>{{ 'Delete'|trans }}</span>
                </a>
            </div>
        </div>

        <div class="tab-pane fade" id="tab-profile" role="tabpanel">
            <div class="card-body">
                <h5>{{ 'Client profile details'|trans }}</h5>
                <form method="post" action="{{ 'api/admin/client/update'|link }}" class="api-form save" data-api-msg="{{ 'Client Profile updated'|trans }}">
                    <input type="hidden" name="CSRFToken" value="{{ CSRFToken }}"/>
                    <div class="mb-3 row">
                        <label class="form-label col-3 col-form-label">{{ 'Status'|trans }}:</label>
                        <div class="col">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" id="radioStatusActive" type="radio" name="status" value="active"{% if client.status == 'active' %} checked{% endif %}>
                                <label class="form-check-label" for="radioStatusActive">{{ 'Active'|trans }}</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" id="radioStatusSuspended" type="radio" name="status" value="suspended"{% if client.status == 'suspended' %} checked{% endif %}>
                                <label class="form-check-label" for="radioStatusSuspended">{{ 'Suspended'|trans }}</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" id="radioStatusCanceled" type="radio" name="status" value="canceled"{% if client.status == 'canceled' %} checked{% endif %}>
                                <label class="form-check-label" for="radioStatusCanceled">{{ 'Canceled'|trans }}</label>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label class="form-label col-3 col-form-label">{{ 'Type'|trans }}:</label>
                        <div class="col">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" id="radioTypePersonal" type="radio" name="type" value="individual"{% if client.type == 'individual' %} checked{% endif %}>
                                <label class="form-check-label" for="radioTypePersonal">{{ 'Individual'|trans }}</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" id="radioTypeCompany" type="radio" name="type" value="company"{% if client.type == 'company' %} checked{% endif %}>
                                <label class="form-check-label" for="radioTypeCompany">{{ 'Company'|trans }}</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" ="radioTypeOther" type="radio" name="type" value=""{% if not client.type %} checked{% endif %}>
                                <label class="form-check-label" for="radioTypeOther">{{ 'Other/Unknown'|trans }}</label>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label class="form-label col-3 col-form-label">{{ 'Mail approved'|trans }}:</label>
                        <div class="col">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" id="radioEmailApprovedYes" type="radio" name="email_approved" value="1"{% if client.email_approved == 1 %} checked{% endif %}>
                                <label class="form-check-label" for="radioEmailApprovedYes">{{ 'Yes'|trans }}</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" id="radioEmailApprovedNo" type="radio" name="email_approved" value="0"{% if client.email_approved != 1 %} checked{% endif %}>
                                <label class="form-check-label" for="radioEmailApprovedNo">{{ 'No'|trans }}</label>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label class="form-label col-3 col-form-label">{{ 'Group'|trans }}:</label>
                        <div class="col">
                            {{ mf.selectbox('group_id', admin.client_group_get_pairs, client.group_id, 0, 'Select group') }}
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label class="form-label col-3 col-form-label">{{ 'Email'|trans }}:</label>
                        <div class="col">
                            <input class="form-control" type="email" name="email" value="{{ client.email }}" required>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label class="form-label col-3 col-form-label">{{ 'Name'|trans }}:</label>
                        <div class="col">
                            <div class="row">
                                <div class="col">
                                    <input class="form-control" type="text" name="first_name" value="{{ client.first_name }}" required>
                                </div>
                                <div class="col">
                                    <input class="form-control" type="text" name="last_name" value="{{ client.last_name }}">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label class="form-label col-3 col-form-label" for="birthday">{{ 'Date of birth'|trans }}:</label>
                        <div class="col">
                            <div class="input-group">
                                <div class="input-icon w-100">
                                    <input class="form-control datepicker"
                                           id="birthday"
                                           value="{{ client.birthday }}"
                                           name="birthday"
                                           data-pick-year="1"
                                    >
                                    <span class="input-icon-addon">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                            <path d="M4 5m0 2a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2z"></path>
                                            <path d="M16 3l0 4"></path>
                                            <path d="M8 3l0 4"></path>
                                            <path d="M4 11l16 0"></path>
                                            <path d="M11 15l1 0"></path>
                                            <path d="M12 15l0 3"></path>
                                        </svg>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3 row" id="company-details">
                        <label class="form-label col-3 col-form-label">{{ 'Company details'|trans }}:</label>
                        <div class="col">
                            <div class="row">
                                <div class="col">
                                    <input class="form-control" type="text" name="company" value="{{ client.company }}" placeholder="{{ 'Company name'|trans }}">
                                </div>
                                <div class="col">
                                    <input class="form-control" type="text" name="company_number" value="{{ client.company_number }}" placeholder="{{ 'Company number'|trans }}">
                                </div>
                                <div class="col">
                                    <input class="form-control" type="text" name="company_vat" value="{{ client.company_vat }}" placeholder="{{ 'Company VAT number'|trans }}">
                                </div>
                            </div>
                        </div>
                    </div>
                    <button class="btn btn-primary w-100" type="submit">{{ 'Update'|trans }}</button>
                    <hr>

                    <h5>{{ 'Address and contact details'|trans }}</h5>
                    <div class="mb-3 row">
                        <label class="form-label col-3 col-form-label">{{ 'Address Line 1'|trans }}:</label>
                        <div class="col">
                            <input class="form-control" type="text" name="address_1" value="{{ client.address_1 }}">
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label class="form-label col-3 col-form-label">{{ 'Address Line 2'|trans }}:</label>
                        <div class="col">
                            <input class="form-control" type="text" name="address_2" value="{{ client.address_2 }}">
                        </div>
                    </div>

                    <div class="mb-3 row">
                        <label class="form-label col-3 col-form-label">{{ 'Country'|trans }}:</label>
                        <div class="col">
                            {{ mf.selectbox('country', guest.system_countries, client.country, 0, 'Select country') }}
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label class="form-label col-3 col-form-label">{{ 'State'|trans }}:</label>
                        <div class="col">
                            {# mf.selectbox('state', guest.system_states, client.state, 0, 'Select state') #}
                            <input class="form-control" type="text" name="state" value="{{ client.state }}">
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label class="form-label col-3 col-form-label">{{ 'City'|trans }}:</label>
                        <div class="col">
                            <input class="form-control" type="text" name="city" value="{{ client.city }}">
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label class="form-label col-3 col-form-label">{{ 'Postcode'|trans }}:</label>
                        <div class="col">
                            <input class="form-control" type="text" name="postcode" value="{{ client.postcode }}">
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label class="form-label col-3 col-form-label">{{ 'Phone'|trans }}:</label>
                        <div class="col">
                            <div class="input-group">
                                <span class="input-group-text">+</span>
                                <input class="form-control" type="text" name="phone_cc" value="{{ client.phone_cc }}">
                                <input class="form-control w-50" type="phone" name="phone" value="{{ client.phone }}">
                            </div>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label class="form-label col-3 col-form-label">{{ 'Passport number'|trans }}:</label>
                        <div class="col">
                            <input class="form-control" type="text" name="document_nr" value="{{ client.document_nr }}">
                        </div>
                    </div>
                    <button class="btn btn-primary w-100" type="submit">{{ 'Update'|trans }}</button>
                    <hr>

                    <h5>{{ 'Additional settings'|trans }}</h5>
                    <div class="mb-3 row">
                        <label class="form-label col-3 col-form-label">{{ 'Alternative ID'|trans }}:</label>
                        <div class="col">
                            <input class="form-control" type="text" name="aid" value="{{ client.aid }}" placeholder="{{ 'Used to identify client on foreign system. Usually used by importers'|trans }}">
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label class="form-label col-3 col-form-label">{{ 'Currency'|trans }}:</label>
                        <div class="col">
                            {{ mf.selectbox('currency', guest.currency_get_pairs, client.currency, 0, 'Select currency') }}
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label class="form-label col-3 col-form-label">{{ 'Exempt from tax'|trans }}:</label>
                        <div class="col">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" id="radioTaxExemptYes" type="radio" name="tax_exempt" value="1"{% if client.tax_exempt %} checked{% endif %}>
                                <label class="form-check-label" for="radioTaxExemptYes">{{ 'Yes'|trans }}</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" id="radioTaxExemptNo" type="radio" name="tax_exempt" value="0"{% if not client.tax_exempt %} checked{% endif %}>
                                <label class="form-check-label" for="radioTaxExemptNo">{{ 'No'|trans }}</label>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label class="form-label col-3 col-form-label" for="created_at">{{ 'Signed up time'|trans }}:</label>
                        <div class="col">
                            <div class="input-group">
                                <div class="input-icon w-100">
                                    <input class="form-control datepicker"
                                           id="created_at"
                                           value="{{ client.created_at|date('Y-m-d') }}"
                                           name="created_at"
                                    >
                                    <span class="input-icon-addon">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                            <path d="M4 5m0 2a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2z"></path>
                                            <path d="M16 3l0 4"></path>
                                            <path d="M8 3l0 4"></path>
                                            <path d="M4 11l16 0"></path>
                                            <path d="M11 15l1 0"></path>
                                            <path d="M12 15l0 3"></path>
                                        </svg>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label class="form-label col-3 col-form-label">{{ 'Notes'|trans }}:</label>
                        <div class="col">
                            <textarea class="form-control" name="notes" rows="5">{{ client.notes }}</textarea>
                        </div>
                    </div>

                    <input type="hidden" name="id" value="{{ client.id }}">
                    <button class="btn btn-primary w-100" type="submit">{{ 'Update profile'|trans }}</button>
                </form>
                <hr>

                <h5>{{ 'Change password'|trans }}</h5>
                <form method="post" action="{{ 'api/admin/client/change_password'|link }}" class="api-form" data-api-msg="{{ 'Password changed'|trans }}">
                    <input type="hidden" name="CSRFToken" value="{{ CSRFToken }}"/>
                    <div class="form-group mb-3 row">
                        <label class="form-label col-3 col-form-label">{{ 'Password'|trans }}</label>
                        <div class="col">
                            <input class="form-control" type="password" name="password" value="" required>
                        </div>
                    </div>

                    <div class="form-group mb-3 row">
                        <label class="form-label col-3 col-form-label">{{ 'Password confirm'|trans }}</label>
                        <div class="col">
                            <input class="form-control" type="password" name="password_confirm" value="" required>
                        </div>
                    </div>

                    <input type="hidden" name="id" value="{{ client.id }}">
                    <button class="btn btn-primary w-100" type="submit">{{ 'Change password'|trans }}</button>
                </form>
                <hr>

                <h5>{{ 'Custom fields'|trans }}</h5>
                <p class="text-muted">{{ 'Use these fields to define custom client details'|trans }}</p>
                <form method="post" action="{{ 'api/admin/client/update'|link }}" class="api-form save" data-api-msg="{{ 'Client Profile custom fields updated'|trans }}">
                    <input type="hidden" name="CSRFToken" value="{{ CSRFToken }}"/>
                    {% for i in 1..10 %}
                    {% set fn = 'custom_' ~ i %}
                    <div class="form-group mb-3 row">
                        <label class="form-label col-3 col-form-label">{{ 'Custom field'|trans }} {{ i }}</label>
                        <div class="col">
                            <textarea class="form-control" name="custom_{{ i }}" rows="2">{{ client[fn] }}</textarea>
                        </div>
                    </div>
                    {% endfor %}

                    <input type="hidden" name="id" value="{{ client.id }}">
                    <button class="btn btn-primary w-100" type="submit">{{ 'Update'|trans }}</button>
                </form>
            </div>
        </div>

        <div class="tab-pane fade" id="tab-orders" role="tabpanel">
            <div class="card-body">
                <h3>{{ 'Client orders'|trans }}</h3>
            </div>

            <div class="table-responsive">
                <table class="table card-table table-vcenter table-striped text-nowrap">
                    <thead>
                        <tr>
                            <th class="w-1">#</th>
                            <th>{{ 'Title'|trans }}</th>
                            <th>{{ 'Amount'|trans }}</th>
                            <th>{{ 'Period'|trans }}</th>
                            <th>{{ 'Status'|trans }}</th>
                            <th class="w-1"></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% set orders = admin.order_get_list({ 'per_page': '20', 'client_id': client.id }) %}
                        {% for order in orders.list %}
                        <tr>
                            <td>{{ order.id }}</td>
                            <td>
                                <a href="{{ '/order/manage'|alink }}/{{ order.id }}">{{ order.title }}</a>
                            </td>
                            <td>{{ mf.currency_format(order.total, order.currency) }}</td>
                            <td>{{ mf.period_name(order.period) }}</td>
                            <td>
                                {% if order.status == 'pending_setup' %}
                                    <span class="badge bg-warning me-1"></span>
                                {% endif %}
                                {% if order.status == 'active' %}
                                    <span class="badge bg-success me-1"></span>
                                {% endif %}
                                {% if order.status == 'suspended' %}
                                    <span class="badge bg-danger me-1"></span>
                                {% endif %}
                                {% if order.status == 'canceled' %}
                                    <span class="badge bg-secondary me-1"></span>
                                {% endif %}
                                {{ mf.status_name(order.status) }}
                            </td>
                            <td>
                                <a class="btn btn-icon" href="{{ '/order/manage'|alink }}/{{ order.id }}">
                                    <svg class="icon">
                                        <use xlink:href="#settings" />
                                    </svg>
                                </a>
                            </td>
                        </tr>
                        {% else %}
                        <tr>
                            <td class="text-muted" colspan="6">{{ 'The list is empty'|trans }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

            <div class="card-body">
                <a href="{{ 'order'|alink({ 'client_id': client.id }) }}#tab-new" class="btn btn-primary">
                    <svg class="icon">
                        <use xlink:href="#plus" />
                    </svg>
                    {{ 'New order'|trans }}
                </a>
            </div>
        </div>

        <div class="tab-pane fade" id="tab-invoice" role="tabpanel">
            <div class="card-body">
                <h5>{{ 'Client invoices'|trans }}</h5>
            </div>

            <div class="table-responsive">
                <table class="table card-table table-vcenter table-striped text-nowrap">
                    <thead>
                        <tr>
                            <th class="w-1">#</th>
                            <th>{{ 'Amount'|trans }}</th>
                            <th>{{ 'Issued on'|trans }}</th>
                            <th>{{ 'Paid on'|trans }}</th>
                            <th>{{ 'Status'|trans }}</th>
                            <th class="w-1"></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% set invoices = admin.invoice_get_list({ 'per_page': '100', 'client_id': client.id }) %}
                        {% for invoice in invoices.list %}
                        <tr>
                            <td>
                                <a href="{{ '/invoice/manage'|alink }}/{{ invoice.id }}">{{ invoice.serie_nr }}</a>
                            </td>
                            <td>{{ mf.currency_format( invoice.total, invoice.currency) }}</td>
                            <td>{{ invoice.created_at|format_date }}</td>
                            <td>{% if invoice.paid_at %}{{ invoice.paid_at|format_date }}{% else %}-{% endif %}</td>
                            <td>
                                {% if invoice.status == 'paid' %}
                                    <span class="badge bg-success me-1"></span>
                                {% endif %}
                                {% if invoice.status == 'unpaid' %}
                                    <span class="badge bg-danger me-1"></span>
                                {% endif %}
                                {% if invoice.status == 'refunded' %}
                                    <span class="badge bg-warning me-1"></span>
                                {% endif %}
                                {% if invoice.status == 'canceled' %}
                                    <span class="badge bg-secondary me-1"></span>
                                {% endif %}
                                {{ mf.status_name(invoice.status) }}
                            </td>
                            <td>
                                <a class="btn btn-icon" href="{{ '/invoice/manage'|alink }}/{{ invoice.id }}">
                                    <svg class="icon">
                                        <use xlink:href="#edit" />
                                    </svg>
                                </a>
                            </td>
                        </tr>
                        {% else %}
                        <tr>
                            <td colspan="6">{{ 'The list is empty'|trans }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>

                <div class="card-body">
                    <a class="btn btn-primary api-link"
                        href="{{ 'api/admin/invoice/prepare'|link({ 'client_id': client.id, 'CSRFToken': CSRFToken }) }}"
                        data-api-jsonp="onAfterInvoicePrepared">
                        <svg class="icon">
                            <use xlink:href="#plus" />
                        </svg>
                        {{ 'New invoice'|trans }}
                    </a>
                </div>
            </div>
        </div>

        <div class="tab-pane fade" id="tab-support" role="tabpanel" aria-labelledby="support-tab">
            <div class="card-body">
                <h5>{{ 'Client support tickets'|trans }}</h5>
            </div>

            <div class="table-responsive">
                <table class="table card-table table-vcenter table-striped text-nowrap">
                    <thead>
                        <tr>
                            <th class="w-1">#</th>
                            <th>{{ 'Help desk'|trans }}</th>
                            <th>{{ 'Subject'|trans }}</th>
                            <th>{{ 'Status'|trans }}</th>
                            <th class="w-1"></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% set tickets = admin.support_ticket_get_list({ 'per_page': '20', 'client_id': client.id }) %}
                        {% for ticket in tickets.list %}
                        <tr>
                            <td>{{ ticket.id }}</td>
                            <td>{{ ticket.helpdesk.name }}</td>
                            <td>
                                <a href="{{ '/support/ticket'|alink }}/{{ ticket.id }}">{{ ticket.subject|truncate(30) }}</a>
                            </td>
                            <td>
                                {% if ticket.status == 'open' %}
                                    <span class="badge bg-success me-1"></span>
                                {% endif %}
                                {% if ticket.status == 'on_hold' %}
                                    <span class="badge bg-warning me-1"></span>
                                {% endif %}
                                {% if ticket.status == 'closed' %}
                                    <span class="badge bg-secondary me-1"></span>
                                {% endif %}
                                {{ mf.status_name(ticket.status) }}
                            </td>
                            <td>
                                <a class="btn btn-icon" href="{{ '/support/ticket'|alink }}/{{ ticket.id }}">
                                    <svg class="icon">
                                        <use xlink:href="#edit" />
                                    </svg>
                                </a>
                            </td>
                        </tr>
                        {% else %}
                        <tr>
                            <td class="text-muted" colspan="5">{{ 'The list is empty'|trans }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

            <div class="card-body">
                <a href="{{ 'support'|alink({ 'client_id': client.id }) }}#tab-new" class="btn btn-primary">
                    <svg class="icon">
                        <use xlink:href="#plus" />
                    </svg>
                    {{ 'New support ticket'|trans }}
                </a>
            </div>
        </div>

        <div class="tab-pane fade" id="tab-balance" role="tabpanel" aria-labelledby="balance-tab">
            <div class="card-body">
                <h5>{{ 'Client payments history'|trans }}</h5>
            </div>

            <div class="table-responsive">
                <table class="table card-table table-vcenter table-striped text-nowrap">
                    <thead>
                        <tr>
                            <th>{{ 'Amount'|trans }}</th>
                            <th>{{ 'Description'|trans }}</th>
                            <th>{{ 'Date'|trans }}</th>
                            <th class="w-1"></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% set payments = admin.client_balance_get_list({ 'per_page': 20, 'client_id': client.id }) %}
                        {% for i, tx in payments.list %}
                        <tr>
                            <td>{{ mf.currency_format(tx.amount, tx.currency) }}</td>
                            <td>{{ tx.description }}</td>
                            <td>{{ tx.created_at|format_datetime }}</td>
                            <td>
                                <a class="btn btn-icon api-link"
                                    href="{{ 'api/admin/client/balance_delete'|link({ 'id': tx.id, 'CSRFToken': CSRFToken }) }}"
                                    data-api-confirm="{{ 'Are you sure?'|trans }}">
                                    <svg class="icon">
                                        <use xlink:href="#delete" />
                                    </svg>
                                </a>
                            </td>
                        </tr>
                        {% else %}
                        <tr>
                            <td class="text-muted" colspan="4">{{ 'The list is empty'|trans }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <hr>

            <div class="card-body">
                <h5>{{ 'Add funds for client'|trans }}</h5>
                <form class="api-form"
                    method="post"
                    action="{{ 'api/admin/client/balance_add_funds'|link }}"
                    data-api-msg="{{ 'Funds added'|trans }}">
                    <input type="hidden" name="CSRFToken" value="{{ CSRFToken }}"/>
                    <div class="form-group mb-3 row">
                        <label class="form-label col-3 col-form-label" for="inputAmount">{{ 'Amount'|trans }}:</label>
                        <div class="col input-group">
                            <input class="form-control" type="text" id="inputAmount" name="amount" required>
                            <span class="input-group-text">{{ client.currency }}</span>
                        </div>
                    </div>

                    <div class="form-group mb-3 row">
                        <label class="form-label col-3 col-form-label" for="inputDescription">{{ 'Description'|trans }}:</label>
                        <div class="col">
                            <input class="form-control" id="inputDescription" type="text" name="description" required>
                        </div>
                    </div>

                    <input type="hidden" name="id" value="{{ client.id }}">

                    <div class="text-end">
                        <button class="btn btn-primary" type="submit">
                            <svg class="icon">
                                <use xlink:href="#plus" />
                            </svg>
                            {{ 'Add funds'|trans }}
                        </button>
                    </div>
                </form>
            </div>
        </div>

        <div class="tab-pane fade" id="tab-history" role="tabpanel" aria-labelledby="history-tab">
            <div class="card-body">
                <h5>{{ 'Logins history'|trans }}</h5>
            </div>

            <div class="table-responsive">
                <table class="table card-table table-vcenter table-striped text-nowrap">
                    <thead>
                        <tr>
                            <th>{{ 'IP'|trans }}</th>
                            <th>{{ 'Country'|trans }}</th>
                            <th>{{ 'Date'|trans }}</th>
                        </tr>
                    </thead>

                    <tbody>
                        {% set logins = admin.client_login_history_get_list({ 'per_page': 10, 'page': request.page, 'client_id': client.id }) %}
                        {% for i, login in logins.list %}
                        <tr>
                            <td>{{ login.ip }}</td>
                            <td>{{ login.ip|ipcountryname|default('Unknown') }}</td>
                            <td>{{ login.created_at|format_datetime }}</td>
                        </tr>
                        {% else %}
                        <tr>
                            <td class="text-muted" colspan="3">{{ 'The list is empty'|trans }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <div class="tab-pane fade" id="tab-emails" role="tabpanel" aria-labelledby="emails-tab">
            <div class="card-body">
                <h3>{{ 'Emails sent to client'|trans }}</h3>
            </div>

            <div class="table-responsive">
                <table class="table card-table table-vcenter table-striped text-nowrap">
                    <thead>
                        <tr>
                            <th>{{ 'Email subject'|trans }}</th>
                            <th>{{ 'To'|trans }}</th>
                            <th>{{ 'Date'|trans }}</th>
                            <th class="w-1"></th>
                        </tr>
                    </thead>

                    <tbody>
                        {% set emails = admin.email_email_get_list({ 'per_page': '20', 'client_id': client.id }) %}
                        {% for i, email in emails.list %}
                        <tr>
                            <td>{{ email.subject }}</td>
                            <td>{{ email.recipients }}</td>
                            <td>{{ email.created_at|format_datetime }}</td>
                            <td>
                                <a class="btn btn-icon" href="{{ 'email'|alink }}/{{ email.id }}">
                                    <svg class="icon">
                                        <use xlink:href="#edit"></use>
                                    </svg>
                                </a>
                            </td>
                        </tr>
                        {% else %}
                        <tr>
                            <td class="text-muted" colspan="4">{{ 'The list is empty'|trans }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {% include 'partial_pagination.html.twig' with { 'list': emails } %}
        </div>

        <div class="tab-pane fade" id="tab-transactions" role="tabpanel" aria-labelledby="transactions-tab">
            <div class="card-body">
                <h5>{{ 'Transactions received'|trans }}</h5>
            </div>

            {% set transactions = admin.invoice_transaction_get_list({ 'client_id': client.id, 'per_page': 100 }).list %}
            <div class="table-responsive">
                <table class="table card-table table-vcenter table-striped text-nowrap">
                    <thead>
                        <tr>
                            <th>{{ 'ID'|trans }}</th>
                            <th>{{ 'Type'|trans }}</th>
                            <th>{{ 'Gateway'|trans }}</th>
                            <th>{{ 'Amount'|trans }}</th>
                            <th>{{ 'Status'|trans }}</th>
                            <th>{{ 'Date'|trans }}</th>
                            <th class="w-1"></th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for i, tx in transactions %}
                        <tr>
                            <td>{{ tx.txn_id }}</td>
                            <td>{{ tx.type }}</td>
                            <td>{{ tx.gateway }}</td>
                            <td>{{ mf.currency_format(tx.amount, tx.currency) }}</td>
                            <td>{{ mf.status_name(tx.status) }}</td>
                            <td>{{ tx.created_at|format_datetime }}</td>
                            <td>
                                <a class="btn btn-icon" href="{{ '/invoice/transaction'|alink }}/{{ tx.id }}">
                                    <svg class="icon">
                                        <use xlink:href="#edit" />
                                    </svg>
                                </a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td class="text-muted" colspan="7">{{ 'The list is empty'|trans }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js%}
<script>
    function onAfterInvoicePrepared(id) {
        bb.redirect("{{ 'invoice/manage/'|alink }}/" + id);
    }
</script>
{% endblock %}
