{% set periods = guest.system_periods %}
{% set pricing = product.pricing %}
{% set transfer_tlds = guest.serviceDomain_tlds({ "allow_transfer": 1 }) %}
{% set tlds = guest.serviceDomain_tlds({"allow_register":1}) %}
<div class="d-flex mb-3">
    <nav class="nav nav-pills flex-column border-end me-3 gap-2">
        {% if tlds is not empty %}
            <a class="nav-link me-3 py-1 px-2 fs-7 active" href="#" id="register-tab" data-bs-toggle="tab" data-bs-target="#register-tab-pane"
                role="tab" aria-controls="register-tab-pane">Register</a>
        {% endif %}
        {% if transfer_tlds is not empty %}
        <a class="nav-link me-3 py-1 px-2 fs-7 {% if tlds is empty %} active {% endif %}" href="#" id="transfer-tab" data-bs-toggle="tab" data-bs-target="#transfer-tab-pane"
               role="tab" aria-controls="transfer-tab-pane">Transfer</a>
        {% endif %}
    </nav>
    <div class="tab-content">
        {% if tlds is not empty %}
            <div class="tab-pane show active" id="register-tab-pane" role="tabpanel" aria-labelledby="register-tab" tabindex="0">
                <div class="row">
                    <div class="col-sm-12">
                        <label class="form-label">{{ 'Register a new domain'|trans }}</label>
                        <div class="d-flex gap-2">
                            <div class="input-group">
                                <input class="form-control form-control-sm w-75" type="text" name="register_sld"
                                    value="{{ request.register_sld }}"
                                    placeholder="{{ 'Enter new domain name to register'|trans }}">
                                <select class="form-select form-select-sm w-25" name="register_tld">
                                    {% for tld in tlds %}
                                        <option value="{{ tld.tld }}" label="{{ tld.tld }}">{{ tld.tld }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <button class="btn btn-sm btn-dark" type="button" id="domain-check">{{ 'Check'|trans }}</button>
                        </div>
                    </div>
                    <div class="c">
                        <div class="onAfterDomainCheck" style="display:none;">
                            <label class="mt-2">
                                <select class="form-select form-select-sm" name="register_years" id="registration-years"></select>
                            </label>
                            <br/>
                            <div class="form-check form-switch my-3">
                                <input class="form-check-input" type="checkbox" role="switch" id="nameserversCb">
                                <label class="form-check-label text-sm" for="nameserversCb">
                                    {{ 'I want to use my nameservers'|trans }}
                                </label>
                            </div>
                            <div id="nameservers" class="flex-column row" style="display:none;">
                                <div class="mb-2 col-md-6">
                                    <input class="form-control form-control-sm" type="text" name="ns1" value="" placeholder="{{ 'Nameserver 1'|trans }}"/>
                                </div>
                                <div class="mb-2 col-md-6">
                                    <input class="form-control form-control-sm" type="text" name="ns2" value="" placeholder="{{ 'Nameserver 2'|trans }}"/>
                                </div>
                                <div class="mb-2 col-md-6">
                                    <input class="form-control form-control-sm" type="text" name="ns3" value="" placeholder="{{ 'Nameserver 3'|trans }}"/>
                                </div>
                                <div class="mb-2 col-md-6">
                                    <input class="form-control form-control-sm" type="text" name="ns4" value="" placeholder="{{ 'Nameserver 4'|trans }}"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
        {% if transfer_tlds is not empty %}
            <div class="tab-pane {% if tlds is empty %} show active {% endif %}" id="transfer-tab-pane" role="tabpanel" aria-labelledby="transfer-tab" tabindex="0">
                <div class="row">
                    <div class="col-sm-12">
                        <label class="form-label">{{ 'Transfer a new domain'|trans }}</label>
                        <div class="d-flex gap-2">
                            <div class="input-group">
                                <input class="form-control form-control-sm w-75" type="text" name="transfer_sld"
                                       value="{{ request.transfer_sld }}"
                                       placeholder="{{ 'Enter your domain name to transfer'|trans }}">
                                <select class="form-select form-select-sm w-25" name="transfer_tld">
                                    {% for tld in transfer_tlds %}
                                        <option value="{{ tld.tld }}" label="{{ tld.tld }}">{{ tld.tld }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <button class="btn btn-sm btn-dark" type="button" id="transfer-check">{{ 'Check'|trans }}</button>
                        </div>
                    </div>
                    <div id="domain-transfer-config" style="display:none;">
                        <p class="fs-7 mt-2">{{ 'Transfer price is'|trans }}&nbsp;<span class="fw-bold" id="transfer-price"></span></p>
                        <input class="form-control form-control-sm" type="text" name="transfer_code" value="{{ request.transfer_code }}"
                               style="width: 200px" placeholder="{{ 'Enter domain transfer code'|trans }}">
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
</div>

<input type="hidden" name="id" value="{{ product.id }}"/>
<input type="hidden" name="action" value="register" id="domain-action"/>

{% set currency = guest.cart_get_currency %}
<script>
    let nameserversCbEl = document.getElementById('nameserversCb');
    let nameserversEl = document.getElementById('nameservers');
    nameserversCbEl.addEventListener('change', () => {
        if (nameserversCbEl.checked) {
            nameserversEl.style.display = "flex";
        } else {
            nameserversEl.style.display = "none";
        }

    })

    document.addEventListener("DOMContentLoaded", function() {
        document.querySelectorAll('.nav-pills a').forEach(tab => {
            tab.addEventListener('click', function() {
                document.getElementById('domain-action').value = this.id.replace('-tab', '');
            });
        });

        document.getElementById('config-next').style.display = 'none';
        document.getElementById('config-next').disabled = true;

        if (document.querySelector(".addons")) {
            document.querySelectorAll('.order-button').forEach(button => {
                button.addEventListener('click', function handleClick(event) {
                    this.style.display = 'none';
                    document.querySelector('.addons').style.display = 'block';
                    this.removeEventListener('click', handleClick);
                    return false;
                }, { once: true });
            });
        }

        document.querySelectorAll('.addon-period-selector').forEach(selector => {
            function handleChange() {
                const relatedElement = selector.getAttribute('rel');
                document.querySelectorAll(`#${relatedElement} span`).forEach(span => {
                    span.style.display = 'none';
                });
                document.querySelectorAll(`#${relatedElement} span.${selector.value}`).forEach(span => {
                    span.style.display = '';
                });
            }

            selector.addEventListener('change', handleChange);
            // Trigger the change event initially
            handleChange();
        });

        document.getElementById('transfer-check').addEventListener('click', function(event) {
            var sld = document.querySelector('input[name="transfer_sld"]').value;
            var tld = document.querySelector('select[name="transfer_tld"]').value;
            var domain = sld + tld;
            document.getElementById('domain-action').value = 'transfer';

            API.guest.post('servicedomain/can_be_transferred', { sld: sld, tld: tld },
                (result) => {
                    setTransferPricing(tld);
                    document.getElementById('domain-name').textContent = domain;
                    document.getElementById('domain-transfer-config').style.display = 'block';
                    document.querySelector('.onAfterDomainCheck').style.display = 'block';
                    document.getElementById('transfer-check').style.display = 'none';
                    document.querySelector('#transfer .order-button').style.display = 'block';
                }
            );

            event.preventDefault();
        });

        document.getElementById('domain-check').addEventListener('click', function(event) {
            var sld = document.querySelector('input[name="register_sld"]').value.toLowerCase;
            var tld = document.querySelector('select[name="register_tld"]').value;
            var domain = sld + tld;
            document.getElementById('domain-action').value = 'register';

            API.guest.post('servicedomain/check', { sld: sld, tld: tld },
                () => {
                    setPricing(tld);
                    document.getElementById('domain-name').textContent = domain;
                    document.querySelector('.onAfterDomainCheck').style.display = 'block';
                    document.getElementById('domain-check').style.display = 'none';
                    document.querySelector('#register .order-button').style.display = 'block';
                });

            event.preventDefault();
        });
    });

    function setPricing(tld) {
        API.guest.post('servicedomain/pricing', { tld: tld }, (result) => {
            const selectElement = document.getElementById('registration-years');

            selectElement.innerHTML = '';

            for (let i = 1; i < 6; i++) {
                let price = parseFloat(result.price_registration) * parseFloat({{ currency.conversion_rate }});
                price = price * i;
                price = price.toFixed(2) + ' ' + "{{ currency.code }}";

                const option = new Option(i + "{{ ' Year/s @ '|trans }}" + price, i);
                selectElement.appendChild(option);
            }

            document.getElementById('config-next').style.display = 'block';
            document.getElementById('config-next').disabled = false;
        });
    }

    function setTransferPricing(tld) {
        API.guest.post('servicedomain/pricing', { tld: tld }, (result) => {
            let price = parseFloat(result.price_registration) * parseFloat( {{ currency.conversion_rate }});
            price = price.toFixed(2) + ' ' + "{{ currency.code }}";

            document.getElementById('transfer-price').textContent = price;
            document.getElementById('config-next').style.display = 'block';
            document.getElementById('config-next').disabled = false;
        });
    }
</script>
