{% if order.status == 'active' %}
<div class="card ml-3 w-100 mt-2">
    <div class="card-header">
        <h2>{{ 'Download'|trans }} {{ service.filename }}</h2>
    </div>
    <div class="card-body">
        <a class="btn btn-primary btn-large" href="{{ 'servicedownloadable/get-file'|link }}/{{ order.id }}">{{ 'Download'|trans }}</a>
    </div>
</div>
{% endif %}
